<div class="media">
  <div class="media-left">
    <img loading="lazy" src="{{ url({tag:"api/captcha/#{cryptBase64}"}) }}" alt="Image du captcha. Désolé, ce composant n'est pas accessible aux personnes malvoyantes.">
  </div>
  <div class="media-body">
    <strong>{{ _t('CAPTCHA_VERIFICATION') }}</strong>
    <input type="hidden" name="captcha_hash" value="{{ crypt }}" />
    <input class="form-control" type="text" name="captcha" placeholder="{{ _t('CAPTCHA_WRITE') }}" value="" required>
  </div>
</div>
