/***********************************Nuage de mot clés************************************/

.boite_nuage {display:block;}

li.liste_tooltip {
display:block;
float:left;
list-style-type:none;
background-image:none;
color:#000;
margin:0;
padding:0;
}


.nuage a {
color:#000;
text-decoration:none;
border:0;
background:transparent;
}

.nuage a:hover {
background:transparent;
text-decoration:none;
border:0;
}

a.size6 {
font-size:38px;
/* color:#e13728; */
color:#CBEBF8;
padding:0 4px;
}

a.size5 {
font-size:34px;
/* color:#c4876a;
color:#26204B; */
color:#97BF1F;
padding:5px;
}

a.size4 {
font-size:29px;
/* color:#804d40;
color:#02A0CB;*/
color:#89AEEA;
padding:10px;
}

a.size3 {
font-size:24px;
/* color:#e13728;
color:#6D6A93; */
color:#8CBF1F;
padding:5px;
}

a.size2 {
font-size:19px;
/* color:#b9251a; 
color:#F8BE7D;*/
color:#6196ED;
padding:7px;
}

a.size1 {
font-size:14px;
/* color:#b46a47; 
color:#F39F35;*/
color:#62A61B;
padding:5px;
}

a.size5:hover,a.size6:hover {
color:#b46a47;
}

a.size1:hover,a.size2:hover,a.size3:hover,a.size4:hover {
color:#e13728;
}

.hovertip {
display:none;
z-index:100;
/* background:#FFF;
background-color: rgba(255, 255, 255, 0.7); */
border:1px solid #CCCCCC;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
-moz-box-shadow:1px 1px 1px 0 rgba(50,50,50,.75);
-webkit-box-shadow:1px 1px 1px 0 rgba(50,50,50,.75);
box-shadow:1px 1px 1px 0 rgba(50,50,50,.75);
width:260px;
max-height:260px;
overflow:auto;
margin:0;
padding:10px;
background: white;
/* background: -moz-linear-gradient(top,  #efefef 0%, #cccccc 50%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(50%,#cccccc), color-stop(100%,#cccccc)); 
background: -webkit-linear-gradient(top,  #efefef 0%,#cccccc 50%,#cccccc 100%); */
background: -o-linear-gradient(top,  #efefef 0%,#cccccc 50%,#cccccc 100%);
background: -ms-linear-gradient(top,  #efefef 0%,#cccccc 50%,#cccccc 100%);
background: linear-gradient(top,  #efefef 0%,#cccccc 50%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cccccc',GradientType=0 );
}

.hovertip ul {
position:relative;
display:block;
list-style-type:none;
margin:0;
padding:0 0 0 15px;
}

li.liste_pageswiki {
float:none;
display:list-item;
list-style-type:disc;
background-image:none;
color:#000;
text-align:left;
margin:0;
padding:0;
}

.hovertip li a {
text-decoration:none;
font-weight:700;
color:#804d40;
display:block;
}

.hovertip li a:hover {
color:#b9251a;
}

.texte_pages_assoc {
    font-size: 0.9em;
}

/***********************************FIN Nuage de mot clés************************************/


label.formulaire {
text-align:right;
float:left;
clear:right;
display:block;
width:14%;
margin:0;
}

textarea.microblog_billet {
border:1px solid #999;
background:#222;
color:#000;
width:84%;
float:right;
display:block;
margin:0 0 5px;
}

input.microblog_toustags {
border:1px solid #999;
background:#FFF;
color:#222;
width:84%;
display:inline;
margin:0 0 5px;
}

.groupe_boutons {
display:block;
clear:both;
text-align:right;
margin:0 0 10px;
}

input.bouton {
border:1px solid #333;
color:#222;
margin:0 0 0 10px;
}

.bulle_microblog {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:0 1px 2px #DDD;
-webkit-box-shadow:0 1px 2px #DDD;
border:1px solid #DDD;
background:#FFF;
color:#222;
clear:both;
margin:0 0 15px;
padding:0;
}

.lien_titre,.lien_titre_accordeon {
float:left;
margin:5px 10px;
font-weight:bold;
}

.date_microblog {
float:right;
font-size:.9em;
margin:5px 10px;
}

.auteur_microblog {
float:left;
font-size:.9em;
margin:5px 0 5px 0;
}

.billet_microblog {
clear:both;
float:left;
font-size:1em;
margin:10px;
}

.commentaires_microblog {
clear:both;
margin:0 10px 10px;
}

.edition_billet_microblog {
clear:both;
font-size:.9em;
background:#EEE;
width:100%;
-moz-border-radius-bottomleft:15px;
-moz-border-radius-bottomright:15px;
-webkit-border-bottom-left-radius:15px;
-webkit-border-bottom-right-radius:15px;
-khtml-border-bottom-left-radius:15px;
-khtml-border-bottom-right-radius:15px;
text-align:right;
margin:10px 0 0;
padding:4px 0;
}

.accordeon_cache {
clear:both;
float:left;
width:100%;
display:none;
}

.spacer_microblog {
clear:both;
display:block;
margin:0;
padding:0;
}

a.voir_page,a.voir_billet,a.voir_commentaire {
font-weight:700;
color:#000;
border:0;
background:url(../images/voir.png) no-repeat top left;
text-decoration:none;
margin:0 10px 0 0;
padding:0 0 0 15px;
}

a.editer_billet,a.editer_commentaire {
font-weight:700;
color:#000;
border:0;
background:url(../images/edit.png) no-repeat top left;
text-decoration:none;
margin:0 10px 0 0;
padding:0 0 0 15px;
}

a.supprimer_page,a.supprimer_billet,a.supprimer_commentaire {
font-weight:700;
color:#000;
border:0;
background:url(../images/trash.gif) no-repeat top left;
text-decoration:none;
margin:0 10px 0 0;
padding:0 0 0 15px;
}

a.repondre_billet,a.repondre_commentaire {
font-weight:700;
color:#000;
border:0;
background:url(../images/comment.png) no-repeat top left;
text-decoration:none;
margin:0 10px 0 0;
padding:0 0 0 15px;
}

a:hover.voir_page,a:hover.voir_billet,a:hover.voir_commentaire,a:hover.editer_billet,a:hover.editer_commentaire,a:hover.supprimer_page,a:hover.supprimer_billet,a:hover.supprimer_commentaire,a:hover.repondre_billet,a:hover.repondre_commentaire {
text-decoration:underline;
}

strong.lien_commenter,strong.admin_commenter {
display:inline;
background:url(../images/comment.png) no-repeat top left;
margin:30px 0 0;
padding:0 0 0 15px;
}

.include_liste {
border-bottom:3px solid #EEE;
margin:15px 0;
padding:0 0 20px;
}

.alaligne {
clear:left;
}

.lienpage {
display:inline;
}

.liste_pager {
text-align:center;
font-size:.8em;
border-top:1px solid #EEE;
border-bottom:1px solid #EEE;
width:290px;
margin:10px auto 30px;
padding:4px 0;
}

.comment {
font-size:1em;
background:#f5f5f5;
border:1px solid #EEE;
margin:4px auto;
padding:0;
}

.comment a {
text-decoration:none;
font-weight:700;
color:#555;
}

.comment a:hover {
text-decoration:underline;
font-weight:700;
color:#555;
}

.comment_a_editer {
background:#f5f5f5;
font-size:1em;
text-align:right;
margin:4px auto;
padding:5px;
}

.commenthtml {
font-size:1em;
margin:10px;
padding:0;
}

.commentinfo {
float:right;
font-size:.8em;
color:#AAA;
margin:5px;
}

.commentactions {
clear:both;
font-size:.8em;
border-top:1px solid #EEE;
text-align:right;
margin:0;
padding:2px;
}

.commentreponses {
background:transparent;
padding:0 0 0 30px;
}

.reponsecommentform {
font-size:1.1em;
background:#f5f5f5;
text-align:right;
margin:0;
padding:5px;
}

.listeinfo,.microbloginfo {
font-size:.8em;
color:#AAA;
margin:4px 0 15px;
}

.lien_commenter {
font-size:.9em;
display:block;
margin:0;
}

.microblogcommentform {
text-align:right;
margin:10px 0 0;
}

.commentaire_microblog {
width:99%;
height:50px;
border:1px solid #BBB;
text-align:left;
}

.bouton_submit,.bouton_annul,.bouton_microblog {
border:1px solid #BBB;
font-size:.8em;
}

.info_nb_car_max {
display:none;
}

.liens_rss {
text-align:right;
width:100%;
display:block;
margin:3px 0 5px;
}

.liens_rss a {
color:#e77630;
}

.liens_rss a:hover {
color:#fbba77;
text-decoration:none;
}

.liens_rss a img {
border:0;
}


/***********************************Edition des mot clés************************************/

ul.tagit {
	margin:10px 0;
	padding: 1px 5px 1px 36px;
	overflow: auto;
    margin-left: inherit; 
    margin-right: inherit;
    background:url(../images/tags.png) no-repeat 1px 2px #FFF;
    border-style: solid;
	border-width: 1px;
	border-color: #C6C6C6;
	min-height:32px;
}

ul.tagit.show {
	border:0;
	background-color:transparent;
}
ul.tagit li {
	display: block;
	float: left;
	margin: 2px 5px 2px 0;
	font-size:14px;
}
ul.tagit li.tagit-choice {
	padding: .1em 18px .1em .3em;
    position: relative;
    line-height: inherit;
}
ul.tagit li.tagit-new {
	padding: .1em 4px .1em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
	cursor: pointer;
	text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
	cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
}


ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
	display: block;
	float: left;
	margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;

    border: none;
	margin: 0;
	padding: 0;
	width: inherit;
	background-color: inherit;
    outline: none;
}

ul.tagit li.tagit-choice {
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
	border: 1px solid #CAD8F3;

    background: none;
	background-color: #DEE7F8;

    color: #555;
    font-weight: normal;
}

ul.tagit li.tagit-tag, span.tagit-tag {
	text-decoration:none;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
	border: 1px solid #CAD8F3;
    background: none;
	background-color: #DEE7F8;
    color: #555;
    font-weight: normal;
    padding: .2em .3em .2em .3em;
}
ul.tagit li.tagit-tag a, span.tagit-tag a{
	color: #555;
}

ul.tagit li.tagit-choice a.tagit-close {
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    right: .4em;
}
ul.tagit li.tagit-choice .ui-icon {
    display: none;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #777;
}
ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-tag:hover, span.tagit-tag:hover, ul.tagit li.tagit-choice.remove, ul.tagit li.selectedtag {
    background-color: #bbcef1;
    border-color: #6d95e0;
}

ul.tagit li.tagit-choice a.tagLabel:hover,
ul.tagit li.tagit-choice a.tagit-close .text-icon:hover {
    color: #222;
}
ul.tagit input[type="text"] {
	color: #333333;
    background: none;
}
.floatright {float:right;}
/************************************FIN Edition des mot clés************************************/

/************************************Admin tags************************************/
ul.taglist {list-style:none; margin:0; padding:0;}
li.taglistitem {margin:25px 0;}
span.tagpresence {font-weight:bold;}
a.wikipagelink {display:inline-block;}
ul.liste_pages_tag {list-style:none; margin:0; padding:0;}
ul.liste_pages_tag li {margin:5px 0; padding:0 0 0 15px;}
a.supprimer_tag {
color:#222;
border:0;
background:url(../images/trash.gif) no-repeat center left;
text-decoration:underline;
margin:0;
padding:0 0 0 12px;
}
.taglist tr {padding:15px 0;}
.taglist td {padding:5px;}
.taglist td.taglistitem {text-align:right;}
.taglist td.delete_all_tags {font-weight:bold; font-size:.9em;}
.taglist td.delete_tag {font-size:.9em;}
.taglist td.spacer {padding:0;}


/************************************Commentaires************************************/
.admin_commenter {
margin:10px 0;
font-weight:bold;
}
