 /* Styles for yeswiki's template
  * Author: Florian Schmitt <florian@outils-reseaux.org>
  * under GNU General Public License 
  *
  * Colors used for gradient:
  * #EFEFEF rgba(239, 239, 239, 0.9) : light gray
  * #CCCCCC rgba(204,204,204,.75) : dark gray
  *
  */

body {
background:#E1E1E1;
}

#container {
margin:15px auto;
padding:0;
background: #fff;
background: rgba(255, 255, 255, 0.8);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0ffffff,endColorstr=#C0ffffff);
zoom: 1;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

header h1 { color:#333; text-align:center; text-shadow: 1px 1px 1px white;}
header h2 { color:#333; text-align:center;}

.topbar {font-size:0.9em; margin:10px;}
.topbar a {color:#333; text-decoration:none; display:inline-block; margin:4px 10px;}
.topbar a:hover {text-decoration:underline;}

/* gradient light gray to dark grey */
#topnav, .footer, .liste-deroulante li:hover, .liste-deroulante li.hover, .liste-deroulante li.liste-active {
background: #CCC;
background: rgba(204, 204, 204, 0.9);
background: -moz-linear-gradient(top,  rgba(239, 239, 239, 0.9) 0%, rgba(204, 204, 204, 0.9) 50%, rgba(204, 204, 204, 0.9) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239, 239, 239, 0.9)), color-stop(50%,rgba(204, 204, 204, 0.9)), color-stop(100%,rgba(204, 204, 204, 0.9)));
background: -webkit-linear-gradient(top,  rgba(239, 239, 239, 0.9) 0%,rgba(204, 204, 204, 0.9) 50%,rgba(204, 204, 204, 0.9) 100%);
background: -o-linear-gradient(top,  rgba(239, 239, 239, 0.9) 0%,rgba(204, 204, 204, 0.9) 50%,rgba(204, 204, 204, 0.9) 100%);
background: -ms-linear-gradient(top,  rgba(239, 239, 239, 0.9) 0%,rgba(204, 204, 204, 0.9) 50%,rgba(204, 204, 204, 0.9) 100%);
background: linear-gradient(top,  rgba(239, 239, 239, 0.9) 0%,rgba(204, 204, 204, 0.9) 50%,rgba(204, 204, 204, 0.9) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0EFEFEF,endColorstr=#C0CCCCCC);
zoom: 1;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
/* gradient dark gray to light grey (pour le survol et liens actifs) */
#topnav li:hover, #topnav li.liste-active, #topnav ul ul a:hover, #topnav ul ul li:hover {
background: #EFEFEF;
background: rgba(239, 239, 239, 0.9);
background: -moz-linear-gradient(top,  rgba(204, 204, 204, 0.9) 0%, rgba(239, 239, 239, 0.9) 50%, rgba(239, 239, 239, 0.9) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204, 204, 204, 0.9)), color-stop(50%,rgba(239, 239, 239, 0.9)), color-stop(100%,rgba(239, 239, 239, 0.9)));
background: -webkit-linear-gradient(top, rgba(204, 204, 204, 0.9) 0%,rgba(239, 239, 239, 0.9) 50%,rgba(239, 239, 239, 0.9) 100%);
background: -o-linear-gradient(top, rgba(204, 204, 204, 0.9) 0%,rgba(239, 239, 239, 0.9) 50%,rgba(239, 239, 239, 0.9) 100%);
background: -ms-linear-gradient(top, rgba(204, 204, 204, 0.9) 0%,rgba(239, 239, 239, 0.9) 50%,rgba(239, 239, 239, 0.9) 100%);
background: linear-gradient(top, rgba(204, 204, 204, 0.9) 0%,rgba(204, 204, 204, 0.9) 50%,rgba(204, 204, 204, 0.9) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0EFEFEF,endColorstr=#C0CCCCCC);
zoom: 1;
}

/* menu deroulant du haut pour la navigation */
#topnav { 
display:block;
position:relative;
font-size:1.1em;
margin:15px 0;
padding:0;
}
#topnav ul { padding:0; margin:0; }
#topnav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
#topnav li {
position:relative; 
float:left; 
list-style-type:none; 
padding:8px 20px;
margin:0;
color:#333;
display:block;
font-weight:bold;
text-decoration:none;
}
#topnav li a, #topnav li a:visited{
padding:8px 20px;
margin:-8px -20px;
color:#333;
font-weight:bold;
text-decoration:none;
text-shadow: 1px 1px 1px #EEEEEE;
display:inline-block;
}
#topnav > div > ul > li { border-left:1px solid #999; border-right:1px solid #CCC; }
#topnav > div > ul > li:first-child { border-left:none; }
#topnav > div > ul > li:last-child { border-right:none; }
#topnav span.arrow { font-family: Arial; font-size: 13px; margin: 2px 0 0 15px; width:20px;}
#topnav ul ul { 
display:none; width:230px; position:absolute; top:35px; left:0; 
background: #CCC;
background: rgba(204, 204, 204, 0.9);
padding:0; margin:0; z-index:99;border:none;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
-webkit-border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px;
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
z-index:99;
}
#topnav ul ul li { 
float:none; 
border:none;
border-left:1px solid rgba(0,0,0,0.1); 
border-right:1px solid rgba(0,0,0,0.1);
}
#topnav ul ul a { padding:5px 10px; border:none; float:none; display:block; font-size:14px; }
#topnav ul ul ul { display:none; width:200px; position:absolute; left:229px; top:0;
padding:0; margin:0; 
-moz-border-radius-topright:4px;
-webkit-border-top-right-radius:4px;
border-top-right-radius:4px;
}
#topnav ul ul ul ul {left:199px;}
.no-js #topnav li:hover ul { display:block; }

#topnav ul ul li.last { border-left:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1); -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }

#topnav .search-form {margin: 6px;}
#topnav .search_input {width: 100px;}

.page, .liste-deroulante, .colonne-droite {
position:relative;
margin:0;
min-height:400px;
padding:10px 20px;
}

.commentsheader {display:none; margin:0 0 10px 0;}
.commentform {margin:0 0 10px 0;}

.hr_clear {clear:both; margin:0; padding:0; border:0; height:0; visibility:hidden; background:transparent;}

.comment {
background:#F3F3F3;
border:1px solid #E3E3E3;
line-height:24px;
margin-bottom: 20px;
overflow: hidden;
padding: 15px;
background-image:-moz-linear-gradient(0% 130px 90deg, #E3E3E3, #F3F3F3);
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F3F3), to(#E3E3E3)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F3F3F3, endColorstr=#E3E3E3); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F3F3F3, endColorstr=#E3E3E3)";
-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
.commentinfo {
color:#999;
}
.commenteditlink {
float:right;
margin:2px;
text-align:right;
line-height:14px;
display:none;
}
.comment:hover .commenteditlink {
    display:block;
}
.commentform {
margin:15px 0 0 0;
}

.footer {
font-size:0.9em;
margin: 25px 0 0;
padding: 4px 0;
text-align:center;
color:#333;
text-shadow: 1px 1px 1px #EEEEEE;
}

.footer a {font-weight:bold; color:#333; text-decoration:none; display:inline-block; margin: 0 6px 0 0;}
.footer a:hover {text-decoration:underline;}

footer {   
margin: 30px 0;
padding: 0;
font-size:0.9em;
color:#333;
}
.liste-deroulante li .arrow {margin: 2px 2px 0 0;}
.liste-deroulante li {font-weight:normal; margin:0 0 8px;}
.liste-deroulante a {
font-weight:bold;
display: block;
padding: 2px 5px;
text-shadow: 1px 1px 1px #EEEEEE;
}

#ACEditor .form-actions {margin:0 -10px -18px;}