/*white silver gray black maroon red orange yellow olive green teal lime aqua blue navy purple fuchsia*/
body {background: #F5F5F5 url(../images/pollen_bandeau.jpg) repeat scroll; color: black; }
body, p, td, li, input, select, textarea { font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 1.3; }
h1, h2, h3, h4, h5 { margin: 0px; padding: 0px; }
a { color: #779b7d; }
.header a { color: red; text-decoration: none ; }
.header2 a { color: #FDD131; text-decoration: none ; }
.page_name a {color: white; text-decoration: none ; }
.menu_column a {color: orange; text-decoration: none ; font-family: Chalkboard, Verdana, Geneva, sans-serif; font-size: 18px; }
ul { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }
ol { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }
form { margin: 0px; padding: 0px; }
tt { color: Navy; }
hr { border: 0px; color: Black; /* Internet Explorer */ background-color: Black; height: 1px; }
img, img a, a img {border:none;}
/*----------*/
.wiki_name { float: left; margin: 0px 15px 0px 10px; font-size: 100%; color: white;}
.page_name {font-size: 150%;text-align: center; color:red }
.error { color: #CC3333; font-weight: bold; }
.indent { margin-left: 40px; }
.additions { color: #008800; }
.deletions { color: #880000; }
.add { font-weight: bold; color: #c00; text-decoration: underline; }
.del { font-style: italic; color: #c00; text-decoration: line-through; }
.header { padding-top: 12px;  text-align: center;   color: red; font-size: 150%;}
.header2 { padding-top: 0px; padding-bottom: 17px;  text-align: center;   color: #FDD131; font-size: 120%;}
.page, .commentaires_billet_microblog { background-color: #feedcc; padding: 12px; border: 4px solid #ccc; border-bottom: none; }
#footer strong.admin_commenter {background-color:#feedcc; padding: 12px; border: 4px solid #ccc; border-bottom: none; border-top:none; display:block; margin:0; padding:0;}
#footer {background-color: #DDDDDD; padding: 12px; border: 4px solid #ccc; border-bottom: none; border-top:none;}
#footer strong.lien_commenter { display:block; margin:0 background-color: #feedcc; padding: 3px; border: 4px solid #ccc; border-bottom: none; border-top: none;}
/*----------*/
.page_table {width: 100%; margin:.8% 0% 0 0; padding: 0 ; border: none;}
.menu_column {float:left; width: 180px; margin: 20px 0 20px 0; border: thin hidden #d8d8d8; padding:10px; color: white; /*background: #f9fd84  url(../images/cicindelle__nardi.gif) no-repeat center 20px*/}
.body_column {margin:0 1% 0 220px; border: none; padding:0;}
.portail_fondimage {background: url(../images/XXL_01_fond.jpg) center; display: block; padding: 3% 6% 3% 6%; border-style: ridge;border-width: medium; text-shadow: #68c964 0 0 3px; font-size: 110%;

/*----------*/
.page_preview {padding: 10px; border: 1px inset; border-bottom: none; background-color: silver;}
.prev_alert { background-color: red; color: white; font-size: 1.5em; margin-bottom: 5px; }
.edit { width: 100%; height: 1000px; }
.footer { background-color: #efe0c0; padding: 5px 10px; border: 4px solid #ccc; border-top: none; border-top: 1px solid #CCCCCC }
.code { background: #FFFFFF; border: solid #888888 2px; font-family: 'Courier New', Courier; width: 100%; height: 400px; overflow: scroll; padding: 3px; }
.revisioninfo { color: #AAAAAA; padding-bottom: 20px; }
.commentsheader { background-color: #efe0c0; padding: 2px 10px; border-left: 1px inset; border-right: 1px inset; border-top: 1px solid #CCCCCC }
.comment { background-color: #EEEEEE; padding: 10px; border-left: 1px inset; border-right: 1px inset; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #EEEEEE; }
.commentinfo { color: #AAAAAA; }
.commentform { background-color: #EEEEEE; padding: 10px; border-left: 1px inset; border-right: 1px inset; border-top: 1px solid #CCCCCC }
.commenteditlink { float: right; margin: 2px; }
.copyright { font-size: 11px; color: #AAAAAA; text-align: right; }
.copyright A { color: #AAAAAA; }
.searchbox { background: #FFFFF8; border: 0px; border-bottom: 1px solid #CCCCAA; padding: 0px; margin: 0px; }
.debug { font-size: 11px; color: #888888; }
.hr_clear { clear: both; visibility: hidden; }
/* bloc flottants & encadrÃ©s */
.include_right { float: right; width: 17%; } 
.include_left { float: left; width: 17%; }
.include_solid_border { border: solid; padding: 2px; }
.include_gray_background { background-color: #DDDDDD; }
.include_small_fonts { font-size: 0.8em; }
.include_big_fonts { font-size: 1.2em; }
.include_height10em { height: 10em; overflow: scroll; } /* boite de 10em de hauteur, avec ascenseur */
.include_height15em { height: 15em; overflow: scroll; }
.include_height30em { height: 30em; overflow: scroll; }
.include_height60em { height: 60em; overflow: scroll; }
.include_editlink { float: right; } /* bloc flotant a droite */
.include_editlink { display:none; } /* Inhibe l'affichage du bloc "include_editlink" */
/*.include_editlink { _display: bloc; }*/ /* Option de compatibilite facultative pour certains navigateurs obsolètes */
.include:hover .include_editlink { display: block; } /* Au passage de la souris sur le bloc "include", affiche le bloc "include_editlink" */
.trail_table { line-height: 30px;}
.trail_button { color: #993333; }

.attach_margin05em { margin: 0.5em;}             /* marge de 0.5 em autour de l'image*/
.attach_margin1em { margin: 1em;}                /* marge de 1em autour de l'image*/
.attach_left {float: left;}                      /* bloc flottant a gauche */
.attach_right {float: right;}                    /* bloc flottant a droite */
.attach_noborder {border-width: 0px;}            /* pas de bordure */
.attach_vmiddle {vertical-align: text-bottom;}   /* alignement vertical au milieu */

.tableFM {border: thin solid Black; width: 100%;  }
.tableFM THEAD { background-color: Silver; font-weight: bold; text-align: center;   }
.tableFM TFOOT { background-color: Silver; font-weight: bold; text-align: left;   }
.tableFM TBODY TR { text-align: center;  }
.tableFMCol1 { background-color: Aqua; }
.tableFMCol2 { background-color: Yellow; }

/*.formulairemail {color: red;  }*/
/* formulaire contac*/
.textbox {vertical-align: top;  }

/* formulaire de connexion */
.formulaire_identification a { color: red;  text-decoration: none ; font-family: Chalkboard, Verdana, Geneva, sans-serif; font-size: 18px; }
.label_iden { color: red;  text-decoration: none ; font-family: Chalkboard, Verdana, Geneva, sans-serif; font-size: 18px; }
.inscription_iden { color: red;  text-decoration: none ; font-family: Chalkboard, Verdana, Geneva, sans-serif; font-size: 18px; }
