<form id="ajax-contact-form<?php echo $nbactionmail; ?>" class="ajax-mail-form <?php echo $class; ?>" action="<?php echo $mailerurl; ?>">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input required class="form-control" type="text" name="name" placeholder="<?php echo _t('CONTACT_YOUR_NAME'); ?>" />
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input required class="form-control" type="email" name="email" placeholder="<?php echo _t('CONTACT_YOUR_MAIL'); ?>" />
    </div>
  </div>

  <div class="form-group">
      <input required class="form-control contact-subject" type="text" name="subject" placeholder="<?php echo _t('CONTACT_SUBJECT'); ?>" />
  </div>

  <div class="form-group">
    <textarea required rows="8" class="form-control contact-message" name="message" placeholder="<?php echo _t('CONTACT_YOUR_MESSAGE'); ?>"></textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block mail-submit" type="submit" name="submit"><i class="icon-envelope icon-white"></i>&nbsp;<?php echo _t('CONTACT_SEND_MESSAGE'); ?></button>
  </div>
  <input type="hidden" name="nbactionmail" value="<?php echo $nbactionmail; ?>" />
  <input type="hidden" name="entete" value="<?php echo $entete; ?>" />
  <input type="hidden" name="type" value="contact" />
</form>
