<form id="ajax-contact-form<?php echo $nbactionmail; ?>" class="ajax-mail-form form-inline <?php echo $class; ?>" action="<?php echo $mailerurl; ?>">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input required class="form-control" type="email" name="email" placeholder="<?php echo _t('CONTACT_YOUR_MAIL'); ?>">
      <span class="input-group-btn">
        <button class="btn btn-primary mail-submit" type="submit" name="submit"><?php echo $placeholder; ?></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /form-group -->
  <?php echo $hiddeninputs; ?>
	<input type="hidden" name="nbactionmail" value="<?php echo $nbactionmail; ?>" />
	<input type="hidden" name="entete" value="<?php echo $placeholder; ?>" />
	<input type="hidden" name="type" value="<?php echo $demand; ?>" />
</form>
