.ace-editor-container {
  padding: 1em .7em 0em 0;
  margin-bottom: 1rem;
}
/* Show line numbers only on page edit */
form:not(#ACEditor) .ace-editor-container .ace_gutter {
  display: none !important;
}
form:not(#ACEditor) .ace-editor-container .ace_scroller {
  left: .7em !important;
}
.ace-body {
  height: 150px;
  border: none;
  padding: 0;
}
.ace-editor-container.big .ace-body {
  min-height: 500px;
}
.ace_layer {
  color: var(--main-text-color);
}
.ace-body .ace_cursor {
  color: var(--neutral-color);
  border-width: 1px !important;
}
.ace-body .ace_marker-layer .ace_active-line {
  /*background: rgba(0, 0, 0, 0.03);*/
  background: transparent;
  margin: 0 4px;
  border-radius: 3px;
}

.ace-body .ace_markup {
  color: #bc1c96;
}
.ace-body .ace_tag.ace_yw-action {
  color: #bc1c96 !important;
}
.ace-body .ace_list { font-weight: bold; }

.ace-body .ace_attribute-name {
  color: var(--primary-color);
}
.ace-body .ace_attribute-value {
  color: var(--secondary-color-1) !important;
}
.ace-body .ace_string {
  color: var(--neutral-color);
}
.ace-body .ace_markup.ace_html {
  color: var(--neutral-soft-color);
}
.ace-body .ace_headings {
  color: var(--primary-color);
  font-weight: bold;
}
.ace-body .ace_link {
  color: var(--primary-color);
}
.ace-body .ace_comment {
  color: var(--neutral-soft-color);
}
.ace-body .ace_pre {
  background-color: #c33ba30f;
}
#ACEditor {
  position: relative;
  height: auto;
}
#ACEditor .btn-toolbar {
  position: sticky;
  top: 0;
  z-index: 6;
  background-color: white;
}

.ace_gutter-cell {
  padding-left: 12px;
  padding-top: 3px;
  color: var(--neutral-soft-color);
  padding-right: 8px;
  margin-right: 10px;
}
.ace-tm .ace_gutter-active-line {
  background-color: #f3f1f1;
}
.ace-tm .ace_gutter {
  font-size: 12px;
  padding-right: 10px;
  background: none;
}
.ace_search {
  position: fixed;
  top: 70px;
  right:0;
}
.ace_mobile-menu { display: none; }
