/* CUSTOM FORM */
.form-group,
#actions-builder-app .form-group:first-child {
  margin-top: 1.2rem !important;
}

.form-group.range {
  margin-top: 25px;
}

.form-group.geo .leaflet-container {
  height: 200px;
  border-radius: 5px;
}

.form-group.range .control-label {
  top: -1.2em !important;
}

input[type='range'] {
  box-shadow: none !important;
}

#actions-builder-app .form-group .control-label {
  left: 0.9rem !important;
}

#actions-builder-app .checkbox label {
  font-size: 0.9em;
}

#actions-builder-app [type='checkbox'] + span:not(.lever) {
  padding-left: 1.5rem;
}

#actions-builder-app
  :not(.multi-input-container)
  > *
  > .input-group:not(.iconpicker-container) {
  flex-wrap: wrap;
  align-items: center;
}

#actions-builder-app
  :not(.multi-input-container)
  > *
  > .input-group:not(.iconpicker-container)
  .form-control {
  width: auto;
  flex-grow: 1;
}

#actions-builder-app
  :not(.multi-input-container)
  > *
  > .input-group:not(.iconpicker-container)
  .hint-container {
  width: 100%;
}

#actions-builder-app
  :not(.multi-input-container)
  > *
  > .input-group:not(.iconpicker-container)
  .hint {
  margin-bottom: 0;
}

.addon-icon {
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input-group-addon.btn {
  overflow: visible;
}

.input-group-addon.btn-default {
  background-color: #727479;
  border-color: #727479;
}

#actions-builder-app [type='checkbox'] + span:not(.lever)::before,
#actions-builder-app [type='checkbox'] + span:not(.lever)::after {
  margin-top: 2px;
}

.checkbox {
  margin-bottom: 1rem;
  margin-top: 0;
}

.iconpicker-popover.popover {
  width: 400px;
}

.iconpicker .iconpicker-item {
  width: 20px;
  height: 20px;
  padding: 8px;
  margin: 0 5px 5px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  font-size: 20px;
}

.form-group.color .sp-original-input-container .sp-add-on {
  order: 2;
  border-radius: 0 3px 3px 0 !important;
  border: none !important;
  width: 4rem !important;
}

#center-position-map {
  margin-bottom: 1.5rem;
}

/* CONFIG PARAMETERS */
.panels-config-container {
  display: flex;
  justify-content: center;
}

.config-panel:not(:last-child) {
  margin-right: 2rem;
}

.config-panel {
  min-width: 250px;
}

.config-panel.specific-action-params {
  flex: 1 auto;
  max-width: 400px;
}

.config-panel-content {
  /* max-height: 600px;
  overflow-y: auto; */
  padding-right: 1rem;
}

.config-panel-content .hint {
  font-size: 0.8em;
  margin-bottom: 1rem;
  margin-top: 4px;
  opacity: 0.8;
  line-height: 1rem;
  text-align: justify;
}

#actions-builder-modal h3 {
  text-align: center;
  margin-bottom: 30px;
}

.advanced-params {
  justify-content: center;
  margin-top: 2rem;
}

#actions-builder-modal .text-muted {
  font-size: 0.8em;
}

#actions-builder-modal .input-group .sp-original-input-container {
  flex-grow: 1;
}

#actions-builder-modal .input-group-addon + label {
  margin-left: 1rem !important;
}

#actions-builder-modal .input-group-addon + label.control-label {
  margin-left: 2.5rem !important;
}

/* ADVANCED PROPERTIES */
.multi-input-container .btn-add-element {
  margin-bottom: 1.5rem;
}

.multi-input-container.facettes {
  text-align: center;
}

.btn-remove-group {
  margin-top: 5px;
}

.inline-form + .btn-add-element {
  margin-top: 1rem;
}

.btn-add-element + .form-group {
  margin-top: 25px;
}

.inline-form {
  display: flex;

  /* align-items: baseline; */
}

.inline-form .form-group {
  padding: 0 !important;
  margin: 1rem 0 0;
}

.inline-form .btn-close-container {
  align-self: center;
}

/* IFRAME PREVIEW */
.widget-iframe-container {
  position: relative;
  padding: 0;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.widget-iframe-container h3 {
  color: inherit;
  opacity: 0.8;
  margin-bottom: 10px;
}

iframe {
  max-height: 350px;
  overflow: hidden;
}

.iframe-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}

/* WIKI CODE */
.result {
  border: 1px dashed #c1c1c1;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1rem;
}

.result-container {
  margin: 2rem 0 1rem;
}

.result-container h3 {
  margin-bottom: 1.5rem;
  color: var(--secondary-color-1);
}
