.result {
  border: 1px dashed #c1c1c1;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 1rem;
}
.result-container {
  margin: 2rem 0 1rem 0;
}
.result-container h3 {
  margin-bottom: 1.5rem;
}
h3 {
  text-align: center;
}
@media (min-width: 800px) {
  .filter-parameters-container {
    padding-left: 2rem;
  }
}
.filter-parameters-container label {
  cursor: pointer;
  display: block;
}
.filter-group-form .form-group {
  padding: 0 !important;
  margin: 1rem 0 0 0;
}
.btn-remove-group {
  float: right;
  padding: 10px 5px;
}
.btn-add-group {
  margin-top: 1rem;
}
.filter-group-form .form-group .control-label {
  left: .9rem !important;
}

.widget-iframe-container {
  position: relative;
  padding: 0;
  max-height: 300px;
}
.widget-iframe-container h3 {
  color: inherit;
  opacity: .8;
}
.iframe-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}

iframe {
  zoom: 0.5;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  iframe {
    zoom: 1;
  }
}
