/* ---- page layout ---- */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

#yw-main {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 15px;
  background: var(--main-container-bg-color);
}
