/* ---- small screens ---- */
@media (max-width: 1200px) {
  :root {
    --main-text-fontsize: 15px;
  }
}

@media (max-width: 800px) {
  :root {
    --main-text-fontsize: 13px;
  }
}

@media (max-width: 767px) {
  #yw-topnav > .container {
    flex-wrap: wrap;
  }

  #yw-topnav .topnavpage ul:not(.yw-dropdown__menu):not(.dropdown-menu) {
    flex-direction: column;
    width: 100%;
  }
}
