/* ---- typography ---- */
body {
  font-family: var(--main-text-fontfamily);
  font-size: var(--main-text-fontsize);
  color: var(--main-text-color);
  background: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-title-fontfamily);
}

h1 {
  color: var(--title-h1-color);
}
h2 {
  color: var(--title-h2-color);
}
h3 {
  color: var(--title-h3-color);
}
h4 {
  color: var(--title-h4-color);
}
h5 {
  color: var(--title-h5-color);
}

a {
  color: var(--link-color);
}
a:hover,
a:focus {
  color: var(--link-hover-color);
}

.yw-btn,
.btn {
  border-radius: var(--btn-border-radius);
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: var(--checkbox-color);
}
