html {
	margin:0;
	padding:0;
	font-family:"Myriad Roman", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	background:#FFF;
	line-height: 20px;
	color: #000000;
}

body {
background:#FFF url(../images/bg_main_rouge.gif) repeat-x top left;
}

a
{
color: #990000;
text-decoration: none;
}
a:hover
{
color: #990000;
text-decoration: underline;
}

a.lien_accueil {display:block; width:100%; height:100%; text-decoration:none; border:none; color:inherit;}
a.lien_accueil:hover {background:transparent}

#container {
	width: 950px;
	margin: 0 auto;
	text-align:left;	
}

#container-header {
	width: 870px;
	height: 85px;
	padding: 20px 40px 0px 40px;
	background-image: url(../images/bg_header_rouge.gif);
	font-size:28px;
	font-weight:bold;
}

#container-name {
	float: left;
	width:450px;
	padding:25px 0 0 0;
}

#container-slogan {
	float:right;
	font-size:18px;
	font-style:italic;
	font-weight:normal;
	padding:20px 10px 0 0;
	text-align:right;
	width:400px;
}

#container-name span,#container-slogan span {
	color: #cc0000;;
}

#container-eyecatcher {
	width: 870px;
	margin-top: -60px;
	padding: 0px 40px 0px 40px;
	height: 175px;	
	background-image: url(../images/bg_eyecatcher.gif);
	overflow:hidden;
}


/*===========================================Menu déroulant du haut========================================================*/
#container-navigation {
	width: 870px;
	background-color: #990000;
	height: 22px;
	border-bottom: 1px solid #ffffff;
}

#container-navigation ul {
	margin: 0;
	padding: 0;
}

#container-navigation li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

#container-navigation li ul {
	display: none;	
}

#container-navigation li a {
	color: #ffffff;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
	padding: 5px 15px 6px 15px;
	margin:0;
	border:none;
	border-right: 1px solid #ffffff;
}

#container-navigation li a:hover {
	text-decoration: underline;
	background-color: #cc0000;;
}

#container-navigation li li a {
	border: 0;
}

#container-navigation ul.sf-menu,#container-navigation ul.sf-menu * {
list-style:none;
margin:0;
padding:0;
text-align:left;
}

#container-navigation ul.sf-menu {
float:left;
}

#container-navigation ul.sf-menu ul {
position:absolute;
top:-999em;
width:160px;
border:1px solid #FFF;
}

#container-navigation ul.sf-menu li:hover {
visibility:inherit;
}

#container-navigation ul.sf-menu li {
float:left;
position:relative;
}

#container-navigation ul.sf-menu li li {
width:160px;
}

#container-navigation ul.sf-menu a {
display:block;
position:relative;
text-decoration:none;
padding:0 .5em;
}

#container-navigation ul.sf-menu li:hover ul,#container-navigation ul.sf-menu li.sfHover ul {
left:0;
top:22px;
z-index:99;
}


#container-navigation ul.sf-menu a,#container-navigation ul.sf-menu a:visited {
color:#FFF;
}

#container-navigation ul.sf-menu li li:hover, #container-navigation ul.sf-menu li li.sfHover, #container-navigation ul.sf-menu li li a:hover {
background:#cc0000;;
}

#container-navigation ul.sf-menu li, #container-navigation ul.sf-menu li li {
background:#990000;
}

#container-navigation ul.sf-menu li li li {
background:#990000;
}

#container-navigation ul.sf-menu li:hover,#container-navigation ul.sf-menu li.sfHover,#container-navigation ul.sf-menu li a:focus,#container-navigation ul.sf-menu li a:hover,#container-navigation ul.sf-menu li a:active {
background:#cc0000;;
outline:0;
}


#container-navigation ul.sf-menu a.sf-with-ul {
padding-right:2.25em;
min-width:1px;
}

.sf-sub-indicator {
position:absolute;
display:block;
right:.75em;
top:1em;
width:10px;
height:10px;
text-indent:-999em;
overflow:hidden;
background:url('../images/arrows-ffffff.png') no-repeat -10px -100px;
}

a > .sf-sub-indicator {
top:.7em;
background-position:0 -100px;
}

a:focus > .sf-sub-indicator,a:hover > .sf-sub-indicator,a:active > .sf-sub-indicator,li:hover > a > .sf-sub-indicator,li.sfHover > a > .sf-sub-indicator {
background-position:-10px -100px;
}

#container-navigation ul.sf-menu ul a > .sf-sub-indicator {
background-position:0 0;
}

.sf-shadow ul {
background:url('../images/shadow.png') repeat-y bottom right;
padding:0 18px 45px 0;
margin:0;
display:block;
}

.sf-shadow ul.sf-shadow-off {
background:transparent;
}


#container-content {
	width:870px;
	background-image: url(../images/bg_content.gif);
	background-repeat: no-repeat;
	padding: 20px 40px 0px 40px;
	margin: 0 0 0 0;
	min-height:260px;
}

#content {
	width:650px;
	float:left;
	text-align:justify;
}

#colonne-gauche {
	width:170px;
	float:left;
	margin:0 40px 0 0;
}

#colonne-droite {
	width:170px;
	float:right;	
}

#container-footer {
	border-top:4px solid #E5E5E5;
	width:870px;
	padding:10px 0px 20px 0px;
	margin:0 40px 0px 40px;
	clear:both;
	color:#aeaeae;
}

#container-footer a {
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	color: #aeaeae;
	border:0;
}

#container-footer a:hover {
	color: #cc0000;;
}

#footer {
	font-size: 11px;
	color: #aeaeae;
	width: 870px;
	margin-bottom: 20px;
}

#footer-copyright {
	float: left;
	width: 425px;
	padding-left: 10px;
}

#footer-meta {
	float: right;
	text-align: right;
	width: 425px;
	padding-right: 10px;
}

.clearer {
	clear: both;
}


h1 {
	font-size: 22px;
	color: #990000;
	margin:0 0 12px 0;
	padding: 0 0 4px 25px;
	background-image: url(../images/h1_arrow_rouge.gif);
	background-repeat: no-repeat;
	background-position: 5px 7px;
}

h2 {
	clear:left;
	font-size:18px;
	font-weight:normal;
	border-bottom: 2px solid #cc0000;;
	color:#cc0000;
	padding:5px;
	margin:5px 0 10px 0;
	letter-spacing:1px;
}

h3 {
	font-size: 17px;
	color: #990000;;
	padding: 5px 0 0 0;
	margin:4px 0 8px 0;
	letter-spacing: -0.5px;
	}
	
h4 {
	clear:left;
	font-size: 15px;
	color: #cc0000;;
	letter-spacing: -0.5px;
	}

h5 {
	font-size: 13px;
	font-weight:bold;
}


hr {
	border: none 0;
	border-top: 1px solid #cccccc;
	margin: 10px 0;
	height: 1px;
}

ul {margin:0; padding:0;}
li {
	color: #000000;
	margin: 0 0 0 15px;
}

#content .quote {
	border-top: 1px solid #E5E5E5;
	background-color: #f7f7f7;
	border-bottom: 1px solid #E5E5E5;
	padding: 15px 15px 15px 65px;
	background-image: url(../images/bg_quote.gif);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	color: #990000;
	font-style: italic;
}

#colonne-gauche ul, #colonne-droite ul {
	padding:0;
	margin:0;
	background-image:none;
}

#colonne-gauche ul ul, #colonne-droite ul ul {
	padding:0;
	margin:0;
	background:#cc0000;;
	color:#FFF;
}

#colonne-gauche ul ul ul, #colonne-droite ul ul ul {
	padding:0;
	margin:1px;
	border:none;
	background:#FFF;
}
#colonne-gauche li  {
	list-style: none;
	background-image: url(../images/li_cube.gif);
	background-repeat: no-repeat;
	background-position: 2px 12px;
	padding: 2px 0px 2px 12px;
	margin: 0 0 5px 0px;
	font-size:15px;
	font-weight:bold;
}

#colonne-gauche li li { 
padding:0;
margin:0;
background-image:none;
color:#fff;
font-size:13px;
}

#colonne-gauche li li li { 
padding:0;
margin:0;
background-image:none;
color:#cc0000;
font-weight:normal;
}

#colonne-gauche li a{
padding: 2px 0 0 2px;
margin:0 0 3px 0;
display:block;
width:156px;
border-bottom:2px dotted #cc0000;;
}

#colonne-gauche li li a { 
padding: 2px 0 2px 2px;
margin:0;
color:#fff;
display:block;
width:156px;
border:none;
}

#colonne-gauche li li li a{ 
padding: 2px 0 2px 10px;
margin:0 0 2px 0;
color:#cc0000;;
display:block;
width:146px;
border:none;
}

#colonne-gauche li li li a:hover { 
color:#FFF;
}

.hr_clear {clear:both;display:block;}

ul.css-tabs .liste0 a {color:white;background:#CC6699;}
ul.css-tabs .liste0 a.current, ul.css-tabs .liste0 a:hover { color:white; background:#993366;}
#content fieldset.tab0  {border:2px solid #993366;}
ul.css-tabs .liste1 a {color:white;background:#339744;}
ul.css-tabs .liste1 a.current, ul.css-tabs .liste1 a:hover  { color:white; background:#006411;}
#content fieldset.tab1  {border:2px solid #006411;}
ul.css-tabs .liste2 a {color:white;background:#99CCFF;}
ul.css-tabs .liste2 a.current, ul.css-tabs .liste2 a:hover  { color:white; background:#6699FF;}
#content fieldset.tab2  {border:2px solid #6699FF;}
ul.css-tabs .liste3 a {color:white;background:#FF9933;}
ul.css-tabs .liste3 a.current, ul.css-tabs .liste3 a:hover  { color:white; background:#FF6600;}
#content fieldset.tab3  {border:2px solid #FF6600;}

.universite {
	margin:10px 0;
	border:2px solid #993366;
}
.universite legend {color:#FFFFFF; font-weight:bold; background:#993366; padding:4px; font-size:15px;}
.universite h3, .universite h4 {color:#993366;}

.culture {
	margin:10px 0;
	border:2px solid #339744;
}
.culture h3, .culture h4 {color:#339744;}

.cst {
	margin:10px 0;
	border:2px solid #6699FF;
}
.cst h3, .cst h4 {color:#6699FF;}

.patrimoine {
	margin:10px 0;
	border:2px solid #FF6600;
}
.patrimoine h3, .patrimoine h4 {color:#FF6600;}



#remember {clear:left;font-size:10px;}
.label_iden {clear:left; display:block; float:left; margin:0 5px 0 0; text-align:right; width:80px; font-size:10px;}
.titre_identification {font-weight:bold;margin:0 auto;display:block;width:89px;}
.texte_iden, .inscription_iden, .commentsheader {display:none;}
.bouton_iden{margin:0 auto;display:block;}

.rss_site_titre,.rss_site_titre a {font-size:14px;}
#table_bazar {width:100%; border:1px solid #990000; border-collapse:collapse;}
#table_bazar th {border:1px solid #990000; background:#990000; color:white; padding:2px;}
//#table_bazar td {border:1px solid #990000; padding:2px;}

#content .BAZ_info {clear:left}

#recherche_patrimoine .formulaire_ligne {
clear:none;
float:left;
margin:0;
padding:0;
width:240px;
}

#recherche_patrimoine .formulaire_label {
float:left;
font-size:1em;
margin:0 2px 0 5px;
width:120px;
}
#recherche_patrimoine .formulaire_input {width:60px;float:left;}
#recherche_patrimoine {float:left;margin:0 0 20px;}
.titre_saisir_annonce {display:none;}
