<div class="BAZ_rubrique field-{{ field.type}}" data-id="{{ field.propertyName }}">
    {% block label_container %}
        {#- No leading/trailing whitespace, see https://twig.symfony.com/doc/3.x/templates.html#templates-whitespace-control-#}
        <span class="BAZ_label">
            {%- block label -%}{{ field.label|raw }}{%- endblock -%}
        </span>
    {% endblock %}
    {% block value_container %}
        <span class="BAZ_texte">
            {% block value %}{{ value|raw|e }}{% endblock %}
        </span>
    {% endblock %}
</div>