<div class="control-group form-group input-{{ field.type }} {% block groupClass %}{% endblock %}">
    <label class="control-label col-sm-3">
        {#- No leading/trailing whitespace, see https://twig.symfony.com/doc/3.x/templates.html#templates-whitespace-control-#}
        {%- block label -%}            
            {% if field.required %}<span class="symbole_obligatoire"></span>{% endif %}
            {% if field.hint %}
                <img loading="lazy" class="tooltip_aide" title="{{ field.hint|raw('html') }}" alt="{{ field.hint|raw('html') }}" src="tools/bazar/presentation/images/aide.png" width="16" height="16" />
            {% endif %}
            {{ field.label|raw }}         
        {%- endblock -%}
    </label>
    <div class="controls col-sm-9">
        {% block input %}
        {% endblock %}
    </div>
</div>
