.facette-container {
  display: flex;
  flex-direction: row;
}

.facette-container .panel-heading {
  cursor: pointer;
}

.facette-container:not([data-filter-align='left'])
  > .filters-col
  > .bazar-search {
  margin-top: 2rem;
}

.facette-container-fullwidth {
  flex-wrap: wrap;
}

.facette-container[data-filter-align='right'] {
  flex-direction: row-reverse;
}

@media (width >= 768px) {
  .facette-container:not([data-filter-align='left'])
    > [class^='filters-col '][class*='col-sm-']
    > .bazar-search {
    margin-top: 0;
  }
}

.facette-container .filter-box .node-container .children {
  padding-left: 2rem;
}
.facette-container .filter-box .node-container .checkbox.checked .node-label {
  font-weight: bold;
}
.facette-container
  .filter-box
  .node-container
  .checkbox.some-descendant-checked
  .node-label {
  font-weight: bold;
}

@media (width <= 768px) {
  .facette-container,
  .facette-container[data-filter-align='right'] {
    flex-direction: column;
  }

  .facette-container .filter-box .panel-body {
    max-height: 11em;
    overflow-y: scroll;

    /* for firefox custom scrollbar */
    scrollbar-color: var(--neutral-color) white;
    scrollbar-width: auto;

    /* the scrollbar width is too thin, we may fix it by using a scrollbar JS library */
  }

  .facette-container .filter-box .panel-body::-webkit-scrollbar {
    appearance: none;
  }

  .facette-container .filter-box .panel-body:vertical {
    width: 15px;
  }

  .facette-container .filter-box .panel-body::-webkit-scrollbar:horizontal {
    height: 15px;
  }

  .facette-container .filter-box .panel-body::-webkit-scrollbar-thumb {
    background-color: var(--neutral-color);
    border-radius: 10px;
  }
}
