<strong>Attach</strong><br />
ℹ️ Removing base64 images from {{ tablePrefix }}page table<br />
{% if updatedPages is empty %}
✅ The table {{ tablePrefix }}page is already cleaned up from base64 images !<br />
{% else %}
✅ Done !<br />
<ul>
  {% for page in updatedPages %}
    <li><a href="{{ url({tag:page}) }}" class="modalbox" data-size="modal-lg">{{ page }}</a></li>
  {% endfor %}
</ul>
{% endif %}
<hr>