/* Styles for yeswiki's template
 * under GNU General Public License
 */

@import 'partials/general.css';
@import 'partials/navbar.css';
@import 'partials/header.css';
@import 'partials/main-containers.css';
@import 'partials/footer.css';
@import 'partials/page-edit.css';
@import 'partials/bazar.css';
@import 'partials/admin.css';

@import 'components/buttons.css';
@import 'components/bootstrap-components.css';
@import 'components/modals.css';
@import 'components/forms.css';
@import 'components/checkboxes-radio.css';
@import 'components/tables.css';

@import 'templates/calendar.css';
@import 'templates/facette.css';
@import 'templates/accordion.css';
@import 'templates/search.css';

 /*
 * CSS variables
 */
 :root {
   --primary-color: #1A89A0; /* initial yellow #F8C400; */
   --secondary-color-1: #d8604c;
   --secondary-color-2:#D78958;
   --neutral-color:#4E5056;
   --neutral-soft-color:#b0b1b3;
   --neutral-light-color:#fff;

   --success-color: #3cab3b;
   --danger-color: #d8604c;
   --warning-color: #D78958;

  --main-text-color:var(--neutral-color);
  --main-text-fontsize: 17px;
  --main-text-fontfamily:'Nunito', sans-serif;
  --main-bg-color:var(--neutral-light-color);
  --main-container-bg-color:var(--neutral-light-color);


  /* full width */
  /* is the following used ? */
/*  --main-container-margin: 0;
  --main-container-width: 100%;
  --main-container-text-width: 100%;
  --main-container-border-radius: 0;
  --main-container-box-shadow: none;
  --section-background-image-width:100vw;
  --section-background-image-margin:-50vw;
  --section-background-image-position:50%;*/

  /* Links */
  --link-color: var(--primary-color);
  --link-hover-color : var(--primary-color);

  /* contained page */
  --navbar-bg-color: var(--primary-color);
  --navbar-text-color: var(--neutral-light-color);
  --navbar-link-color: var(--neutral-light-color);
  --navbar-link-bg-color: transparent;
  --navbar-link-hover-color: rgba(255,255,255,0.85);
  --navbar-link-bg-hover-color: transparent;
  --navbar-border: none;
  --navbar-border-radius : 0;
  --navbar-shadow: none;


  --header-bg-color: var(--neutral-light-color);
  --header-text-color: var(--neutral-color);
  --header-title-color: var(--primary-color);

  --footer-bg-color: transparent;
  --footer-text-color: var(--main-text-color);
  --footer-title-color:var(--main-text-color);
  --footer-border-top:  3px solid var(--neutral-soft-color);

  --btn-border:none;
  --btn-border-radius:.5em;

  --checkbox-color: var(--primary-color)
}

@media (max-width: 1200px) {
   :root {
     --main-text-fontsize: 15px;
   }
}
@media (max-width: 800px) {
  :root {
     --main-text-fontsize: 13px;
   }
}

/* fix for retro compatibility with cercopitheque */
.accordion-group .panel-heading.collapsed .panel-title::after {
    content: "";
}

