/* Styles for yeswiki's template
 * Author: Florian Schmitt <florian@outils-reseaux.org>
 * under GNU General Public License
 */

 /*
 * CSS variables
 */
 :root {
   --primary-color:#F8C400;
   --secondary-color-1:#1A89A0;
   --secondary-color-2:#D78958;
   --neutral-color:#4E5056;
   --neutral-soft-color:#b0b1b3;
   --neutral-light-color:#fff;

  --main-text-color:var(--neutral-color);
  --main-text-fontsize:18px;
  --main-text-lineheight:1.3em;
  --main-text-fontfamily:'Nunito', sans-serif;
  --main-selected-text-bg:rgb(254, 224, 52); /* jaune marqueur pour surligner le texte */
  --main-bg-color:var(--neutral-light-color);

  --main-container-bg-color:var(--neutral-light-color);


  /* full width */
  --main-container-margin: 0;
  --main-container-width: 100%;
  --main-container-text-width: 100%;
  --main-container-border-radius: 0;
  --main-container-box-shadow: none;
  --section-background-image-width:100vw;
  --section-background-image-margin:-50vw;
  --section-background-image-position:50%;

  /* Links */
  --link-color: var(--primary-color);
  --link-hover-color : var(--primary-color);

  /* contained page */
  --navbar-bg-color: var(--primary-color);
  --navbar-text-color: var(--neutral-light-color);
  --navbar-link-color: var(--neutral-light-color);
  --navbar-link-bg-color: transparent;
  --navbar-link-hover-color: rgba(255,255,255,0.85);
  --navbar-link-bg-hover-color: transparent;
  --navbar-border: none;
  --navbar-border-radius : 0;
  --navbar-shadow: none;


  --header-bg-color: var(--neutral-light-color);
  --header-text-color: var(--neutral-color);
  --header-title-color: var(--primary-color);

  --footer-bg-color: transparent;
  --footer-text-color: var(--main-text-color);
  --footer-title-color:var(--main-text-color);
  --footer-border-top:  3px solid var(--neutral-soft-color);

  --btn-border:none;
  --btn-border-radius:.5em;
  --btn-default-color:var(--neutral-light-color);
  --btn-default-background:var(--neutral-color);
  --btn-default-border:1px solid var(--neutral-color);
  --btn-primary-color:var(--neutral-light-color);
  --btn-primary-background:var(--primary-color);
  --btn-primary-border:1px solid var(--primary-color);
  --btn-secondary-1-color:var(--neutral-light-color);
  --btn-secondary-1-background:var(--secondary-color-1);
  --btn-secondary-1-border:1px solid var(--secondary-color-1);
  --btn-secondary-2-color:var(--neutral-light-color);
  --btn-secondary-2-background:var(--secondary-color-2);
  --btn-secondary-2-border:1px solid var(--secondary-color-2);
}

/*
 * Webfont
 */
 /* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../fonts/nunito-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-800 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
       url('../fonts/nunito-v11-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v11-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*
* Main styles
*/

body {
background: var(--main-bg-color);
color: var(--main-text-color);
font: var(--main-text-fontsize)/var(--main-text-lineheight) var(--main-text-fontfamily);
}

/* background color of selected text */
*::selection {
   background: var(--main-selected-text-bg);
}
*::-moz-selection {
   background: var(--main-selected-text-bg);
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: 800;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
}
a:focus, a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Conteneur principal de la page Wiki */

#yw-container {
  background-color: var(--main-container-bg-color);
  margin: var(--main-container-margin);
  -moz-border-radius: var(--main-container-border-radius);
  -webkit-border-radius: var(--main-container-border-radius);
  border-radius: var(--main-container-border-radius);
  width: var(--main-container-width);
  -moz-box-shadow: var(--main-container-box-shadow);
  -webkit-box-shadow: var(--main-container-box-shadow);
  box-shadow: var(--main-container-box-shadow);
}
#yw-container .container {
  max-width: var(--main-container-width);
}

/* Menu horizontal principal */

#yw-topnav {
  margin:0;
  -webkit-border-radius: var(--navbar-border-radius);
  border-radius: var(--navbar-border-radius);
  border: var(--navbar-border);
  transition: top 0.3s ease-in-out;
}

#yw-topnav .dropdown-menu, #yw-topnav .dropdown-menu a {
  background: var(--primary-color);
  color:var(--neutral-light-color);
  box-shadow:none;
  border:none;
}

#yw-topnav .dropdown-menu a:hover, #yw-topnav .dropdown-menu a:focus {
  background: var(--primary-color);
  color:rgba(255,255,255,0.85);
}
 #yw-topnav .btn-default {
   background: var(--neutral-light-color);
   border: 1px solid var(--neutral-light-color);
   color: var(--primary-color);
   border-radius: .5em;
   padding: 6px 9px;
 }
 #yw-topnav .btn-default:hover, #yw-topnav .btn-default:focus {
   background: rgba(255, 255, 255, 0.8);
 }

.navbar-brand {
  font-size: var(--main-text-text-size);
  font-weight:800;
}

.navbar-brand img {
  max-height: 50px;
  width:auto;
	margin-left: -15px;
	margin-top: -10px;
}

#yw-topnav.fixable.nav-up, .yw-responsive #yw-topnav.fixable.nav-up {
  top: -50px;
}

.yw-fixed #yw-topnav, .yw-responsive #yw-topnav {
  margin: 0 -15px 15px;
  /*marge negative pour compenser le conteneur principal*/
}


/* le menu devient fixe quand on scrolle plus bas dans la page */

#yw-topnav.affix {
  right: auto;
  left: auto;
  z-index: 3;
  width: var(--main-container-width);
}

@media screen and (max-width: 768px) {
  #yw-topnav.affix {
    width: 100%;
  }
}


/* on decalle le contenu vers le bas pour eviter un saut */
#yw-topnav.affix + #yw-header {
  margin-top: 50px;
}

/* Couleur navbar */
.navbar-default {
   background-color: var(--primary-color);
   color: var(--navbar-text-color);
   border: var(--navbar-border);
   box-shadow: var(--navbar-shadow);
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
   color: var(--navbar-link-color) !important;
   background-color: var(--navbar-link-bg-color) !important;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a:hover {
   color: var(--navbar-link-hover-color-color) !important;
   background-color: var(--navbar-link-bg-hover-color) !important;
}

/* Bandeau d'entete */
#yw-header {
background-color: var(--header-bg-color);
color: var(--header-text-color);
}
#yw-header h1,#yw-header h2, #yw-header h3 ,#yw-header h4, #yw-header h5, #yw-header h6  {
color: var(--header-title-color);
}

#yw-header .white {
 color: var(--neutral-light-color) !important;
}

#yw-header .white h1, #yw-header .white h2, #yw-header .white h3, #yw-header .white h4, #yw-header .white h5, #yw-header .white h6, #yw-header .white a, #yw-header .white a:hover {
 color:var(--neutral-light-color) !important;
}

.page .background-image {
    position: relative;
    left: var(--section-background-image-position);
    right: var(--section-background-image-position);
    width:var(--section-background-image-width);
    margin-left: var(--section-background-image-margin);
    margin-right: var(--section-background-image-margin);
}


/* Partie centrale de la page Wiki */
#yw-main {
  padding-top: 15px;
  position: relative;
  min-height: 400px;
}
#yw-main .container {
  max-width: var(--main-container-text-width);
}

/* Composants */
.well {
  border:3px solid var(--secondary-color-2);
  background:var(--neutral-light-color);
}

.label-default {
  background-color:var(--neutral-color);
}
.label-primary {
  background-color:var(--primary-color);
}
.label-secondary-1 {
  background-color:var(--secondary-color-1);
}
.label-secondary-2 {
  background-color:var(--secondary-color-2);
}

.alert-default {
  background-color:var(--neutral-color);
  color:var(--neutral-light-color);
}
.alert-primary {
  background-color:var(--primary-color);
  color:var(--neutral-light-color);
}
.alert-secondary-1 {
  background-color:var(--secondary-color-1);
  color:var(--neutral-light-color);
}
.alert-secondary-2 {
  background-color:var(--secondary-color-2);
  color:var(--neutral-light-color);
}

.panel-default {
  border-color: var(--neutral-color);
}
.panel-default > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--neutral-color);
  border-color: var(--neutral-color);
}

.panel-primary {
  border-color: var(--primary-color);
}
.panel-primary > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.panel-secondary-1 {
  border-color: var(--secondary-color-1);
}
.panel-secondary-1 > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--secondary-color-1);
  border-color: var(--secondary-color-1);
}
.panel-secondary-2 {
  border-color: var(--secondary-color-2);
}
.panel-secondary-2 > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--secondary-color-2);
  border-color: var(-secondary-color-2);
}

.bazar-list .panel-default {
border: none;
background-color:transparent;
}
/* modif fleche accordeon */
.bazar-list .panel-default > .panel-heading {
    color: var(--neutral-color);
    background-color: transparent;
    border-color: var(--neutral-soft-color);
}
.accordion-group .panel-heading .panel-title::after,
.accordion-group .panel-heading.collapsed .panel-title::after {
  content: "\02C5";
  font-size: 1.5em;
  color: var(--neutral-soft-color);
}
.filter-box {
  border: 2px solid var(--neutral-color);
}
.filter-box  .panel-heading {
  color:var(--neutral-light-color);
  background-color: var(--neutral-color);
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: 2px solid var(--primary-color);
}

.btn {
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
}
.btn-link {
  color: var(--primary-color);
}
.btn-link:hover, .btn-link:focus {
  color: var(--primary-color);
  text-decoration: underline;
}
.btn-default {
  color: var(--btn-default-color);
  background: var(--btn-default-background);
  border: var(--btn-default-border);
}
.btn-primary {
  color: var(--btn-primary-color);
  background: var(--btn-primary-background);
  border: var(--btn-primary-border);
}
.btn-secondary-1 {
  color: var(--btn-secondary-1-color);
  background: var(--btn-secondary-1-background);
  border: var(--btn-secondary-1-border);
}
.btn-secondary-2 {
  color: var(--btn-secondary-2-color);
  background: var(--btn-secondary-2-background);
  border: var(--btn-secondary-2-border);
}


/* Barre de rédaction */


.footer {
  font-size: 0.75em;
  margin: 15px 0;
  padding: 0;
  text-align: center;
  border-bottom: var(--footer-border);
}

.footer a {
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  margin: 0;
}

.footer a:hover {
  text-decoration: none;
}

.footer a i {
  color: var(--primary-color);
  font-size: 1.2em;
}


/* Pied de page */

#yw-footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);

  padding: 30px 0;
}
#yw-footer h1, #yw-footer h2, #yw-footer h3, #yw-footer h4, #yw-footer h5, #yw-footer h6 {
  color: var(--footer-title-color);
}

.input-group .form-control {
  display: table-cell;
  background-color: var(--neutral-soft-color);
  padding-bottom:5px;
border-bottom:1px solid var(--neutral-color);
}
.input-group-addon:first-child {
  border-right: 0;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 2.5em;
  border: none;
padding:0;
}

.bazar-search .input-group-btn {
display:none;
}
.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: var(--neutral-color);
}
.search-input::-moz-placeholder { /* Firefox 19+ */
color: var(--neutral-color);
}
.search-input:-ms-input-placeholder { /* IE 10+ */
color: var(--neutral-color);
}
.search-input:-moz-placeholder { /* Firefox 18- */
color: var(--neutral-color);
}

.btn.active { box-shadow: none !important }
.btn-group > .btn {
    position: relative;
    float: left;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.btn-group > .btn:not(:first-child) {
  border-left: none;
}
.btn-group > .btn.active {
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
}
/* CALENDAR */
.fc-head .fc-row {
  background-color: var(--neutral-soft-color);
  border-radius: 15px;
  padding-top: 1px;
  line-height: 1.5;
}
.fc th {
  border-width: 0 !important;
}
.fc .table-bordered, .table-bordered td, .table-bordered th {
  border: none !important;
}
.fc tr td:not(:first-child) {
  border-left: 1px solid var(--neutral-soft-color) !important;
}
.fc .fc-row:not(:last-child) {
  border-bottom: 1px solid var(--neutral-soft-color) !important;
}
.fc-head-container {
  font-size: .75em;
  text-transform: capitalize;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  margin-top: -2px;
  font-size: .7em;
  margin-right: 3px;
  height: 1.9em;
}
.fc-scroller, .fc-scroller ~ div, .fc-scroller ~ hr {
  padding: 0 10px;
}
.fc-today:not(.fc-day-top) {
  background-color: var(--primary-color) !important;
  opacity: .2;
  color: inherit;
  border-color: inherit;
}
.fc-today .fc-day-number {
  color: var(--neutral-color);
}
.fc-event-container a {

  font-size: .8em;
  margin: .7em -1px 0 -1px;
  padding: 2px 5px 1px 5px !important;
  border: none !important;
  border-radius: 0px !important;
}
.fc-content-skeleton tbody tr:nth-child(3) a {
  margin-left: 0;
}
.fc-event-container a .fc-content {
  width: 100%;
  text-overflow: ellipsis;
}
.fc-event-container a { background-color: var(--secondary-color-1) !important; }
tr .fc-event-container:nth-child(1) a { background-color: var(--secondary-color-1) !important; }
tr .fc-event-container:nth-child(2) a { background-color: var(--secondary-color-2) !important; }
tr .fc-event-container:nth-child(3) a { background-color: var(--primary-color) !important; }
tr .fc-event-container:nth-child(4) a { background-color: var(--secondary-color-1) !important; }
tr .fc-event-container:nth-child(5) a { background-color: var(--secondary-color-2) !important; }
tr .fc-event-container:nth-child(6) a { background-color: var(--primary-color) !important; }
tr .fc-event-container:nth-child(7) a { background-color: var(--secondary-color-1) !important; }
.fc a.fc-more {
  font-size: .8em;
  font-weight: bold;
  line-height: 2.2;
  cursor: pointer;
}
.fc .fc-more-cell {
  text-align: center;
}
.fc-popover {
  background-color: var(--neutral-light-color) !important;
}
.fc .fc-popover .fc-header {
    padding: 5px 8px 4px 8px;
    font-size: .9em;
}
.fc .fc-popover .fc-close {
  font-size: .9em;
  top: 5px;
}
.fc .fc-more-popover .fc-event-container {
  padding-top: 0;
}
.fc-toolbar .fc-center {
  text-transform: capitalize;
  padding-top: 3px;
  flex: 1;
}
.fc-toolbar .fc-center h2 {
  width: 100%;
  text-align: center;
}
.fc-prev-button, .fc-next-button {
  border: none !important;
  font-size: 35px !important;
  background: none;
  height: auto !important;
  color: var(--primary-color);
}
.fc-toolbar .fc-right {
  order: 3;
}
.fc-prev-button {
  padding-left: 0 !important;
  padding-right: 5px !important;
}
.fc-next-button {
  order: 4;
  padding-right: 0 !important;
}
.fc-toolbar.fc-header-toolbar {
  display: flex;
  align-items: center;
}

