.bazar-list .panel.panel-default {
  border: none;
  background-color:transparent;
  transition: border .3s, margin .3s;
  padding: 0 15px;
  border: 5px solid transparent;
  box-shadow: none;
}
.bazar-list .panel .panel-heading
.bazar-list .panel .panel-collapse,
.bazar-list .panel .panel-collapse .panel-body {
  border: none;
}
.bazar-list .panel .panel-collapse {
  cursor: default;
}
.bazar-list .panel .panel-collapse .panel-body {
  padding: 0;
}
.bazar-list .panel-default > .panel-heading {
  color: var(--neutral-color);
  background-color: transparent;
  border-color: var(--neutral-soft-color);
  transition: border .3s, margin .3s;
}

.bazar-list .panel:not(.collapsed) {
  border-color: var(--primary-color);
  border-radius: .5em;
  margin-top: 10px !important;
}
.bazar-list .panel:not(.collapsed) .panel-heading {
  border: none !important;
}
.bazar-list .panel:not(.collapsed) + .panel .panel-heading {
  border-top: none !important;
}
.bazar-list .panel:not(.collapsed) .panel-title {
  color: var(--primary-color);
}
.bazar-list .panel:not(.collapsed) + .panel:not(.collapsed) {
  margin-top: 10px;
}

.bazar-list .panel-group .panel+.panel {
  margin-top: 0;
}
.bazar-list .panel-heading {
  border: none;
  padding: 20px 0 0 0;
}
.bazar-list .panel:not(:first-child) .panel-heading {
  border-top: 1px solid var(--neutral-soft-color);
  border-radius: 0;
}
.bazar-list .panel:last-child .panel-heading {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--neutral-soft-color);
}
.bazar-list .panel-title {
  font-size: 1rem;
}
.bazar-list .panel-body .BAZ_fiche_titre {
  display: none;
}
.BAZ_fiche_info {
  font-size: .9em;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  margin-left: -15px;
  border-top: 1px dashed var(--neutral-soft-color);
  margin-right: -15px;
  border-radius: 0;
  padding: 15px;
  opacity: .8;
  background-color: transparent;
}
.BAZ_actions_fiche {
  padding-top: 7px;
}
.BAZ_cadre_fiche {
  padding-top: 10px;
}
.accordion-group .panel-heading .icon-chevron {
  top: 23px;
  color: var(--neutral-soft-color);
  transition: color .3s;
}
.accordion-group .panel-heading:not(.collapsed) .chevron-up {
  top: 18px;
}
.bazar-list .panel .panel-heading:hover .icon-chevron {
  color: var(--primary-color);
}