.qq-uploader,
.qq-uploader:hover,
.qq-upload-button:hover,
.qq-upload-button {
  cursor: pointer;
}

.qq-upload-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 70px;
  z-index: 2000;
  background: #800;
  text-align: center;
  opacity: 0.9;
}

.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px;
  font-size: 1.2em;
}

.qq-upload-drop-area-active {
  background: #800;
}

.qq-upload-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  overflow: auto;
}

.qq-upload-list li {
  margin: 0 0 10px;
  padding: 5px;
}

.qq-upload-file,
.qq-upload-spinner,
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-failed-text {
  margin-right: 7px;
}

.qq-upload-spinner {
  display: inline-block;
  background: url('../images/loading.gif');
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}

.qq-upload-failed-text {
  display: none;
}

.qq-upload-fail .qq-upload-failed-text {
  display: inline;
}

/*
 * Les classes effets graphiques pour les images
 */

/* Style the figures */

.attached_file {
  text-decoration: none;
  position: relative;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.attached_file img {
  vertical-align: top;
}

/* Style the figure captions, hiding them by default */

figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  font-size: 0.9em;
  text-shadow: none;
  color: #fff;
  background-color: rgb(0 0 0 / 75%);
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.2s ease-in-out;
  padding: 5px 0;
}

/* Display the captions on hover */

figure:hover figcaption {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000, endColorstr=#aa000000);
}

/* Add padding and margin to the caption contents */

figcaption * {
  padding: 0 10px;
  margin: 0;
}

figcaption *:first-child {
  padding-top: 5px;
}

figcaption *:last-child {
  padding-bottom: 5px;
}

/* fichiers attaches */
.attached_file.attach_left,
.attached_file.left {
  float: left;
  margin: 0 18px 18px 0;
}

.attached_file.attach_right,
.attached_file.right {
  float: right;
  margin: 0 0 18px 18px;
}

.attached_file.attach_center,
.attached_file.center {
  display: table;
  clear: both;
  text-align: center;
  margin: 0 auto 18px;
  width: auto;
}

.whiteborder {
  box-sizing: border-box;
  border: 8px solid #fff;
  background: #fff;
  box-shadow: 1px 1px 2px #444;
}

.lightshadow {
  box-shadow: 1px 1px 2px #444;
}

.zoom {
  transition: -moz-transform 0.2s ease-out;
  transition: -o-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.zoom:hover {
  /* IE 9 */

  /* Safari and Chrome */

  /* Opera */
  transform: scale(1.1);

  /* Firefox */
  z-index: 5;
  box-shadow: 2px 2px 15px 0 #444;
}

/* pointimage */
.pointimage-container {
  position: relative;
  display: inline-block;
}

.pointimage-container .attached_file {
  cursor: default !important;
}

.pointimage-container .popover.fade {
  z-index: -2;
}

.pointimage-container .popover.fade.in {
  z-index: 1010;
}

.img-marker {
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 80%);
}

.btn-add-point,
.btn-cancel {
  position: absolute;
  top: 5px;
  left: 5px;
  display: none;
}

.btn-edit-points {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.pointimage-container:hover .btn-add-point,
.pointimage-container:hover .btn-cancel,
.pointimage-container:hover .btn-edit-points {
  display: block;
}

.popover-content {
  overflow: auto;
  max-height: 300px;
}

.modal-pointimage .wiki-textarea {
  height: 260px !important;
}

/* bootstrap 2.3 tweaks */
.modal-pointimage {
  z-index: -2;
}

.modal-pointimage.in {
  z-index: 1050;
}

.modal-pointimage .form-control {
  width: 100%;
}

/* background image */
.background-image {
  background-clip: border-box;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 15px;
  height: auto;
}

.one-quarter-height {
  height: 25vh !important;
}

.one-third-height {
  height: 33vh !important;
}

.half-height {
  height: 50vh !important;
}

.two-third-height {
  height: 66vh !important;
}

.three-quarter-height {
  height: 75vh !important;
}

.full-height {
  height: 100vh !important;
}

.background-image.cover {
  background-size: cover;
}

.background-image.fixed {
  background-attachment: fixed;
}

.background-image.center.full-width {
  background-position: center top;
}

.background-image.center:not(.full-width) {
  background-position: center top;
  margin: 0 !important;
}

.background-image.parallax {
  transform: translateZ(-3px) scale(1.1);
}

.headerpage .background-image {
  margin: -20px;
  padding: 20px;
}

.white,
.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white h6,
.white a,
.white a:hover {
  color: #fff !important;
}

.black,
.black h1,
.black h2,
.black h3,
.black h4,
.black h5,
.black h6,
.black a,
.black a:hover {
  color: var(--neutral-color) !important;
}

/* Custom video player */

.jp-jplayer-video {
  background: black;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100% !important;
}

.jp-jplayer-video video {
  max-width: 100%;
  height: auto;
}

.jp-video .btn-group span.btn {
  flex: 1;
}

.jp-video .btn-group {
  display: flex;
}

.jp-video .btn-group > .btn:first-child,
.jp-video .btn-group > .btn:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* embedded pdf or videos */
.embed-responsive {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.embed-responsive.pdf {
  padding-bottom: 138%;
}

.embed-responsive.pdf-landscape {
  padding-bottom: 75%;

  /* 1/138% */
}

.embed-responsive.pdf-square {
  padding-bottom: 100%;
}

.pdf-block-loading {
  position: absolute;
  z-index: 1000;
  top: 30vh;
  left: 48%;
}
