<?php if(isset($warning_list)): ?>
        <div class="alert fade in alert-block alert-warning">
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                <?=$warning_list;?>
        </div>
<?php endif; ?>

<form action="<?=$url_formulaire;?>" method="post" id="bazar_form_forms" class="bazar_form form-horizontal">
        <div class="control-group">
                <label class="control-label"><span class="required_symbol">*&nbsp;</span>Nom du formulaire</label>
                <div class="controls">
			<input class="span3" name="form_name" type="text" value="<?=(isset($default['form_name']) ? $default['form_name'] : '');?>" required="required" placeholder="Nom du formulaire" title="Entrez un nom pour ce formulaire" />
		</div>
        </div>
        
        <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
			<textarea class="span3" cols="40" rows="2" name="form_description" placeholder="Description"/><?=(isset($default['form_description']) ? $default['form_description'] : '');?></textarea>
		</div>
        </div>
        
        <div class="control-group">
                <label class="control-label"><span class="required_symbol">*&nbsp;</span>Cat&eacute;gorie</label>
                <div class="controls">
			<input class="span3" name="form_category" type="text" value="<?=(isset($default['form_category']) ? $default['form_category'] : '');?>" required="required" placeholder="Mots cl&eacute;s d&eacute;signant le formulaire" title="Entrez des mots cl&eacute;s d&eacute;signant le formulaire" />
		</div>
        </div>
        
<!-- ***********************************************************************************************************
Partie d'édition WYSIWYG
************************************************************************************************************ -->
        <div class="well">
                <fieldset>
                        <legend>Pr&eacute;visualisation du formulaire</legend>
                        <ul class="form_fields">
                                <?=$interface_ajout_champs;?>
                        </ul>
                        
                        <div id="add_field" style="display:none;">
                                <div class="edit_field"></div>
                                <div class="form-actions no-margin-bottom">
                                        <a href="#" name="ajouter" class="btn btn-primary button_save button_add_field"><?=BAZ_AJOUTER;?></a>
                                        <a href="#" name="annuler" class="btn button_cancel button_cancel_add_field"><?=BAZ_ANNULER;?></a> 
                                </div>
                        </div>
                        
                        <div id="change_field" style="display:none;">
                                <div class="edit_field"></div>
                                <div class="form-actions no-margin-bottom">
                                        <a href="#" name="ajouter" class="btn btn-primary button_save button_change_field"><?=BAZ_MODIFIER;?></a>
                                        <a href="#" name="annuler" class="btn button_cancel button_cancel_change_field"><?=BAZ_ANNULER;?></a>
                                </div>
                                <div class="clear"></div>
                        </div>
                        
                        
                        <div id="choose_field_type_to_add" class="control-group">
                                <select name="choose_field_type" id="choose_field_type" class="btn btn-primary">
                                        <option value="">Ajouter un nouveau champ</option>
                                        <option value="text">Champ texte</option>
                                        <option value="textarea">Champ texte long</option>
                                        <?php if(!isset($warning_list)): ?><option value="list">Liste d&eacute;roulante ou cases &agrave; cocher</option><?php endif; ?>
                                        <option value="file">Champ fichier joint</option>
                                        <option value="image">Champ image</option>
                                        <option value="wiki">Texte wiki</option>
                                </select>
                        </div>
                </fieldset>
        </div>
<!-- ***********************************************************************************************************
Titre de la fiche
************************************************************************************************************ -->
       <div class="control-group">
                <label class="control-label" for="title_generator"><span class="required_symbol">*&nbsp;</span>Champ titre de la fiche</label>
                <div class="controls">
                        <select id="list_title_generator" name="title_generator" class="updatable-input-text" required="required">
                                <option value="" selected="selected">Choisir...</option>
                                <option value="personalized">Personnalis&eacute;</option>
                        </select>
                </div>
        </div>
        <div id="title_generator_personalized" class="control-group" style="display:none;"> <!-- choix conditionnel : title choisi pour le champs type_html -->
                <label class="control-label" for="personalized_title">
                        <span class="required_symbol">*&nbsp;</span>Titre personnalis&eacute;<img class="tooltip_aide" title="Mettre des identifiants des champs entre doubles accolades pour les utiliser.<br />Par exemple :  {{nom}}, {{prenom}} : {{ville}}" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" />
                </label>
                <div class="controls">
                        <input class="span2" id="personalized_title" name="personalized_title" type="text" value="<?=(isset($default['personalized_title']) ? $default['personalized_title'] : '');?>" />
                </div>
        </div>


<div id="accordion_advanced_form_settings" class="accordion">
        <div class="accordion-group">
                <div class="accordion-heading">
                        <a title="Voir les param&egrave;tres avanc&eacute;s" href="#collapseOne" data-parent="#accordion_advanced_form_settings" data-toggle="collapse" class="accordion-toggle">
                          <span class="arrow">&#9658;</span>&nbsp;&nbsp;Param&egrave;tres avanc&eacute;s
                        </a>
                </div>
                <div class="accordion-body collapse" id="collapseOne">
                        <div class="accordion-inner">

<!-- ***********************************************************************************************************
Droits d'accès
************************************************************************************************************ -->
        <div class="accordion">
                <h2 class="accordion_title">Droits d'acc&egrave;s</h2>
                <div class="pane">
                        <h3 class="section_title">Pour le formulaire</h3>
                        <div class="control-group">
                                <label class="control-label" for="terms_of_use">Conditions de saisie</label>
                                 <textarea class="input-xlarge" cols="40" rows="2" id="terms_of_use" name="terms_of_use" placeholder="Conditions d'utilisation des donn&eacute;es saisies par l'utilisateur du formulaire"/><?=(isset($default['terms_of_use']) ? $default['terms_of_use'] : '');?></textarea>
                        </div>
                        <label class="control-label" for="form_read_acls">Droits en lecture</label>
                        <select id="form_read_acls" name="form_read_acls">
                                <option value="default" selected="selected">Par d&eacute;faut</option>
                                <option value="logged">Seulement les identifi&eacute;s</option>
                                <?=$options_group;?>
                                <option value="owner">Seul le propri&eacute;taire</option>
                        </select>
                        <label class="control-label" for="form_write_acls">Droits en &eacute;criture</label>
                        <select id="form_write_acls" name="form_write_acls">
                                <option value="default" selected="selected">Par d&eacute;faut</option>
                                <option value="logged">Seulement les identifi&eacute;s</option>
                                <?=$options_group;?>
                                <option value="owner">Seul le propri&eacute;taire</option>
                        </select>
                        <h3 class="section_title">Pour les fiches saisies par le  formulaire</h3>
                        <label class="control-label" for="sheet_read_acls">Droits en lecture</label>
                        <select id="sheet_read_acls" name="sheet_read_acls">
                                <option value="default" selected="selected">Par d&eacute;faut</option>
                                <option value="logged">Seulement les identifi&eacute;s</option>
                                <?=$options_group;?>
                                <option value="owner">Seul le propri&eacute;taire</option>
                        </select>
                        <label class="control-label" for="sheet_write_acls">Droits en &eacute;criture</label>
                        <select id="sheet_write_acls" name="sheet_write_acls">
                                <option value="default" selected="selected">Par d&eacute;faut</option>
                                <option value="logged">Seulement les identifi&eacute;s</option>
                                <?=$options_group;?>
                                <option value="owner">Seul le propri&eacute;taire</option>
                        </select>
                        <label class="control-label" for="sheet_comments_acls">Commentaires</label>
                        <select id="sheet_comments_acls" name="sheet_comments_acls">
                                <option value="off" selected="selected">Ferm&eacute;s</option>
                                <option value="default">Pour tous, droits par d&eacute;faut</option>
                                <option value="logged">Pour les identifi&eacute;s seulement</option>
                                <?=$options_group;?>
                        </select>
                </div>
<!-- ***********************************************************************************************************
Geolocalisation
************************************************************************************************************ -->
                <h2 class="accordion_title">G&eacute;olocalisation</h2>
                <div class="pane">
                        <div class="control-group">
                                <label class="control-label" for="geo_adress">Champ de l'adresse</label>
                                <select id="geo_adress" class="updatable-input-text" name="geo_adress">
                                        <option value="" selected="selected">Choisir...</option>
                                </select>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="geo_city">Champ de la ville</label>
                                <select id="geo_city" class="updatable-input-text" name="geo_city">
                                        <option value="" selected="selected">Choisir...</option>
                                </select>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="geo_country">Champ du pays</label>
                                <select id="geo_country" class="updatable-input-list" name="geo_country">
                                        <option value="" selected="selected">Choisir...</option>
                                </select>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="geo_searchfields">Texte suppl&eacute;mentaire de recherche&nbsp;<img class="tooltip_aide" title="Permet d'imposer un crit&egrave;re suppl&eacute;mentaire de géolocalisation (un d&eacute;partement, un pays ou une ville)." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                                <input id="geo_searchfields" name="geo_searchfields" type="text" placeholder="Ajoute un crit&egrave;re de g&eacute;olocalisation (un d&eacute;partement, un pays ou une ville)."/>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="required">Saisie des coordonn&eacute;es obligatoire</label>
                                <input type="checkbox" id="carto_required" name="required" />
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="view_single_point">Affiche une carte consultable</label>
                                <input type="checkbox" id="view_single_point" name="view_single_point" />
                        </div>
                        <h3 class="section_title">Configuration de la carte google</h3>
                        <div class="control-group">
                                <label class="control-label">Latitude du centre&nbsp;<img class="tooltip_aide" title="Centre la carte sur le point de latitude indiqu&eacute;e" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                                <input name="center_lat" type="text" />
                        </div>
                        <div class="control-group">
                                <label class="control-label">Longitude du centre&nbsp;<img class="tooltip_aide" title="Centre la carte sur le point de longitude indiqu&eacute;e" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                                <input name="center_lon" type="text" />
                        </div>
                        <div class="control-group">
                                <label class="control-label">Echelle de la carte&nbsp;<img class="tooltip_aide" title="Niveau de zoom : de 1 (plus &eacute;loign&eacute;) a 15 (plus proche)" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                                <div class="form_input">
                                        <input name="zoom" type="range" min="1" max="15" value="1" />
                                        <div class="clear"></div>
                                </div>
                        </div>
                        <div class="control-group">
                                <label class="control-label">Type d'affichage de la cartographie</label>
                                <select id="map_layer_type" name="map_layer_type">
                                        <option value="ROADMAP" selected="selected">Carte type IGN</option>
                                        <option value="SATELLITE">Photo satellite</option>
                                        <option value="HYBRID">Hybride</option>
                                        <option value="TERRAIN">Terrain</option>
                                </select>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="internet_connection">G&eacute;olocaliser par la connexion Internet</label>
                                <input type="checkbox" id="internet_connection" name="internet_connection" />
                        </div>
                </div>
<!-- ***********************************************************************************************************
Calendrier et tâches à faire
************************************************************************************************************ -->
                <h2 class="accordion_title">Calendriers / T&acirc;ches &agrave; faire</h2>
                <div class="pane">
                        <div class="control-group">
                                <label class="control-label" for="cal_begin_date">Champ pour la date de d&eacute;but</label>
                                <select id="cal_begin_date" class="updatable-input-date" name="cal_begin_date">
                                        <option value="" selected="selected">Choisir...</option>
                                </select>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="cal_end_date">Champ pour la date de fin</label>
                                <select id="cal_end_date" class="updatable-input-date" name="cal_end_date">
                                        <option value="" selected="selected">Choisir...</option>
                                </select>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="become_todo">Les fiches cr&eacute;&eacute;es sont des t&acirc;ches &agrave; faire</label>
                                <input type="checkbox" id="become_todo" name="become_todo" />
                        </div>
                </div>
<!-- ***********************************************************************************************************
Notification par email
************************************************************************************************************ -->
                <h2 class="accordion_title">Notifications par E-mail</h2>
                <div class="pane">
                        <div class="control-group">
                                <label class="control-label" for="send_to_group">Envoyer un mail au groupe</label>
                                <select id="send_to_group" name="send_to_group">
                                        <option value="" selected="selected">Choisir...</option>
                                        <?=$options_group;?>
                                </select>
                        </div>
                </div>
<!-- ***********************************************************************************************************
Création d'un NomWiki
************************************************************************************************************ -->
                <h2 class="accordion_title">Cr&eacute;ation d'un NomWiki</h2>
                <div class="pane">
                        <div class="control-group">
                                <label class="control-label" for="user_wikiname">Champ pour g&eacute;n&eacute;rer le NomWiki</label>
                                <select id="user_wikiname" name="user_wikiname" class="updatable-input-text">
                                        <option value="1" selected="selected">Choisir...</option>
                                </select>
                        </div>
                        <div class="control-group">
                                <label class="control-label" for="user_mail">Champ pour l'E-mail</label>
                                <select id="user_mail" name="user_mail" class="updatable-input-text-email">
                                        <option value="1" selected="selected">Choisir...</option>
                                </select>
                        </div>
                </div>
        </div>


                        </div>
                </div>
        </div>
</div>

        <input name="idformulaire" type="hidden" value="<?=$idformulaire;?>" />
<!-- ***********************************************************************************************************
Boutons Sauver et Annuler
************************************************************************************************************ -->
        <div class="form-actions">
		<button class="btn btn-primary button_save_form" name="saveform" type="submit"><?=BAZ_ENREGISTRE;?></button>
		<a class="btn" name="cancel" href="<?=$cancel_link;?>"><?=BAZ_ANNULER;?></a>
	</div>
</form>





<!--
*********************************************************************************************************************************     *********************************************************************************************************************************
           Partie cachée qui est appelée par jquery selon de type de champ que l'on souhaite ajouter
*********************************************************************************************************************************
*********************************************************************************************************************************
-->

<!-- ***********************************************************************************************************
Ajout d'un champ texte
************************************************************************************************************ -->
<div id="champs_text" style="display:none;">
        <div class="modal-header">
                <a class="close button_cancel_add_field" href="#">&times;</a>
                <h3><span class="action_champ">Ajouter</span> un champ de type texte</h3>
        </div>
        <div class="modal-body">
                <div class="control-group">
                        <label class="control-label"><span class="required_symbol">*&nbsp;</span>Identifiant&nbsp;<img class="tooltip_aide" title="Identifiant dans la base de donn&eacute;es (ne sera pas visible &agrave; l&#146;&eacute;cran).<br />Doit &ecirc;tre unique pour l&#146;ensemble des champs des formulaires, et sans caract&egrave;res sp&eacute;ciaux." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                        <div class="controls">
                                <input name="id" type="text" required="required" class="span1" placeholder="Id" value="" />
                        </div>

                </div>
                
                <div class="control-group">
                        <label class="control-label"><span class="required_symbol">*&nbsp;</span>Nom du champs&nbsp;<img class="tooltip_aide" title="Texte apparaissant devant le champ &agrave; remplir par l&#146;utilisateur." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                        <div class="controls">
                                <input name="label" type="text" required="required" class="span3" placeholder="Label" value="" />
                        </div>
                </div>
                
                <div class="control-group">
                        <label class="control-label">Format du champ&nbsp;<img class="tooltip_aide" title="Texte normal = texte saisi librement<br />Adresse URL = n&#146;accepte que des liens commancant par http://, qui seront cliquables<br />Date = propose un calendrier de saisie d&#146;une date<br />E-mail = n&#146;accepte que des adresse mails valides, qui seront cliquables<br />Mot de passe = cache la saisie du champ<br />Num&eacute;rique = n&#146;accepte que des nombres" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                        <div class="controls">
                                <select id="field_format" name="field_format" class="span3">
                                        <option value="text" selected="selected">Texte normal</option>
                                        <option value="url">Adresse URL</option>
                                        <option value="date">Date</option>
                                        <option value="email">E-mail</option>
                                        <option value="password">Mot de passe</option>
                                        <option value="numeric">Num&eacute;rique</option>
                                </select>
                        </div>
                </div>
                
                <div class="control-group">
                        <label class="control-label" for="required">Champs obligatoire&nbsp;<img class="tooltip_aide" title="Cocher pour rendre la saisie de ce champs obligatoire." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                        <div class="controls">
                                <input type="checkbox" id="required" name="required" />
                        </div>
                </div>

                <div id="accordion_advanced_input_settings" class="accordion">
                        <div class="accordion-group">
                                <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_advanced_input_settings" href="#collapse_input" title="Voir les param&egrave;tres avanc&eacute;s">
                                        <span class="arrow">&#9658;</span>
                                        &nbsp;&nbsp;Param&egrave;tres avanc&eacute;s
                                        </a>
                                </div>

                                <div id="collapse_input" class="accordion-body collapse">
                                        <div class="accordion-inner">
                        			<div class="control-group">
                					<label class="control-label">Texte d'aide&nbsp;<img class="tooltip_aide" title="Ce texte sera affich&eacute; au survol de l&#146;icone avec le point d&#146;interrogation." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                					<div class="controls">
                                                                <input type="text" name="help_tooltip" placeholder="Texte de la bulle d'aide" class="span3" />
                                                        </div>
                        			</div>
                        			
                        			<div class="control-group">
                					<label class="control-label">Texte par d&eacute;faut&nbsp;<img class="tooltip_aide" title="Texte apparaissant dans le champ &agrave; remplir par l&#146;utilisateur." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                					<div class="controls">
                                                                <input type="text" name="default" placeholder="Texte par d&eacute;faut" class="span3" />
                                                        </div>
                        			</div>
                        			
                        			<div class="control-group">
                        				<label class="control-label">Nb caract&egrave;res min&nbsp;<img class="tooltip_aide" title="valeur comprise entre 0 et 255" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                        				<div class="controls">
                                                                <input id="nb_char_min" class="span1" name="nb_char_min" type="range" min="0" max="255" value="0" />
                                                        </div>
                        			</div>
                        			
                        			<div class="control-group">
                        				<label class="control-label">Nb caract&egrave;res max&nbsp;<img class="tooltip_aide" title="valeur comprise entre 0 et 255" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                                                        <div class="controls">
                                                                <input id="nb_char_max" class="span1" name="nb_char_max" type="range" min="0" max="255" value="255" />
                                                        </div>
                        			</div>
                                        </div>
                                </div>
                        </div>
		</div>
        </div>
</div>


<!-- ***********************************************************************************************************
Ajout d'un champ texte long
************************************************************************************************************ -->
<div id="champs_textarea" style="display:none;">
        <h2 class="titre_champs"><span class="action_champ">Ajouter</span> un champ de type texte long</h2>
        
        <div class="control-group">
                <label class="control-label"><span class="required_symbol">*&nbsp;</span>Identifiant&nbsp;<img class="tooltip_aide" title="Identifiant dans la base de donn&eacute;es (ne sera pas visible &agrave; l&#146;&eacute;cran).<br />Doit &ecirc;tre unique pour l&#146;ensemble des champs des formulaires, et sans caract&egrave;res sp&eacute;ciaux." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <input name="id" type="text" required="required" />
        </div>
        
        <div class="control-group">
                <label class="control-label"><span class="required_symbol">*&nbsp;</span>Label&nbsp;<img class="tooltip_aide" title="Texte apparaissant devant le champ &agrave; remplir par l&#146;utilisateur." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <input name="label" type="text" required="required" />
        </div>
        
        <div class="control-group">
                <label class="control-label" for="required">Champs obligatoire&nbsp;<img class="tooltip_aide" title="Cocher pour rendre la saisie de ce champs obligatoire." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <input type="checkbox" id="required" name="required" />
        </div>
        
        <a title="Voir les param&egrave;tres avanc&eacute;s" class="bazar_show_advanced" href="#"><span class="arrow">&#9658;</span>&nbsp;&nbsp;Param&egrave;tres avanc&eacute;s</a>
		<div style="display: none;" class="bazar_advanced">
			<div class="control-group">
					<label class="control-label">Texte de la bulle d'aide&nbsp;<img class="tooltip_aide" title="Ce texte sera affich&eacute; au survol de l&#146;icone avec le point d&#146;interrogation." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
					<input type="text" name="help_tooltip" />
			</div>
			
			<div class="control-group">
					<label class="control-label">Texte par d&eacute;faut&nbsp;<img class="tooltip_aide" title="Texte apparaissant dans le champ &agrave; remplir par l&#146;utilisateur." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
					<input name="default" type="text" />
			</div>
			
			<div class="control-group">
					<label class="control-label">Nombre de caract&egrave;res minimum&nbsp;<img class="tooltip_aide" title="valeur comprise entre 0 et 65000" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
					<input id="nb_char_min" name="nb_char_min" type="range" min="0" max="65000" value="10" />
					<div class="clear"></div>
			</div>
			
			<div class="control-group">
					<label class="control-label">Nombre de caract&egrave;res maximum&nbsp;<img class="tooltip_aide" title="valeur comprise entre 0 et 65000" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
					<input id="nb_char_max" name="nb_char_max" type="range" min="0" max="65000" value="65000" />
					<div class="clear"></div>
			</div>
		</div>
</div>


<!-- ***********************************************************************************************************
Ajout d'une liste
************************************************************************************************************ -->
<div id="champs_list" style="display:none;">
        <h2 class="titre_champs"><span class="action_champ">Ajouter</span> une liste d&eacute;roulante ou des cases &agrave; cocher</h2>
        
        <div class="control-group">
				<label class="control-label" for="id_liste"><span class="required_symbol">*&nbsp;</span>Identifiant&nbsp;<img class="tooltip_aide" title="Identifiant dans la base de donn&eacute;es (ne sera pas visible &agrave; l&#146;&eacute;cran).<br />Doit &ecirc;tre unique pour l&#146;ensemble des champs des formulaires, et sans caract&egrave;res sp&eacute;ciaux." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
				<input id="id_liste" name="id" type="text" required="required" />
		</div>
		
        <div class="control-group">
                <label class="control-label" for="label_liste"><span class="required_symbol">*&nbsp;</span>Label&nbsp;<img class="tooltip_aide" title="Texte apparaissant devant le champ &agrave; remplir par l&#146;utilisateur." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <input id="label_liste" name="label" type="text" required="required" />
        </div>
        
        <div class="control-group">
                <label class="control-label"><span class="required_symbol">*&nbsp;</span>Source des valeurs&nbsp;<img class="tooltip_aide" title="Ce type de champ peut contenir:<br /> - soit des listes<br /> - soit des fiches" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <select id="source" name="field_format" required="required">
                        <option value="" selected="selected">Choisir...</option>
						<?=$lists;?>
                </select>
        </div>
        
        <div class="control-group">
                <label class="control-label"><span class="required_symbol">*&nbsp;</span>Format du champs</label>
                <select id="field_format" name="field_format" required="required">
                        <option value="" selected="selected">Choisir...</option>
                        <option value="select">Liste d&eacute;roulante</option>
                        <option value="checkbox">Case &agrave; cocher</option>
                </select>
        </div>
        
        <div class="control-group">
                <label class="control-label" for="required">Champs obligatoire&nbsp;<img class="tooltip_aide" title="Cocher pour rendre la saisie de ce champs obligatoire." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <input type="checkbox" id="required" name="required" />
        </div>
        
        <a title="Voir les param&egrave;tres avanc&eacute;s" class="bazar_show_advanced" href="#"><span class="arrow">&#9658;</span>&nbsp;&nbsp;Param&egrave;tres avanc&eacute;s</a>
		<div style="display: none;" class="bazar_advanced">
			<div class="control-group">
					<label class="control-label">Texte de la bulle d'aide&nbsp;<img class="tooltip_aide" title="Ce texte sera affich&eacute; au survol de l&#146;icone avec le point d&#146;interrogation." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
					<input type="text" name="help_tooltip" />
			</div>
			
			<div id="field_format_select" style="display:none;"><!-- choix select pour le type de champs -->
			<div class="control-group">
							<label class="control-label">Valeur par d&eacute;faut&nbsp;<img class="tooltip_aide" title="valeur s&eacute;lectionn&eacute;e par d&eacute;faut pour la liste" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
							<select id="select_default" name="select_default">
									<option value="" selected="selected">Choisir...</option>
							</select>
					</div>
			</div>
			
			<div id="field_format_checkbox" style="display:none;"><!-- choix checkbox pour le type de champs -->
					<fieldset class="bazar_fieldset"><legend>Valeur par d&eacute;faut</legend>
							<div id="checkbox_default" class="bazar_checkbox"></div>
					</fieldset>
					<!--
					<div class="control-group">
							<label class="control-label">Nombre de choix minimum&nbsp;<img class="tooltip_aide" title="Laisser 0 pour que le champs ne soit pas obligatoire" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
							<div class="form_input">
									<input id="checkbox_nb_choices_min" name="select_nb_choices_min" type="range" min="0" max="10" value="0" />
									<div class="clear"></div>
							</div>
					</div>
					<div class="control-group">
							<label class="control-label">Nombre de choix maximum&nbsp;<img class="tooltip_aide" title="Nombre de choix simultan&eacute;s possibles" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
							<div class="form_input">
									<input id="checkbox_nb_choices_max" name="select_nb_choices_max" type="range" min="1" max="10" value="1" />
									<div class="clear"></div>
							</div>
					</div> 
					-->
			</div>
			
			<div class="control-group">
					<label class="control-label" for="searchable">Apparait dans le moteur de recherche</label>
					<input type="checkbox" id="searchable" name="searchable" />
			</div>
		</div>
</div>


<!-- ***********************************************************************************************************
Ajout d'un champ fichier
************************************************************************************************************ -->
<div id="champs_file" style="display:none;">
        <h2 class="titre_champs"><span class="action_champ">Ajouter</span> un fichier joint</h2>
        <div class="control-group">
                <label class="control-label" for="link-title"><span class="required_symbol">*&nbsp;</span>Texte du lien&nbsp;<img class="tooltip_aide" title="Texte du lien ouvrir le fichier joint" src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <input id="link-title" name="link-title" type="text" required="required" />
        </div>
        <div class="control-group">
                <label class="control-label" for="link-description">Commentaire&nbsp;<img class="tooltip_aide" title="Description du fichier joint." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <textarea id="link-description" name="link-description" class="input-xlarge" cols="20" rows="3"></textarea>
        </div>
        <div class="control-group">
                <label class="control-label" for="required">L'ajout d'un fichier joint est obligatoire</label>
                <input type="checkbox" id="required" name="required" />
        </div>
</div>


<!-- ***********************************************************************************************************
Ajout d'un champ image
************************************************************************************************************ -->
<div id="champs_image" style="display:none;">
        <h2 class="titre_champs"><span class="action_champ">Ajouter</span> un champ de type image</h2>
        <div class="control-group">
                <label class="control-label" for="image_description"><span class="required_symbol">*&nbsp;</span>Texte descriptif de l'image&nbsp;<img class="tooltip_aide" title="Texte apparaissant au survol de la vignette ou de l&#146;image, et en remplacement de l&#146;image si elle ne se charge pas." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <input id="image_description" name="image_description" type="text" value="" required="required" />
        </div>
        <div class="control-group">
                <label class="control-label" for="thumbnail_max">Taille maximale de la vignette&nbsp;<img class="tooltip_aide" title="En pixels, prend automatiquement le cot&eacute; le plus long entre la largeur et la hauteur.<br />Laisser vide si pas de vignettes &agrave; g&eacute;n&eacute;rer." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <input id="thumbnail_max" name="thumbnail_max" type="range" min="0" max="480" step="10" value="0" />
                <div class="clear"></div>
        </div>
        <div class="control-group">
                <label class="control-label" for="image_max">Taille maximale de l'image&nbsp;<img class="tooltip_aide" title="En pixels, prend automatiquement le cot&eacute; le plus long entre la largeur et la hauteur.<br />Laisser vide si la taille originale de l&#146;image doit etre pr&eacute;serv&eacute;e." src="tools/bazar/presentation/images/aide.png" width="16" height="16" alt="image aide" /></label>
                <input id="image_max" name="image_max" type="range" min="0" max="1600" step="50" value="0" />
                <div class="clear"></div>
        </div>
        <div class="control-group">
                <label class="control-label" for="required">L'ajout de l'image est obligatoire</label>
                <input type="checkbox" id="required" name="required" />
        </div>
</div>


<!-- ***********************************************************************************************************
Ajout d'un texte en syntaxe wiki
************************************************************************************************************ -->
<div id="champs_wiki" style="display:none;">
        <h2 class="titre_champs"><span class="action_champ">Ajouter</span> du texte wiki</h2>
       
        <div class="control-group">
                <label class="control-label" for="wiki_text"><span class="required_symbol">*&nbsp;</span>Texte wiki</label>
                <input id="wiki_text" name="wiki_text" type="text" required="required" />
        </div>

        <fieldset class="bazar_fieldset">
                <legend>Apparait pour</legend>
                <input type="checkbox" id="label_saisie" checked="checked" value="1" name="label_saisie" class="element_checkbox" />
                <label class="control-label" for="label_saisie">la saisie d'une fiche</label>
                <input type="checkbox" id="label_fiche" value="1" name="label_fiche" class="element_checkbox" />
                <label class="control-label" for="label_fiche">la consultation de la fiche</label>
                <input type="checkbox" id="label_search" value="1" name="label_search" class="element_checkbox" />
                <label class="control-label" for="label_search">le moteur de recherche</label>
        </fieldset>
</div>
