<form action="<?=$url_formulaire;?>" method="post" id="bazar_form_lists" class="bazar_form form-horizontal">
	<div class="control-group">
		<label class="control-label"><span class="required_symbol">*&nbsp;</span>Nom de la liste</label>
		<div class="controls">
			<input class="span3" name="titre_liste" type="text" value="<?=(isset($titre_liste) ? $titre_liste : '');?>" required="required" placeholder="Nom de la liste" />
		</div>
	</div>

	<?=$valeurs_listes;?>
	
	<input name="NomWiki" type="hidden" value="<?=$NomWiki;?>" />

	<div class="form-actions">
		<button class="btn btn-primary" name="valider" type="submit"><?=BAZ_ENREGISTRE;?></button>
		<a class="btn" name="annuler" href="<?=$cancel_link;?>"><?=BAZ_ANNULER;?></a>
	</div>


</form>
