<?php $i=0;?>
<?php foreach($field as $formfield): ?>
<?php $i++;?>
<?php if($formfield['field_type'] == 'text'): ?>
<?php if($mode == 'edit_form'): ?>
<li class="edit_control-group" id="row<?=$i;?>">
	<a class="handle" title="D&eacute;placer l'&eacute;l&eacute;ment" href="#"></a>
	<a class="BAZ_lien_supprimer supprimer_champs_formulaire" href="#"></a>
	<a class="BAZ_lien_modifier modifier_champs_formulaire" href="#"></a>
<?php endif; ?>	
	<div class="control-group">
		<label class="control-label">
			<?php if($formfield['required'] == 'on'): ?><span class="required_symbol">*&nbsp;</span><?php endif; ?>
			<?=$formfield['label'];?><?php if($formfield['help_tooltip'] != ''): ?>&nbsp;<img height="16" width="16" alt="image aide" src="tools/bazar/presentation/images/aide.png" class="tooltip_aide"><?php endif; ?>
		</label>
		<div class="controls"> 
			<input type="text" <?php if($formfield['required'] == 'on' && $mode != 'edit_form'): ?>required <?php endif; ?>name="<?=$formfield['id'];?>" class="span3 input_<?=$formfield['field_type'];?>" maxlength="<?=$formfield['nb_char_max'];?>" <?php if($mode == 'edit_form'): ?>disabled="disabled" <?php endif; ?>/>
		</div>
	</div>
<?php if($mode == 'edit_form'): ?>	
	<input type="hidden" value="<?=$formfield['field_values_serialised'];?>" name="field[<?=$i;?>]" id="field<?=$i;?>" />
	<div class="clear"></div>
</li>
<?php endif; ?>	
<?php endif; ?>

<?php if($formfield['field_type'] == 'textarea'): ?>
<?php if($mode == 'edit_form'): ?>
<li class="edit_control-group" id="row<?=$i;?>">
	<a class="handle" title="D&eacute;placer l'&eacute;l&eacute;ment" href="#"></a>
	<a class="BAZ_lien_supprimer supprimer_champs_formulaire" href="#"></a>
	<a class="BAZ_lien_modifier modifier_champs_formulaire" href="#"></a>
<?php endif; ?>	
	<div class="control-group">
		<label class="control-label">
			<?php if($formfield['required'] == 'on'): ?><span class="required_symbol">*&nbsp;</span><?php endif; ?>
			<?=$formfield['label'];?><?php if($formfield['help_tooltip'] != ''): ?>&nbsp;<img height="16" width="16" alt="image aide" src="tools/bazar/presentation/images/aide.png" class="tooltip_aide"><?php endif; ?>
		</label>
		<div class="controls"> 
			<textarea cols="20" rows="3" <?php if($formfield['required'] == 'on' && $mode != 'edit_form'): ?>required <?php endif; ?>name="<?=$formfield['id'];?>" class="span3" maxlength="<?=$formfield['nb_char_max'];?>" <?php if($mode == 'edit_form'): ?>disabled="disabled" <?php endif; ?>></textarea>
		</div>
	</div>
<?php if($mode == 'edit_form'): ?>	
	<input type="hidden" value="<?=$formfield['field_values_serialised'];?>" name="field[<?=$i;?>]" id="field<?=$i;?>" />
	<div class="clear"></div>
</li>
<?php endif; ?>	
<?php endif; ?>

<?php if($formfield['field_type'] == 'list'): ?>
<?php if($mode == 'edit_form'): ?>
<li class="edit_control-group" id="row<?=$i;?>">
	<a class="handle" title="D&eacute;placer l'&eacute;l&eacute;ment" href="#"></a>
	<a class="BAZ_lien_supprimer supprimer_champs_formulaire" href="#"></a>
	<a class="BAZ_lien_modifier modifier_champs_formulaire" href="#"></a>
<?php endif; ?>	
	<div class="control-group">liste
		<--<label class="control-label">
			<?php if($formfield['required'] == 'on'): ?><span class="required_symbol">*&nbsp;</span><?php endif; ?>
			<?=$formfield['label'];?><?php if($formfield['help_tooltip'] != ''): ?>&nbsp;<img height="16" width="16" alt="image aide" src="tools/bazar/presentation/images/aide.png" class="tooltip_aide"><?php endif; ?>
		</label>
		<div class="controls"> 
			<input type="text" <?php if($formfield['required'] == 'on' && $mode != 'edit_form'): ?>required <?php endif; ?>name="<?=$formfield['id'];?>" class="span3 input_<?=$formfield['field_type'];?>" maxlength="<?=$formfield['nb_char_max'];?>" <?php if($mode == 'edit_form'): ?>disabled="disabled" <?php endif; ?>/>
		</div>-->
	</div>
<?php if($mode == 'edit_form'): ?>	
	<input type="hidden" value="<?=$formfield['field_values_serialised'];?>" name="field[<?=$i;?>]" id="field<?=$i;?>" />
	<div class="clear"></div>
</li>
<?php endif; ?>	
<?php endif; ?>

<?php endforeach; ?>
