# we ignore all folders other than yeswiki's ones, to be able to use farm for example
/*/
!.github/
!actions/
!cache/
!custom/
!docs/
!files/
!formatters/
!handlers/
!includes/
!javascripts/
!lang/
!private/
!setup/
!styles/
!templates/
!tests/
!themes/
!tools/
!docker/

# Composer
vendor

# Node modules
node_modules
!javascripts/vendor
!styles/vendor

# SEO
robots.txt

# YesWiki stuff
.env
wakka.config.php
info.php
cache/*
!cache/README.md
files/*
!files/README.md
!files/AdaLovelace_ada_byron.jpg
!files/LovelaceAda_lovelace.png
!files/ElizabethJFeinler_elizabethfeinler.jpg
!files/ElizabethJFeinler_elizabethfeinler-2011.jpg
!files/TesT2_presence-photo.png
!files/UnBeauLogoPourYeswiki_yeswiki-logo.png
!files/UnNouveauThemePourYeswiki_capture-décran-2020-02-12-à-13.16.33.png
!files/yeswiki-logo.png
!files/YeswikidaY_yeswiki-logo.png
!files/GererSite_modele_19880101000000_23001231235959.jpg
!files/PageHeader_bandeau_19880101000000_23001231235959.webp
themes/*
!themes/README.md
custom/*
!custom/.gitkeep
private/*
!private/.htaccess
!private/backups
private/backups/*
!private/backups/.htaccess
!private/backups/README.md

# tools
tools/*
!tools/README.md
!tools/autoupdate
!tools/aceditor/*
!tools/aceditor
!tools/aceditor/*
!tools/attach
!tools/attach/*
!tools/attach/libs/vendor
!tools/bazar
!tools/bazar/*
!tools/contact
!tools/contact/*
!tools/despam
!tools/despam/*
!tools/hashcash
!tools/hashcash/*
!tools/lang
!tools/lang/*
!tools/login
!tools/login/*
!tools/nospam
!tools/nospam/*
!tools/progressBar
!tools/progressBar/*
!tools/rss
!tools/rss/*
!tools/security
!tools/security/*
!tools/syndication
!tools/syndication/*
!tools/tableau
!tools/tableau/*
!tools/tags
!tools/tags/*
!tools/templates
!tools/templates/*
!tools/toc
!tools/toc/*
!tools/helloworld

# Macintosh OS
.DS_Store

# Eclipse IDE
.buildpath
.project
.settings/

# PHPStorm IDE
.idea
*.iml

# vscode IDE
!.vscode
.vscode/settings.json

# Docker
.db
docker-compose.local.yml

# Other
.phpintel/
*.old
.php-cs-fixer.cache
TODO
