**/vendor/**

# third-party libraries kept as shipped, formatted by whoever wrote them
**/*.min.js
tools/aceditor/presentation/javascripts/ext-searchbox.js
tools/attach/presentation/javascripts/qq.js
tools/bazar/presentation/javascripts/jquery.photobox.js
tools/bazar/presentation/javascripts/jquery.galleriffic.js
tools/bazar/presentation/javascripts/jquery.colorbox-min.js
