body {
  background-color: #f5f5f5;
  color: black;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica,
    sans-serif;
}

a {
  color: #933;
}

body,
p,
td,
li,
input,
select,
textarea {
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica,
    sans-serif;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
form {
  margin: 0;
  padding: 0;
}
tt {
  color: navy;
}

.error {
  color: #c33;
  font-weight: bold;
}
.indent {
  margin-left: 40px;
}
.additions {
  color: #080;
}
.deletions {
  color: #800;
}
.add {
  font-weight: bold;
  color: #c00;
  text-decoration: underline;
}
.del {
  font-style: italic;
  color: #c00;
  text-decoration: line-through;
}
.header {
  padding: 10px;
  padding-top: 0;
}
.page {
  background-color: #fff;
  padding: 10px;
  border: 1px inset;
}
.prev_alert {
  background-color: red;
  color: white;
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 5px;
}
.edit {
  width: 100%;
  height: 400px;
}
.footer {
  background-color: #ddd;
  padding: 5px;
  border: 1px inset;
}
.code {
  background: #fff;
  border: solid #888 2px;
  font-family: 'Courier New', Courier;
  color: black;
  font-size: 10pt;
  width: 100%;
  overflow: scroll;
  padding: 3px;
}
.revisioninfo {
  color: #aaa;
  padding-bottom: 20px;
}

.commentsheader {
  background-color: #ddd;
  padding: 2px 10px;
}
.comment {
  background-color: #eee;
  padding: 10px;
}
.commentinfo {
  color: #aaa;
}
.commentform {
  background-color: #eee;
  padding: 10px;
}

.copyright {
  font-size: 11px;
  color: #aaa;
  text-align: right;
}
.copyright a {
  color: #aaa;
}
.searchbox {
  background: #fffff8;
  border: 0;
  padding: 0;
  margin: 0;
}
.debug {
  font-size: 11px;
  color: #888;
}
