{% block title %}
    <h2>Hello {{ userName }} !</h2> 
    <b>Here is my message : {{ arguments.message }}</b>
    <p>{{ _t('HELLOWORLD_CONFIG') }}: {{ config.hello_world.my_param }}</p>
{% endblock %}