<html>
    <head>
        <style type="text/css">{{ style|replace({'url(':'url(' ~ baseUrl ~ '/tools/bazar/presentation/'})|raw }}</style>
    </head>
    <body>
        {{ include('@contact/notify-admins-list-deleted-email-text.twig') }}
    </body>
</html>