<ul class="filter-results">
<?php foreach ($elements as $tag => $element) : ?>
	<li class="filtered-element <?php echo $element["tagnames"]; ?>" data-wikipage="<?php echo $GLOBALS['wiki']->href('', $tag) ?>">
	  <h3 class="filtered-title"><?php echo $element["title"]; ?></h3>
      <?php echo $element["image"]; ?>
    </li> <!-- /.filtered-element -->
<?php endforeach; ?>
</ul>

<style>
.filter-results .filtered-element {
	float:left;
    opacity: 0;
    width:260px;
	display: inline-block;
	margin: 0 1% 15px 0; 
	padding: 8px; 
	border: 2px solid #FAFAFA; 
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); 
	background: #FEFEFE; background-image: linear-gradient(45deg, #FFF, #F9F9F9);
	-webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
	display: none; 
}

.filter-results { position:relative; }
.filter-results, .filter-results * {	 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.filtered-element:hover { 
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(34, 25, 25, 0.6);
  -moz-box-shadow: 0px 0px 10px rgba(34, 25, 25, 0.6);
  box-shadow: 0px 0px 10px rgba(34, 25, 25, 0.6);
}
.filtered-title {  
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 7px;
}
.filtered-image img {width:100%;}
.filtered-element.inactive {
opacity: 0;
display: none;
}
.filtered-element.active {
opacity: 1;
display: inline-block;
}
</style>