<div class="accordion">
<?php foreach($pageswiki as $pagewiki): ?>
	<h2 class="titre_accordeon">
		<?=$pagewiki['title'];?>
		<span class="liens_titre_accordeon">			
			<a href="<?=$pagewiki['link'];?>" class="BAZ_lien_voir" title="Voir la fiche"></a>			
			<?php if( isset($pagewiki['editlink']) ) : ?><a href="<?=$pagewiki['editlink'];?>" class="BAZ_lien_modifier"></a><?php endif; ?>
			<?php if( isset($pagewiki['deletelink']) ) : ?><a href="<?=$pagewiki['deletelink'];?>" class="BAZ_lien_supprimer" onclick="javascript:return confirm('Etes vous sûr de vouloir supprimer la fiche ? ?');"></a><?php endif; ?>
		</span>
	</h2>
	<div class="pane">
		<?=$pagewiki['page'];?>
		<?=$pagewiki['comment'];?>
	</div>
<?php endforeach; ?>
</div>