body { font:11px/18px verdana; color:#FFF; background:#F5F7EC url(../images/bg.jpg) repeat-x; margin:0; text-align:center; }
body, p, td, li, input, select, textarea { font:11px/18px verdana; line-height:1.7; }
a:link { font:11px verdana; font-weight:bold; text-decoration:underline; color:#8F9E28; }
a:visited { font-weight:bold; text-decoration:underline; color:#C0C0C0; }
a:hover, a:active { text-decoration:underline; color:#B8C271; }

#conteneur {width:720px; text-align:left; position:relative; margin:0 auto; }
#bandeau_haut {width:720px; height:215px; background:transparent url(../images/Bandeau-haut.jpg) no-repeat top left; padding:0; margin:0; }
#menu_column {float:left; clear:both; margin:0; padding:7px; width:156px; background:transparent url(../images/vert.png) repeat top left; -moz-border-radius:30px; }
#menu_column ul {margin:0; padding:0; }
#menu_column li {list-style-type:none; background:#859448; padding:0; margin:3px 0 1px 0; width:154px; }
#menu_column li:hover {background:#8c9f22 url(../images/Puce-menu.png) no-repeat 0 50%; }
#menu_column li a {display:block; color:#FFF; font:bold 12px verdana; text-decoration:none; padding:4px 0 4px 17px; width:137px;}
#menu_column li a:hover {color:#fca218; }
#body_column {float:left; margin:0 0 0 30px; width:500px; background:transparent url(../images/blanc.png) repeat top left; padding:10px; text-align:justify; color:#000;}
#bandeau_bas {float:left; clear:both; margin:10px 0; padding:5px 10px; width:720px; height:68px; background:transparent url(../images/Bandeau-bas.png) no-repeat top left; font-size:10px; }
#bandeau_bas input {font-size:10px;}
#bandeau_bas a {color:#fca218; text-decoration:none; font-size:10px;}
#bandeau_bas a:hover {color:#fff; text-decoration:underline; }
#titre_site {
	color:#523d1e;
	font-weight:bold;
	font-size:24px;
	position:absolute;
	top:50px;
	left:115px;
}

img {border:0;}

h1 {
	margin:0;
	padding:15px 0 20px 50px;
	color:#000;
	font-size:1.6em;
	background: url(../images/puce-titre1.png) no-repeat;
	min-height:31px;
}

h2 {
	color: #586e85;
	margin:0px;
	padding:0px;
	font-size: 1.4em;
}

blockquote {
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}

hr {
	color: #b4d627;
	background-color: #b4d627;
	height: 2px;
	border: 0;
	width:100%;
}

input {
	margin:1px;
	border:1px solid #b4d627;
}

textarea {
	margin:1px;
	border:1px solid #b4d627;
	width:100%;
}

.commentsheader {display:none;}
.hr_clear {display:none;}

/**** Classes de Wikini ***/
.error { color: #CC3333; font-weight: bold; }
.indent { margin-left: 40px; }
.additions { color: #008800; }
.deletions { color: #880000; }
.add { font-weight: bold; color: #c00; text-decoration: underline; }
.del { font-style: italic; color: #c00; text-decoration: line-through; }
.prev_alert { background-color: #b4d627; color: white; font-size: 1.7em; font-weight: bold; margin-bottom: 5px; }
.code { background: #FFFFFF; border: solid #888888 2px; font-family: 'Courier New', Courier; width: 100%; height: 400px; overflow: scroll; padding: 3px; }
.revisioninfo { color: #AAAAAA; padding-bottom: 20px; }

/**** Clear Div ***/
#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}

#rss a {
color :#FFFFFF;
}