<!-- SYNDICATION - DEBUT -->
<?php $nb = 0;
$id = md5($GLOBALS['wiki']->GetParameter("url")); ?>
<?php if (!empty($aso_page['titre_site'])) {
    echo '<h2>'.$aso_page['titre_site'].'</h2>';
} ?>
<div class="panel-group accordion-group no-dblclick" id="accordion<?php echo $id; ?>">
<?php foreach ($syndication['pages'] as $page) : $nb = $nb + 1; ?>
        <div class="panel panel-default">
          <div class="panel-heading collapsed"
            data-target="#collapse<?php echo $id; ?>_<?php echo $nb; ?>"
            data-toggle="collapse">
            <h4 class="panel-title">
              <?php echo $page['date'];?><?php if ($page['date']!='') : ?> - <?php endif; ?>
          		<?php echo $page['titre'];?>
              <?php
              if (!empty($page['source'])) {
                  echo ' <small>source : '.$page['source'].'</small>';
              }
              ?>
            </h4>
          </div>
          <div id="collapse<?php echo $id; ?>_<?php echo $nb; ?>" class="panel-collapse collapse">
            <div class="panel-body">
              <?php echo $page['description'];?>
              <br>
              <a class="btn btn-default" href="<?php echo $page['url'];?>" <?php echo ($page['ext'])? 'target="_blank"' : '';?>>
                Accéder à l'intégralité du contenu
              </a>
            </div>
          </div>
        </div>
<?php endforeach; ?>
</div>
<!-- SYNDICATION - FIN -->
