<!-- SYNDICATION - DEBUT -->
<!-- Attention ce template nécéssite le javascript de bazar.js -->
<div class="accordion">
<?php foreach ($syndication['pages'] as $page) : ?>
	<h2 class="titre_accordeon">
		<?=$page['date'];?><?php if ($page['date']!='') : ?> - <?php endif; ?>
		<?=$page['titre'];?>
	</h2>
	<div class="pane">
	<span class="description_rss"><?=$page['description'];?></span>
	<a class="lien_voir_site" href="<?=$page['url'];?>" <?=($page['ext'])? 'onclick="window.open(this.href); return false;"':'';?>>Voir l'article sur le site</a>
	</div>
<?php endforeach; ?>	 
</div>
<!-- SYNDICATION - FIN -->