img {
border:none;
}

.BAZ_titre_liste {
font-size:1.3em;
font-weight:700;
}

.lien_voir_site {
display:block;
text-align:right;
}

.symbole_obligatoire {
color:red;
}

.BAZ_liste {
list-style:none;
margin:10px 0 20px;
padding:0;
}

.BAZ_liste li {
list-style:none;
margin:0;
padding:0;
}

.table_bazar {width:100%; border:1px solid #990000; border-collapse:collapse;}
.table_bazar th {border:1px solid #990000; background:#990000; color:white; padding:2px;}
.table_bazar td {padding:3px;}
.table_bazar a {color:#990000;}
.ligne_paire {background:#FFDEDE;}
.ligne_impaire {background:#FFF;}

#BAZ_menu {
display:block;
width:100%;
text-align:center;
margin:10px auto;
padding:0;
}

#BAZ_menu ul {
display:block;
width:100%;
list-style-type:none;
margin:0;
padding:0;
}

#BAZ_menu li {
display:inline;
list-style-type:none;
margin:0 10px 0 0;
padding:0;
}

.boite_recherche {
display:inline;
background:#FFF url(images/recherche.png) no-repeat scroll 1px center;
border:1px solid #CCC;
font-size:13px;
margin:0 10px 0 0;
padding:5px 0 4px 20px;
width:300px;

}

.bouton_recherche {
font-size:13px;
padding:0;
display:inline;
float:none;
}

.grouperecherche {
display:block;
width:470px;
margin:0 auto 15px;
}

.BAZ_fiche_info {
clear:both;
background:#EEE;
border:1px solid #DDD;
color:#333;
font-size:.9em;
padding:3px;
margin:10px 0;
}
.BAZ_info {
background:#FBF9EE url(images/info.png) no-repeat 3px center;
border:1px solid #FCEFA1;
color:#444;
font-size:0.9em;
margin:10px 0 5px;
padding:7px 7px 6px 36px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}
.BAZ_error {
background:#FEF1EC url(images/error.png) no-repeat 3px center;
border:1px solid #CD0A0A;
color:#CD0A0A;
font-size:0.9em;
margin:10px 0 5px;
padding:7px 7px 6px 36px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}

.BAZ_actions_fiche li {
display:inline;
list-style-type:none;
margin:0 10px 0 0;
padding:0;
}

.BAZ_lien_valider {
background:transparent url(images/valide.png) no-repeat center left;
padding: 2px 0 2px 18px;
}

.BAZ_lien_invalider {
background:transparent url(images/invalide.png) no-repeat center left;
padding: 2px 0 2px 18px;
}

.BAZ_lien_voir {
background:transparent url(images/voir.png) no-repeat 4px center;
padding: 2px 0 2px 22px;
}

.BAZ_lien_modifier {
background:transparent url(images/edit.png) no-repeat center left;
padding: 2px 0 2px 18px;
}

.BAZ_lien_supprimer {
background:transparent url(images/delete.gif) no-repeat center left;
padding: 2px 0 2px 18px;
}

.modifier_champs_formulaire, .supprimer_champs_formulaire {
float:right;
width:18px;
height:18px;
padding:0;
}

.champ_formulaire_ligne {float:left;padding:5px 0;}

.BAZ_lien_nouveau, .ajout_fiche, .ajout_label_liste, .ajout_champs_formulaire {
background:transparent url(images/add.png) no-repeat center left;
border:0;
font-weight:700;
display:block;
margin:2px 0;
padding:2px 0 2px 20px;
}
.ajout_label_liste {
clear:both;
display:block;
margin:0 0 0 290px;
}

.groupebouton {
margin: 10px auto;
text-align: center;
}

div.overlay {
display:none;
}

div.overlay div.close {
background-image:url(images/overlay_close.png);
position:absolute;
right:5px;
top:5px;
cursor:pointer;
height:35px;
width:35px;
}

div.contentWrap_bazar {
text-align:center;
background:#FFF;
padding:10px;
-moz-box-shadow:2px 2px 20px rgba(100, 100, 100, 0.75);
-moz-border-radius:10px;
}

.btn_adresse,.btn_client {
display:inline;
width:215px;
font-size:11px;
color:#000;
border:1px solid #AAA;
background:#CCC;
margin:0 0 5px;
}

.coordonnees_google {
float:right;
width:180px;
}

.coordonnees_google .formulaire_ligne {
clear:none;
float:left;
width:90px;
margin:0;
padding:0;
}

.coordonnees_google .formulaire_label {
clear:none;
float:left;
font-size:10px;
width:45px;
margin:0 1px 0 0;
padding:0;
}

.coordonnees_google .formulaire_input input {
clear:none;
float:left;
width:42px;
font-size:12px;
color:#000;
border:1px solid #AAA;
background:#CCC;
margin:0;
padding:0;
}

#map {
margin:0 0 10px;
}

.BAZ_cadre_fiche {
text-align:left;
font-size:1em;
padding:0;
}

.BAZ_description {
font-size:1.1em;
text-align:justify;
}

.bulle_corps {
border:1px solid #3082AA;
-moz-border-radius:10px;
background:#DBE8C8;
margin:0;
padding:10px 5px;
}

.centrer {
clear:both;
margin:0 auto;
}

.rubrique {
width:150px;
text-align:left;
font-weight:700;
color:#515966;
}

.rubrique_bulle {
width:90px;
text-align:left;
font-weight:700;
color:#000;
}

.infos {
width:70%;
float:left;
min-height:120px;
font-weight:700;
color:#B1BB7E;
line-height:25px;
}

#formulaire .bazar_checkbox {
float:left;
width:192px;
font:10px arial, sans-serif;
border:0;
margin:0;
padding:0;
}

.lien_wikini {
border:2px solid #DBE8C8;
-moz-border-radius:10px;
background:#3082AA;
margin:0;
padding:10px 5px;
}

div.lien_wikini a {
padding-left:100px;
color:#FFF;
}

.table_bazar #col1,.table_bazar #col2,.table_bazar #col3,.table_bazar #col4 {
text-align:center;
}

fieldset.bazar_fieldset {
margin:0 0 15px 0;
padding:10px;
border:1px solid #999;
}

.tooltip_aide {
border:none;
text-decoration:underline;
}

.tooltip_aide:hover {
background:none;
}

.formulaire_ligne {
display:block;
clear:left;
width:100%;
margin:0 0 15px;
}
.valeur_liste .formulaire_ligne {
margin:0;
}

.formulaire_input {
width:100%;
margin:0;
}

.formulaire_ligne input, .input_texte {
border:1px solid #999;
width:300px;
}

.input_textarea {
height:100px;
overflow:auto;
border:1px solid #999;
width:300px;
white-space: normal;
}

.formulaire_ligne label, .formulaire_label {
clear:left;
display:inline;
float:left;
text-align:right;
width:282px;
margin:0 10px 0 0;
}

ul#tab_fiche,ul.css-tabs {
display:block;
margin:0;
padding:0;
}

ul.css-tabs li {
list-style-type:none;
margin:0;
padding:0;
}

ul.css-tabs a {
float:left;
font-size:12px;
display:block;
text-decoration:none;
border:1px solid #666;
border-bottom:0;
height:18px;
background-color:#efefef;
color:#777;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
position:relative;
top:1px;
margin:0 2px 0 0;
padding:5px;
}

ul.css-tabs a:hover {
background-color:#F7F7F7;
color:#333;
}

ul.css-tabs a.current {
background-color:#ddd;
border-bottom:1px solid transparent;
color:#000;
cursor:default;
}

fieldset.tab {
clear:left;
border:1px solid #666;
min-height:150px;
margin:0;
padding:15px 20px;
}

.tooltip_aide img {
border:0;
cursor:pointer;
}

#dynatooltip, #dynatooltipiframe {
display:none;
background:transparent url(images/white_arrow.png);
font-size:11px;
height:90px;
width:180px;
color:#000;
z-index:1000;
line-height:14px;
padding:15px;
}

.tooltip  {
-moz-box-shadow:2px 2px 11px #666;
-webkit-box-shadow:2px 2px 11px #666;
box-shadow:2px 2px 11px #666;
background-color:#000;
color:#FFF;
display:none;
font-size:13px;
padding:5px;
z-index:10001;
}

.cal_entete {
display:block;
margin:10px auto;
}

.calendrierjquerymini .cal_navigation {
display:block;
width:147px;
margin:0 auto;
}

.tc_lien {
float:right;
}

.cal_precedent_lien,.cal_suivant_lien {
display:block;
float:left;
width:23px;
height:28px;
background:transparent;
}

.cal_suivant_lien img,.cal_precedent_lien img {
width:23px;
height:28px;
border:0;
}

.cal_mois_courrant {
width:120px;
display:block;
float:left;
text-align:center;
border:1px solid #CCC;
text-transform:uppercase;
font-weight:700;
font-size:1.3em;
padding:2px 15px;
}

.calendrierjquerymini .cal_mois_courrant {
width:97px;
display:block;
float:left;
text-align:center;
border:0;
text-transform:uppercase;
font-weight:700;
font-size:0.9em;
padding:8px 0 0;
}

.calendrier {
width:100%;
margin:5px auto;
}

.calendrierjquery {
width:560px;
margin:5px auto;
}

.calendrierjquerymini {
width:160px;
margin:5px auto;
}

.calendrier table,.calendrierjquery table {
clear:both;
font-weight:700;
font-size:14px;
border-collapse:collapse;
border-spacing:0;
width:100%;
}

.calendrierjquerymini table {
clear:both;
font-weight:700;
font-size:11px;
border-collapse:collapse;
border-spacing:0;
width:100%;
}

.calendrier th {
color:#000;
background-color:#D2BBCB;
border:1px solid #D2BBCB;
text-align:center;
height:20px;
width:14%;
}

.calendrierjquery th {
color:#000;
background-color:#D2BBCB;
border:1px solid #D2BBCB;
text-align:center;
height:20px;
width:80px;
}

.calendrierjquerymini th {
color:#000;
background-color:#D2BBCB;
border:1px solid #D2BBCB;
text-align:center;
}

.calendrier td {
width:14%;
border:1px solid #D2BBCB;
background:#FFF;
text-align:left;
vertical-align:top;
}

.calendrierjquery td {
height:80px;
width:80px;
border:1px solid #D2BBCB;
background:#FFF;
text-align:center;
vertical-align:middle;
}

.calendrierjquerymini td {
border:1px solid #D2BBCB;
background:#FFF;
text-align:center;
vertical-align:middle;
}

.cal_j {
display:block;
float:right;
font-size:0.8em;
padding:1px;
}

.cal_autre_mois {
background-color:#E8E8E8;
color:#C9C9C9;
}

.cal_samedi,.cal_dimanche {
background-color:#DBDBDB;
}

.date_avec_evenements {
background-color:#FFC95C;
}

.evenements {
position:relative;
}

.evenements ul {
text-align:left;
position:absolute;
display:none;
z-index:1000;
background:#FFF;
color:#000;
border:2px solid #D2BBCB;
font-size:14px;
width:270px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
-border-radius:3px;
list-style:none;
-webkit-box-shadow:0 8px 8px #333;
padding:15px;
}

.evenements li {
padding-bottom:10px;
}

.evenements li span {
display:block;
font-size:12px;
text-align:left;
color:#555;
}

.evenements li span.titre_evenement {
font-weight:700;
color:#222;
}

.BAZ_label,.titre_carte_google,.table_bazar th {
font-weight:700;
}

.BAZ_actions_fiche ul,#BAZ_bas_page,.bulle_haut,.bulle_bas {
margin:0;
padding:0;
}

.cal_jour_courant,.date_hover {
background-color:#c4d9fb;
}

#triggers {
	text-align:center;
}

a.triggerimage img {
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	margin:15px 2px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* the active thumbnail */
a.active img {
	outline:1px solid #000;

	/* show on top of the expose mask */
	z-index:9999;
	position:relative;
}
/* the overlayed element */
.simple_overlay {

	/* must be initially hidden */
	display:none;

	/* place overlay on top of other elements */
	z-index:10000;

	/* styling */
	background-color:#333;

	width:675px;
	min-height:200px;
	border:1px solid #666;

	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close, .close{
	background-image:url(images/overlay_close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
/* the large image. we use a gray border around it */
#img {
	border:1px solid #666;
}

/* "next image" and "prev image" links */
#gallery .next, #gallery .prev {

	/* absolute positioning relative to the overlay */
	position:absolute;
	top:40%;
	border:1px solid #666;
	cursor:pointer;
	display:block;
	padding:10px 20px;
	color:#fff;
	font-size:11px;

	/* upcoming CSS3 features */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#gallery .prev {
	left:0;
	border-left:0;
	-moz-border-radius-topleft:0;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
}

#gallery .next {
	right:0;
	border-right:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	-webkit-border-top-right-radius:0;
}

#gallery .next:hover, #gallery .prev:hover {
	text-decoration:underline;
	background-color:#000;
}

/* when there is no next or previous link available this class is added */
#gallery .disabled {
	visibility:hidden;
}

/* the "information box" */
#gallery .info {
	position:absolute;
	bottom:0;
	left:0;
	padding:10px 15px;
	color:#fff;
	font-size:11px;
	border-top:1px solid #666;
}

#gallery .info strong {
	display:block;
}

/* progress indicator (animated gif). should be initially hidden */
#gallery .progress {
	position:absolute;
	top:45%;
	left:50%;
	display:none;
}

/* everybody should know about RGBA colors. */
#gallery .next, #gallery .prev, #gallery .info {
	background:#333 !important;
	background:rgba(0, 0, 0, 0.6) url(images/h80.png) repeat-x;
}

/*****************************************boutons*********************************************************/

.btn, .btn:visited, .btn:link {
	background: #222 url(images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px;
	margin:1px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	font-size: 13px; font-weight: bold; line-height: 1;
}
.btn:hover,.btn:active, .btn:focus		{ background-color: #111; color: #fff; text-decoration: none;}
.btn:active								{ top: 1px; }
.small.btn, .small.btn:visited 			{ font-size: 11px; padding:0; }
.btn, .btn:visited,
.medium.btn, .medium.btn:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.btn, .large.btn:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.btn, .green.btn:visited, .green.btn:link, .bouton_sauver, .bouton_sauver:visited, .bouton_sauver:link { background-color: #91bd09; }
.green.btn:hover, .green.btn:active, .green.btn:focus, .bouton_sauver:hover, .bouton_sauver.btn:active, .bouton_sauver.btn:focus			{ background-color: #749a02; }
.blue.btn, .blue.btn:visited, .blue.btn:link		{ background-color: #2daebf; }
.blue.btn:hover, .blue.btn:active, .blue.btn:focus	{ background-color: #007d9a; }
.red.btn, .red.btn:visited, .red.btn:link, .bouton_annuler, .bouton_annuler:visited, .bouton_annuler:link	{ background-color: #e33100; }
.red.btn:hover, .red.btn:active, .red.btn:focus, .bouton_annuler:hover, .bouton_annuler:active, .bouton_annuler:focus { background-color: #872300; }
.magenta.btn, .magenta.btn:visited, .magenta.btn:link		{ background-color: #a9014b; }
.magenta.btn:hover, .magenta.btn:active, .magenta.btn:focus	{ background-color: #630030; }
.orange.btn, .orange.btn:visited, .orange.btn:link		{ background-color: #ff5c00; }
.orange.btn:hover, .orange.btn:active, .orange.btn:focus{ background-color: #d45500; }
.yellow.btn, .yellow.btn:visited, .yellow.btn:link, #BAZ_menu .onglet_actif a	{ background-color: #ffb515; }
.yellow.btn:hover, .yellow.btn:active, .yellow.btn:focus, #BAZ_menu a:hover		{ background-color: #fc9200; }
	
a.prev-tab, button.prev,input.prev {
clear:left;
float:left;
}

a.next-tab, button.next,input.next {
clear:right;
float:right;
}

.bouton_sauver, .bouton_annuler {
padding:4px;
border:0 none;
border-bottom: 1px solid rgba(0,0,0,0.25);
}

.BAZ_cadre_map {font-size:.9em; width:450px; display:block; text-align:left;}
.BAZ_cadre_map ul.css-tabs a {
font-size:.8em;
height:auto;
margin:0 1px 0 0;
padding:3px;
}

.accordion {
	background:transparent;
	width: 100%;	
}

/* accordion pane */
.accordion div.pane {
	display:none;
	padding:15px;
	margin : -4px 0 0;
	border:1px solid #666;
	border-top:none;	
}

/* accordion header */
h2.titre_accordeon {
	margin:0 0 1px 0;
	padding:5px 15px;
	cursor:pointer;
	background: #222 url(images/alert-overlay.png) repeat-x; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);	
	font-size: 13px; font-weight: bold; line-height: 1;
}
.liens_titre_accordeon {float:right;}

/* currently active header */
h2.titre_accordeon.current {
	cursor:default;
	background-color:#ffb515;
	border-bottom:none;
}
h2.titre_accordeon:hover  {	
	background-color: #fc9200; text-decoration: none;
}

.BAZ_texte {display:inline;} 
.titre_lien {display:block;font-size:1.4em;}
.valeur_liste {width:350px;float:left;}
.liste_ligne {}
.input_liste_id {display:inline; margin:0 2px; width:40px;}
.input_liste_label {display:inline; margin:0; width:250px;}
ul.valeur_liste, ul.valeur_formulaire { padding:0; margin:0;}
ul.valeur_liste li, ul.valeur_formulaire li {list-style-type:none; padding:0; margin:3px 0;}
.handle {
background:url("images/arrow.png") no-repeat left center transparent;
cursor:move;
float:left;
width:18px;
height:18px;
padding:0;
}
.valeur_formulaire li {background:#EAEAEA; border:1px solid #CCC; padding:5px 0;}

#overlay-bazar {width:600px;}

.apple_overlay {display:none;}

.link-csv-file {background:url(images/csv-file.png) no-repeat left center; display:block; font-size:20px; padding:5px 0 5px 35px; margin:10px 0;}

a.lien_formulaire {
display:block; padding:5px; margin:10px 0; text-decoration:none; color:#000; border:1px solid #CCC;
 background-color:#EFEFEF;
-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
-moz-box-shadow:2px 2px 2px rgba(100,100,100,.75); -webkit-box-shadow:2px 2px 2px rgba(100,100,100,.75); box-shadow:2px 2px 2px rgba(100,100,100,.75);
}
a.lien_formulaire:hover {text-decoration:none; color:#000;
 background-color:#EFEFEF; border:1px solid #CCC;
background-image:-moz-linear-gradient(0% 22px 90deg, #CCC, #EFEFEF); background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#EFEFEF), to(#CCC));
-moz-box-shadow:2px 2px 2px rgba(100,100,100,.75); -webkit-box-shadow:2px 2px 2px rgba(100,100,100,.75); box-shadow:2px 2px 2px rgba(100,100,100,.75);
}

/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:10000;
	
	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:11px;
	border:1px solid #ccc;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;	
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {	
	padding:2px 0;
	height:22px;
} 

#caltitle {
	font-size:14px;
	color:#0150D1;	
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url(images/prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(images/next.gif);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;	
}

/* year/month selector */
#caltitle select {
	font-size:10px;	
}

/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px; 		
} 

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;		
}

/* offmonth day */
a.caloff {
	color:#ccc;		
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);		
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}


/*****************   Slide range   ********************************/
/* slider root element */
.range_slider { 
	height:6px; 
	position:relative; 
	cursor:pointer;
	border:1px solid #333;
	width:240px;
	float:left; 
	clear:right;
	margin:8px 10px 0 0;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-box-shadow:inset 0 0 5px #000;
}

/* progress bar (enabled with progress: true) */
.range_progress {
	height:9px; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.range_handle { 
	background:#fff; 
	height:18px;
	width:18px;
	top:-12px;
	position:absolute; 
	display:block; 
	margin-top:5px;
	border:1px solid #000;
	cursor:move;
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
	-moz-border-radius:14px;
	-webkit-border-radius:14px; 

}

/* the input field */
.formulaire_ligne input.range {
	float:left;
	text-align:center;
	width:50px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	border-radius:5px;  		
}

.error {
z-index:10005;
}