<div class="modal" id="bazar-actions-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><?php echo _t('ACEDITOR_ACTIONS_BAZAR'); ?></h2>
      </div>

      <!-- Modal Body -->
      <div id="bazar-actions-builder-app" class="modal-body">
        <!-- Choose form -->
        <div class="form-group">
          <label class="control-label"><?php echo _t('ACTION_BUILDER_CHOOSE_FORM'); ?></label>
          <select v-model="selectedFormId" required class="form-control">
            <option v-for="(name, id) in formIds" :value="id">{{ name }}</option>
          </select>
        </div>

        <!-- Choose Bazar Action -->
        <div class="form-group">
          <label class="control-label"><?php echo _t('ACTION_BUILDER_CHOOSE_ACTION'); ?></label>
          <select v-model="selectedActionId" required class="form-control">
            <option v-for="(action, actionId) in actions" v-if="action.label" :value="actionId">{{ action.label }}</option>
          </select>
        </div>

        <!-- Action Parameters -->
        <div v-if="selectedAction && selectedForm" class="row" class="action-parameters-container">
          <div class="col-md-12" v-if="selectedAction.hint">
            <div class="alert alert-warning">{{ selectedAction.hint }}</div>
          </div>

          <!-- Iframe Preview -->
          <div class="col-md-12">
            <preview-action :action-params="actionParams"></preview-action>
          </div>

          <!-- Action Params -->
          <div class="col-md-3">
            <h3><?php echo _t('ACTION_BUILDER_PARAMETERS') ?></h3>
            <form-segment v-for="(property, propName) in selectedAction.properties"
                          :name="propName" :config="property" :key="propName"
                          :value="values[propName]" v-on:update:value="setValue(propName, $event)"
                          :form-field-options=selectedForm.prepared></form-segment>
          </div>

          <!-- Filters Params -->
          <div class="col-md-4 filter-parameters-container">
            <h3>Affichage</h3>
            <form-segment v-for="(property, propName) in actions.common"
                          :name="propName" :config="property" :key="propName"
                          :value="values[propName]" v-on:update:value="setValue(propName, $event)"
                          :form-field-options=selectedForm.prepared></form-segment>
          </div>

          <div class="col-md-5">
            <h3>Filtres / Facettes</h3>
            <!-- Facettes Config -->
            <div class="filter-group-form" v-for="filter in filterGroups">
              <div class="col-sm-4 form-group">
                <label class="control-label">Champ</label>
                <select v-model="filter.field" class="form-control">
                  <option v-for="field in selectedForm.prepared" v-if="field.label" :value="field.id">{{ field.label }} - {{ field.id }}</option>
                </select>
              </div>
              <div class="col-sm-4 form-group">
                <label class="control-label">Titre</label>
                <input type="text" v-model="filter.title" class="form-control" />
              </div>
              <div class="col-sm-3 form-group">
                <label class="control-label">Icone</label>
                <input type="text" v-model="filter.icon" class="form-control" />
              </div>
              <div class="form-group col-sm-1">
                <button class="btn btn-default btn-icon" @click="removeFilterGroup(filter)">
                  <i class="btn-remove-group fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- Add Facette -->
            <button @click="addEmptyFilterGroup" class="btn btn-info btn-add-group">Ajouter une Facette</button>

            <!-- Facette display -->
            <template v-if="filterGroups.length > 0">
              <form-segment v-for="(property, propName) in actions.facettes"
                            :name="propName" :config="property" :key="propName"
                            :value="values[propName]" v-on:update:value="setValue(propName, $event)">
              </form-segment>
            </template>

            <!-- Icons -->
            <div class="form-group">
              <label class="control-label">Champ pour la couleur</label>
              <select v-model="values.iconfield" class="form-control">
                <option value=""></option>
                <option v-for="field in selectedForm.prepared.filter(a => typeof a.values == 'object')" :value="field.id">{{ field.id }}</option>
              </select>
            </div>
            <div class="filter-group-form" v-if="values.iconfield" v-for="mapping in iconMapping">
              <div class="col-sm-6 form-group">
                <label class="control-label">Valeur</label>
                <select v-model="mapping.id" class="form-control">
                  <option v-for="(optionName, optionId) in iconOptions" :value="optionId">{{ optionName }}</option>
                </select>
              </div>
              <div class="col-sm-5 form-group">
                <label class="control-label">Icone</label>
                <input type="text" v-model="mapping.icon" class="form-control" />
              </div>
              <div class="form-group col-sm-1">
                <button class="btn btn-default btn-icon" @click="removeIconMapping(mapping)">
                  <i class="btn-remove-group fa fa-times"></i>
                </button>
              </div>
            </div>
            <button v-if="values.iconfield" @click="addEmptyIconMapping" class="btn btn-info btn-icon btn-add-group">
              <i class="fa fa-plus"></i>
            </button>
          </div>

          <div class="col-md-12 result-container">
            <h3><?php echo _t('ACTION_BUILDER_WIKI_CODE_TITLE') ?></h3>
            <wiki-code-input :action-params="actionParams" :is-editing="isEditingExistingAction"
                             :editor="editor"></wiki-code-input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<script>
  // Not very elegant, but avoid doing an ajax request from vue component to retrieve the Json data
  var data = <?php echo json_encode($data) ?>;
</script>

<!-- Load manually script because we need to use type="module" for ES6 import to work -->
<script src="libs/vue.js"></script>
<script type="module" src="tools/aceditor/presentation/javascripts/bazar-actions-builder.js"></script>

<?php
  $GLOBALS['wiki']->addCSSFile('tools/aceditor/presentation/styles/bazar-actions-builder.css');
?>
