body {
	margin: 0;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: .8em;
	text-align:center;
	background:#2498cb url(../images/fond_degrade.png) repeat-y top center;
}


p {
	line-height: 17px;
	margin: 11px 0 10px 0;
	padding: 0;
}

h1,h2,h3,h4,h5 {clear:both;}

h1 {
	background: #931157;
	color: #FFF; 
	margin:0 0 6px 0;
	padding:5px 8px;
	font-size:1.7em;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

h2 {
	background: #007cba;
	color: #FFF;
	margin:0 0 10px 0;
	padding:2px 6px;
	font-size:1.4em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

h3 {
	font-size:1.4em;
	color: #000; 
	padding:13px 0 3px 26px;
	margin:0 0 15px 0;
	background:transparent url(../images/puce_titre1.png) no-repeat top left;
	border-bottom:2px solid #007cba; 
}
	
.toggler {cursor:pointer;}
.toggler:hover {background-color: #e89326;}

h4 {
	color: #931157; 
	margin:0 0 3px 0;
	padding:0;
	font-size:1.3em;
	font-weight:bold;
}

h5, h5 a {
	width:100%;
	margin:0 0 2px 0;
	padding:0;
	font-size:1.2em;
	color: #007cba;
}

a {
	color: #931157;
	text-decoration: none;
	font-weight:bold;
}

a:hover {
	text-decoration: underline;
}

blockquote{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}

hr {
	clear:both;
	margin:5px 0;
	color: #FFF;
	background-color: transparent;
	height: 1px;
	border: 0;
	width:100%;
}

img {border:0;}

input, textarea {
	margin:1px;
	font-size:1em;
}

textarea {width:100%;}
.colonnemilieu textarea {width:490px;}
.del {text-decoration:line-through;}
.attach_left {float:left; margin:0 10px 0 0;}
.attach_right {float:right; margin:0 0 0 10px;}
.attach_center {display:block; margin: 0 auto; width:100%; text-align:center;}
.trail_table { line-height: 30px;}
.trail_button { color: #993333; }
.commentsheader {display:none;}
.hr_clear {display:none;}
.footer {margin:0 0 0 220px; text-align:left;}
.footer input {width:50px; border:1px solid #931157;}

/**** Main Container ***/
#conteneur {
	text-align: left;
	width: 959px;
	background:#FFF;
	border: 1px solid #000;
	color: #000;
	margin:20px auto;
	position:relative;
	z-index:1;
}

/**** Top ***/
#banniere {
	width: 959px;
	height: 123px;
	color: #000;
	background:#000 url(../images/banniere.jpg) no-repeat top left;
}
#pagelogo {float:left; display:block; width:80px; height:130px; overflow:hidden; border:1px solid #000; margin:15px 0 10px 30px; }
#pagelogo img {border:0;}
#logo {float:left; display:block; width:78px; height:90px; margin:15px 0 10px 30px; background:url(../images/Site-reema-logo.gif) no-repeat top left; }
#lien_accueil {float:right; display:block; width:800px; height:94px; background:url(../images/Site-reema-titre.gif) no-repeat 130px 17px; }
#logo:hover, #lien_accueil:hover {text-decoration:none;}
span.missingpage {display:inline;}

#triangle_noir {float:right;background:transparent url(../images/triangle_noir.gif) no-repeat top left; width:52px; height:29px;}
#menu_acces_rapide {
	background:#000;
	color:#c785ab;
	float:right;
	margin:0;
	padding:5px 0;
	width:550px;	
}
#menu_acces_rapide a {color:#FFF; margin:0 10px 0 0}
#menu_acces_rapide ul {margin:0; padding:0;}
#menu_acces_rapide li {margin:2px 0; padding:0 0 0 12px; color:#d3011e; list-style-type:none; background: url(../images/puce_liste.png) no-repeat 0 5px;}
#menu_acces_rapide .div_include {float:left;}
.formulaire_identification label {font-size:0.8em}
#menu_acces_rapide .inscription_iden a {margin:0;}
.formulaire_identification {float:right;margin:-3px 10px 0 0;}
.input_iden {width:63px;border:1px solid #931157 ;}
.bouton_iden {background:#000; color:#FFF; border:0; padding:0; height:20px; font-weight:bold; font-size:0.9em; text-transform:uppercase;}

#top {background:#000; display:block; width:100%; height:36px; z-index:2;}

#recherche {clear:both; float:left; margin:8px 0 0 30px; width:220px; color:#FFF;}
#recherche form {display:inline;}
.titre_rechercher {font-size:1em;font-weight:bold;display:inline;}
.input_rech {width:90px;border:1px solid #931157;font-size:.9em;}
.bouton_rech {background:#000; color:#FFF; border:0; width:25px; font-weight:bold; font-size:.9em; text-transform:uppercase;}

#menu_haut {
	z-index:2;
	float:right;
	color:#FFF;
	font-weight:bold;
	text-align:right;
	margin:2px 0 0 0;
	padding:0 0 0 40px;
	background:#000 url(../images/puce_menu_haut.png) no-repeat top left;
}

#menu_haut a {color:#FFF; font-weight:bold; font-size:1em;}
#menu_haut ul {margin:0; padding:0;}
#menu_haut li {margin:0; padding:0; display:block; float:left;}
#menu_haut ul ul {display:none;}

#menu_haut ul.sf-menu,#menu_haut ul.sf-menu * {
list-style:none;
margin:0;
padding:0;
text-align:left;
}

#menu_haut ul.sf-menu {
line-height:1.0;
float:left;
}

#menu_haut ul.sf-menu ul {
position:absolute;
top:-999em;
width:157px;
}

#menu_haut ul.sf-menu li:hover {
visibility:inherit;
}

#menu_haut ul.sf-menu li {
float:left;
position:relative;
}

#menu_haut ul.sf-menu li li {
width:150px;
}

#menu_haut ul.sf-menu a {
display:block;
position:relative;
text-decoration:none;
padding:.5em;
}

#menu_haut ul.sf-menu li:hover ul,#menu_haut ul.sf-menu li.sfHover ul {
left:0;
top:2.1em;
z-index:99;
}

#menu_haut ul.sf-menu a,#menu_haut ul.sf-menu a:visited {
color:#FFF;
}

#menu_haut ul.sf-menu li li:hover, #menu_haut ul.sf-menu li li.sfHover, #menu_haut ul.sf-menu li li a:hover {
background:#931157;
}

#menu_haut ul.sf-menu li, #menu_haut ul.sf-menu li li {
background:#000;
}

#menu_haut ul.sf-menu li li li {
background:#000;
}

#menu_haut ul.sf-menu li:hover,#menu_haut ul.sf-menu li.sfHover,#menu_haut ul.sf-menu li a:focus,#menu_haut ul.sf-menu li a:hover,#menu_haut ul.sf-menu li a:active {
background:#931157;
outline:0;
}


#menu_haut ul.sf-menu a.sf-with-ul {
padding-right:2.25em;
min-width:1px;
}

.sf-sub-indicator {
position:absolute;
display:block;
right:.75em;
top:1em;
width:10px;
height:10px;
text-indent:-999em;
overflow:hidden;
background:url('../images/arrows-ffffff.png') no-repeat -10px -100px;
}

a > .sf-sub-indicator {
top:.7em;
background-position:0 -100px;
}

a:focus > .sf-sub-indicator,a:hover > .sf-sub-indicator,a:active > .sf-sub-indicator,li:hover > a > .sf-sub-indicator,li.sfHover > a > .sf-sub-indicator {
background-position:-10px -100px;
}

#menu_haut ul.sf-menu ul a > .sf-sub-indicator {
background-position:0 0;
}

.sf-shadow ul {
background:url('../images/shadow.png') no-repeat bottom right;
-moz-border-radius-bottomleft:17px;
-moz-border-radius-topright:17px;
-webkit-border-top-right-radius:17px;
-webkit-border-bottom-left-radius:17px;
padding:0 8px 15px 0;
}

.sf-shadow ul.sf-shadow-off {
background:transparent;
}

#conteneurbas {background:transparent url(../images/fond_menu.png) repeat-y top left;}

/**** Menu gauche ***/
#menu_gauche {
	color:#000;
	float:left;
	margin:0;
	padding:0;
	width:194px;
	background:transparent;
}

#titre_menu {background:#007db7;color:#FFF; font-weight:bold; font-size:1.1em; padding:4px 0; text-align:center; width:100%;}
#fond_menu_haut {width:194px;height:44px;background:url(../images/fond_menu_haut.png) no-repeat top left;}
#menu_gauche a {color:#000; padding:0 0 0 10px; width:100%; display:block; border:none; border-left:4px solid #FFF;}
#menu_gauche a:hover {text-decoration:none; color:#931157; border:none; border-left:4px solid #931157;}
#menu_gauche ul {margin:0; padding:0;}
#menu_gauche li {list-style-type:none; margin:7px 0 ; padding:0;}
#menu_gauche ul ul {background:#FFF; margin:0; padding:0;}
#menu_gauche ul ul a {margin:0 0 0 20px; padding:0; width:145px; border:none; color:#707173;}
#menu_gauche ul ul a:hover {border:none;}
#menu_gauche .div_include {margin:8px 20px;padding:0; width:150px;}
.depliable {background:transparent url(../images/puce_triangle_droit.gif) no-repeat 0 4px;}
.deplie {background:transparent url(../images/puce_triangle_bas.gif) no-repeat 0 4px;}
/**** Content Container ***/
#content {
clear:right;
float:right;
margin:0 10px 0 0;
padding:10px;
position:relative;
text-align:justify;
width:710px;
z-index:1;
}

#contentmilieu {
clear:right;
float:left;
margin:0 0 0 20px;
padding:10px;
position:relative;
text-align:justify;
width:510px;
}

/**** Content ***/
ul {
	padding: 5px 0 5px 20px;
	margin:0;
	
}

li {
	margin-bottom:4px;
	padding: 0;
	list-style-type:disc;

}

/**** Colonne droite ***/
#colonnedroite {
float:right;
width:180px;
margin:0;
padding: 0 0 0 20px;
background:#FFF;
}
#colonnedroite ul {margin:0;padding:0;}
#colonnedroite li {margin:0 0 6px 0;padding:0 0 0 13px; font-size:.8em; list-style-type:none;background:url(../images/puce_liste_boite.png) no-repeat 0 5px;}
#colonnedroite a {color:#000; font-weight:normal; text-align:left;}

.titre_boite_bleue {
background:#007db7 url(../images/puce_boite_bleue.png) no-repeat top left;
color:#FFFFFF;
display:block;
font-size:1.1em;
font-weight:bold;
height:20px;
margin:10px 0 0 0;
padding:24px 0 0 20px;
width:131px;
-moz-border-radius:0;
-webkit-border-radius:0;
}
.boite_bleue {
border:1px solid #007db7;
padding:5px 3px;
margin:0 0 10px 0;
width:164px;
-moz-border-radius-bottomleft:20px;
-webkit-border-bottom-left-radius:20px;
-moz-border-radius-bottomright:20px;
-webkit-border-bottom-right-radius:20px;
}

.titre_boite_marron {
background:#a59363 url(../images/puce_boite_marron.png) no-repeat top left;
color:#FFFFFF;
display:block;
font-size:1.1em;
font-weight:bold;
height:20px;
margin:10px 0 0 0;
padding:24px 0 0 20px;
width:131px;
-moz-border-radius:0;
-webkit-border-radius:0;
}
.boite_marron {
border:1px solid #a59363;
padding:5px 3px;
margin:0 0 10px 0;
width:164px;
-moz-border-radius-bottomleft:20px;
-webkit-border-bottom-left-radius:20px;
-moz-border-radius-bottomright:20px;
-webkit-border-bottom-right-radius:20px;
}

.titre_boite_violet {
background:#931157 url(../images/puce_boite_violet.png) no-repeat top left;
color:#FFFFFF;
display:block;
font-size:1.1em;
font-weight:bold;
height:20px;
margin:10px 0 0 0;
padding:24px 0 0 20px;
width:131px;
-moz-border-radius:0;
-webkit-border-radius:0;
}
.boite_violet {
border:1px solid #931157;
padding:5px 3px;
margin:0 0 10px 0;
width:164px;
-moz-border-radius-bottomleft:20px;
-webkit-border-bottom-left-radius:20px;
-moz-border-radius-bottomright:20px;
-webkit-border-bottom-right-radius:20px;
}
/**** Footer ***/
#footer {
	clear: both;
	margin:0;
	padding:174px 0 0;
	color: #000;
	text-align:right;
	width:957px;
	background:url(../images/bas_page.png) no-repeat bottom left;
	font-size:0.9em;
}

#footer a {color:#000;}
#financeurs {margin:30px 0 30px 200px;}
#financeurs ul {margin:0;padding:0}
#financeurs li {list-style-type:none; float:left; margin:0 10px; padding:0}
#copyright {text-align:left; color:#FFF; margin:10px 0 0 10px;}
#copyright a {color:#FFF;}
.texte_iden, .rss_site_titre {display:none;}
