BODY {   background-color:#511808; color: #FF6600; text-align:center;}

BODY, P, TD, LI, INPUT, SELECT, TEXTAREA { font:12px "verdana",sans-serif; color:#000000; line-height: 1.3; }


a:link { font-weight: normal; text-decoration: underline; color: #FFFFFF;}
a:visited { font-weight: normal; text-decoration: none; color: #FFFFFF;}
a:hover, a:active { text-decoration:underline ; color: #FFFFFF;}
ul { margin: 0; padding: 0 0 0 15px;}
li { display : list-item; list-style-type: square; padding:0;}
img a {display:block;}

OL { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; }
FORM { margin: 0px; padding: 0px; }
tt { color: Navy; }

.wiki_name { display : none; float: left; margin: 0px 15px 0px 10px; font-size: 150%; color: #800000; }
.page_name { display : none; font-size: 150%; }

.error { color: #CC3333; font-weight: bold; }
.indent { margin-left: 40px; }
.additions { color: #008800; }
.deletions { color: #FF6600; }
.add { font-weight: bold; color: #c00; text-decoration: underline; }
.del { font-style: italic; color: #c00; text-decoration: line-through; }
.header { display : none;padding: 10px;padding-top: 0px;}
.page h1 {text-align: left; margin-left:40px; font-size:20px; font-weight:bold; color: #a10a01;}
.page h2 {padding:2px; font-size:16px; color: #000000;}
.page h3 {font-weight:bold; font-size:15px; color:#000000;}
.page h4 {font-weight:bold; font-size:14px; color:#000000;}
.page h5 {font-weight:bold; font-size:13px; color:#a10a01;}
.contenu-page {padding:30px;}

.page table {border:none; margin:0; padding:0;}
.page th {padding:0; font-weight:bold; text-align:center; background-color: #CC0099;}
.page td {padding:0;}

.prev_alert { background-color: red; color: white; font-size: 1.7em; font-weight: bold; margin-bottom: 5px; }
.edit { width: 100%; height: 400px; }
.footer { display :none; background-color: #FFFFFF; padding: 5px 10px; border: 1px solid #000000; }
.code { background: #FFFFFF; border: solid #888888 2px; font-family: 'Courier New', Courier; color: black; font-size: 10pt; width: 100%; height: 400px; overflow: scroll; padding: 3px; }
.revisioninfo { color: #000000; padding-bottom: 20px; }

.commentsheader { display: none; background-color: #FFFFFF; padding: 2px 10px; border:1px solid #000000; }
.comment { display: none; background-color: #FFFFFF; padding: 10px; border-left: 1px inset; border-right: 1px inset; border-top: 1px solid #000000; border-bottom: 1px solid #000000; }
.commentinfo { color: #AAAAAA; }
.commentform { background-color: #FFFFFF; padding: 10px; border-left: 1px inset; border-right: 1px inset; border-top: 1px solid #000000; }

.copyright {display: none; font-size: 11px; color: #000000; text-align: right; }
.copyright A { color: #FFFFFF; }
.searchbox { background: #FFFFF8; border: 0px; border: 1px solid #000000; padding: 0px; margin: 0px; }
.debug { font-size: 11px; color: #888888; }

.hr_clear { clear: both; visibility: hidden; }
.include_right { float: right; width: 17%; } /* bloc flotant ý droite */
.include_left { float: left; width: 17%; } /* bloc flotant ý gauche */
.include_solid_border { border: solid; padding: 2px; } /* encadrý noir */
.include_gray_background { background-color: #DDDDDD; } /* fond gris */
.include_small_fonts { font-size: 0.8em; } /* petites polices */
.include_big_fonts { font-size: 1.2em; } /* grandes polces */
.include_height10em { height: 10em; overflow: scroll; } /* boite de 10em de hauteur, avec ascenseur */
.include_height15em { height: 15em; overflow: scroll; }
.include_height30em { height: 30em; overflow: scroll; }
.include_height60em { height: 60em; overflow: scroll; }

.trail_table { line-height: 30px;}
.trail_button { color: #993333; }

.page_table {
border:none; 
padding:0;
margin:10px auto;
text-align:left;
width:980px;
}

.menu_column {
	float:left;
	background: #f49100 url(../images/bandeau-gauche-haut.gif) no-repeat top left;
	width: 159px;
	padding:5px;
	border:0;
	margin:0;
	padding:0;
	-moz-border-radius:8px;-webkit-border-radius:8px;
}
#menu {padding:60px 20px; font-size:16px; color:#a10a01;}
.menu_column h5, .menu_column h5 a {font-weight:bold; color:#a10a01;}
.menu_column li {color:#a10a01;}
.menu_column img {border:none;}
.menu_column a {color:#a10a01; text-decoration:none;}
.menu_column a:link {color:#a10a01; text-decoration:none;}
.menu_column a:visited {color:#a10a01; text-decoration:none;}
.menu_column a:hover {color:#a10a01; text-decoration:underline;}
#menu-bas {padding:40px 20px 20px 20px; color: #511808;}
#menu-bas a {color:#511808; font-weight:bold;}
#menu-bas li {display:list-item; list-style-type:none;}
#menu-bas ul {margin:0; padding:0;}


.body_column {
float:right;
width:800px;
display:block;
background:#511808
}

#menu-lam {
color:#A10A01;
font-size:16px;
padding:10px;
}
#banniere {float:right; width:800px; margin:0 0 20px 0; height:88px; background:#f49100; -moz-border-radius:8px;-webkit-border-radius:8px; }
#bandeau {background:url(../images/bandeau-haut-gauche.gif) no-repeat top left; height:88px; width:640px; text-align: right;}
#bandeau img {
	border:0;
	display :block;
	width:97px; 
	height:88px;
	margin-left:529px;
	padding:0;}
#content {float:right; background:#f49100 url(../images/coin-page.gif) no-repeat right bottom; margin:0; -moz-border-radius:8px;-webkit-border-radius:8px; padding:10px; width:780px;}
#content-milieu {float:right; background:#f49100 url(../images/coin-page.gif) no-repeat right bottom; padding:0; margin:0; -moz-border-radius:8px;-webkit-border-radius:8px; width:800px;}
#content-milieu textarea {width:500px}
.page { padding:0 10px 20px 10px; margin:0; }

#colonnedroite {background:#ffb200; -moz-border-radius:8px; -webkit-border-radius:8px;
float:right;
margin:10px 10px 110px;
padding:5px;
width:200px;
}
#colonnedroite hr {border:1px solid #511808;}
#colonnedroite h4 {width:190px; text-align:center; display:block}
#colonnedroite a {color:#a10a01; text-decoration:none;}
#colonnedroite a:hover {color:#a10a01; text-decoration:underline;}
#colonnedroite .listeinfo, #colonnedroite .commentaires, #colonnedroite .lien_commenter {display:none;}
#colonnedroite div {width:198px; padding:0;}
* html #colonnedroite div {width:190px; margin:0; padding:0;}
#colonnedroite .billet_microblog {
clear:both;
float:left;
font-size:1em;
margin:10px 0;
padding:5px;
width:180px; 
}
#colonnedroite .date_microblog {text-align:center; margin:5px 0 0 0;}
* html #colonnedroite .billet_microblog {width:190px}
/* marge de 0.5 em autour de l'image*/	 
.attach_margin05em { margin: 0.5em;} 
/* marge de 1em autour de l'image*/
.attach_margin1em { margin: 1em;} 
/* bloc flottant ý gauche */
.attach_left {float: left;} 
/* bloc flottant ý droite */
.attach_right {float: right;}  
 /* pas de bordure */
.attach_noborder {border-width: 0px;}
/* alignement vertical au milieu*/    
.attach_vmiddle {vertical-align: text-bottom;} 

.tableFM {border: thin solid Black; width: 100%;  }
.tableFM THEAD { background-color: Silver; font-weight: bold; text-align: center;   }
.tableFM TFOOT { background-color: Silver; font-weight: bold; text-align: left;   }
.tableFM TBODY TR { text-align: center;  }
.tableFMCol1 { background-color: Aqua; }
.tableFMCol2 { background-color: Yellow; }   

#footer {clear:both; float:left; margin:10px 0; background:#f49100; -moz-border-radius:8px;-webkit-border-radius:8px; text-align:center; width:100%; padding:10px 0;}

.bulle_microblog a, .bulle_microblog a:hover {color:#A10A01;}
