.control-label:after {
  content: "";
  margin-right: 0;
}
.symbole_obligatoire:after {
  margin-left: .25em;
}
.form-horizontal {
  margin: 10px 0;
}
.form-control {
  height: 2.7rem;
  padding: .5em 1em .4em 1em;
  font-size: var(--main-text-fontsize);
  color: var(--main-text-color);
  border: 2px solid var(--primary-color);
  border-radius: 3px !important;
  background-color: #f9f9f9;
}
.control-group .controls {
  margin-left: 0 !important;
}
textarea.form-control {
  padding: 15px;
}
.form-group {
  position: relative;
  margin-top: 25px;
}
.form-group:first-child {
  margin-top: 30px;
}
.form-group .controls.col-sm-9 {
  width: 100%;
}
.form-group .control-label {
  text-align: left;
  color: var(--primary-color);
  width: auto !important;
  font-weight: 600;
  padding-left: 15px;
  font-size: .8em;
}
.form-group.textarea.wiki-textarea {
  margin-top: -10px;
}
.form-group:not(.file) .control-label {
  position: absolute;
  z-index: 5;
  left: 24px;
  background-color: var(--neutral-light-color);
  padding: 0 4px 0 8px;
  top: -.8em;
}
.form-group:not(.file) .control-label::before {
  content: "";
  background-color: #f9f9f9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9px;
  z-index: -1;
}
.form-group.wiki-textarea .control-label {
  position: relative;
  top: 1.7rem;
  left: 0;
  margin-left: 10px;
}
.form-group.wrapper .control-label {
  left: 9px;
}
.form-group.input.file .control-label {
  margin-bottom: 5px;
}
.form-group.input.file {
  margin-top: -10px;
}
.form-control.wrapper {
  height: auto;
  margin-left: 0px;
  padding-left: 0;
  padding-bottom: 10px;
}
select.input-sm {
  font-size: .9em;
  padding: 1px 5px;
}
label .symbole_obligatoire {
  float: right;
}
.controls .btn-toolbar {
  margin-top: 0;
}
input.form-control[type=file] {
  padding-left: 0;
  padding-top: .5em;
  cursor: pointer;
}
input.form-control[type=file]::before {
  content: "Choisir un fichier";
  position: absolute;
  top: 0;
  font-size: .9em;
  cursor: pointer;
  padding: 1px .9rem 0 .7rem;
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  line-height: 2.6rem;
}
.input-group {
  display: flex;
}
.input-group-addon {
  border-radius: 5px 0 0 5px;
  line-height: 2.7rem;
  height: 2.7rem;
  padding: 0 14px;
  width: auto;
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  border: none;
}
.input-group-addon + .form-control {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-group-addon, .input-group-btn {
  width: auto;
}
.input-prepend input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-append input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none !important;
}
.input-group.input-prepend.input-append input {
  flex: 1;
}
.input-append .input-group-btn select {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  line-height: 2.7rem;
  height: 2.7rem;
}
input[type=file] ~ output {
  padding: 0;
  margin-top: 10px;
  border-radius: 5px;
  width: 200px;
}
input[type=file] ~ output img {
  border-radius: 3px;
}
form {
  position: relative;
}
form .col-sm-9 {
  width: 100%;
  margin: 0;
}
.symbole_obligatoire.col-sm-9.col-sm-offset-3 {
  position: absolute;
  bottom: .7em;
  right: 0;
  width: auto;
  font-size: .9em;
}
.bazar-checkbox-cols {
  column-width: 250px;
  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-count: 50;
  -webkit-column-count: 50;
  -moz-column-count: 50;
}
.form-help {
  cursor: help;
  margin-left: .3rem;
  margin-right: 3px;
}

/* MAP */
#osmmapform {
  margin-top: 0 !important;
  border-radius: 0 5px 5px 5px;
  margin-bottom: 10px;
}
.btn-geolocate-address {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border:none;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background-color: var(--neutral-light-color);
}
.leaflet-control-zoom.leaflet-bar.leaflet-control a {
  color: var(--primary-color);
  font-size: 18px !important;
  font-weight: normal;
  text-indent: 0;
}

@media (max-width: 800px) {
  .textarea .btn-toolbar > .btn-group { display: none; }
  .form-group.wiki-textarea .control-label { top: .7rem; }
  input.form-control[type=file]::before { padding: 1px 1rem 0 .8rem; }
}

@media (max-width: 1200px) {
  .form-group .control-label { font-size: .9em; }
}