.modal-content {
  box-shadow: none;
  border: none;
  border-radius: 14px;
}

.modal-header {
  border: none;
  padding: 15px 35px;
}
.modal-body {
  padding: 0 35px 25px 35px;
}
.modal-footer {
  text-align: center;
  border: none;
  padding: 0 35px 25px 35px;
  margin-top: -20px;
}
.modal-header .close {
  margin-top: 6px;
}

.close {
  color: var(--neutral-color);
  font-size: 1.5rem;
  padding: 10px !important;
  margin-right: -10px;
}
.modal-backdrop {
  background-color: var(--neutral-color);
  transition: opacity .5s;
}
@media (min-width: 768px) {
  .modal-dialog.modal-lg { width: calc(100% - 50px); }
}
@media (min-width: 992px) {
  .modal-dialog.modal-lg {
    width: calc(100% - 100px);
    max-width: 1400px;
  }
}