{% extends "@attach/actions/commons-pdf-video.twig" %}

{% block main %}
  <span class="throbber pdf-block-loading"></span>
  <iframe
    src="{{ baseUrl(true) }}/javascripts/vendor/pdfjs-dist/web/pdf-viewer.php?file={{ url|e('url') }}"
    class="embed-responsive-item" frameborder="0" allowfullscreen
    onload="$(this).siblings('.pdf-block-loading').hide();"
    >
    </iframe>
{% endblock %}
  