{% extends "@bazar/entries/index-dynamic.twig" %}

{% block assets %}
  {{ include_css('tools/bazar/presentation/styles/card.css') }}
{% endblock %}

{% block display_entries %}
  <div class="bazar-cards-container" v-if="ready" 
       :class="[{ready: ready}, `style-${params.style || 'vertical'}`, `nbcol-${params.nbcol}`]" 
       :style="{'grid-template-columns': `repeat(${params.nbcol}, 1fr)`}">
    
    <div v-if="entriesToDisplay.length == 0" class="alert alert-info">
      {{ _t('BAZ_NO_RESULT') }}
    </div>

    <div v-for="entry in entriesToDisplay" :key="entry.id_fiche" class="bazar-entry bazar-card" 
         @click="openEntry(entry)">
      
      {# VISUAL AREA #}
      <template v-if="Object.keys(entry).includes('visual')">
        <template v-if="params.style == 'square'">
          <img v-if="entry.visual" class="area visual-area" :src="`cache/image_${entry.visual}`"></img>
          <div v-else class="area area visual-area placeholder"></div>
        </template>
        <template v-else>
          <div v-if="entry.visual" class="area visual-area" 
            :style="{'background-image': `url(cache/image_${entry.visual})`}">
          </div>
          <div v-else class="area area visual-area placeholder"></div>
        </template>
      </template>
      
      <div class="content">
        {# TITLE AREA #}
        <h4 div class="area title-area" v-if="entry.title">
          <span v-show="entry.color" class="pellet" :style="{'background-color': entry.color}"></span>
          <i v-show="entry.icon" :class="entry.icon"></i>
          <span class="title" v-html="entry.title"></span>
        </h4>  

        {# SUBTITLE AREA #}
        <entry-field :entry="entry" prop="subtitle" class="area subtitle-area"></entry-field>  
        
        {# TEXT AREA #}
        <entry-field :entry="entry" prop="text" class="area text-area"></entry-field>

        {# FOOTER AREA #}
        <entry-field :entry="entry" prop="footer" class="area footer-area"></entry-field>
        
        {# FLOATING AREA #}
        <entry-field :entry="entry" prop="floating" class="area floating-area"></entry-field>
      </div>
    </div>

    <spinner-loader v-if="isLoading" class="overlay"></spinner-loader>
  </div>
  <spinner-loader v-else height="500"></spinner-loader>
{% endblock %}