{% extends "@bazar/entries/index-dynamic.twig" %}

{% block assets %}
  {{ include_css('tools/bazar/presentation/styles/card.css') }}
{% endblock %}

{% block display_entries %}
  <div class="bazar-cards-container" v-if="ready" :class="[{ready: ready}, `style-${params.style || 'card'}`]" 
       :style="{'grid-template-columns': `repeat(${params.nbcol}, 1fr)`}">
    
    <div v-if="entriesToDisplay.length == 0" class="alert alert-info">
      {{ _t('BAZ_NO_RESULT') }}
    </div>

    <div v-for="entry in entriesToDisplay" :key="entry.id_fiche" class="bazar-entry bazar-card" 
         @click="getEntryRender(entry)">
      
      {# VISUAL AREA #}
      <div class="area visual-area" v-if="field(entry, 'visual')" 
          :style="{'background-image': `url(cache/image_${field(entry, 'visual')})`}">
      </div>
      
      <div class="content">
        {# TITLE AREA #}
        <h4 div class="area title-area" v-if="field(entry, 'title')">
          <span v-show="entry.color" class="pellet" :style="{'background-color': entry.color}"></span>
          <i v-show="entry.icon" :class="entry.icon"></i>
          <span class="title">{{"{{ field(entry, 'title') }}"}}</span>
        </h4>  

        {# SUBTITLE AREA #}
        <div class='area subtitle-area' v-if="field(entry, 'subtitle')"
            v-html="field(entry, 'subtitle')"></div>   
        
        {# TEXT AREA #}
        <div class='area text-area' v-if="field(entry, 'text')"
            v-html="field(entry, 'text')"></div>

        {# FOOTER AREA #}
        <div class="area footer-area" v-if="field(entry, 'footer')" v-html="field(entry, 'footer')"></div>
        
        {# FLOATING AREA #}
        <div class="area floating-area" v-if="field(entry, 'floating')" v-html="field(entry, 'floating')"></div>
      </div>
    </div>

    <spinner-loader v-if="isLoading" class="overlay"></spinner-loader>
  </div>
  <spinner-loader v-else height="500"></spinner-loader>
{% endblock %}