/* reset css from http://html5boilerplate.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.52; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #fff2a8; color:#444; text-shadow: none; }
::selection { background:#fff2a8; color:#444; text-shadow: none; } 

a:link { -webkit-tap-highlight-color: #fff2a8; } 


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */
body{min-width:960px}
.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }


.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}

.right {
	float:right;
}

.row {
	width: 960px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
.row .row, .page .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

.clearfix:after{
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}

* html .clearfix,*:first-child+html .clearfix{
	zoom:1
}

/* CSS Wikini original */

/* Mise en forme */
.indent { margin-left: 40px; }
.additions { color: #008800; }
.deletions { color: #880000; }
.add { font-weight: bold; color: #c00; text-decoration: underline; }
.del { font-style: italic; color: #c00; text-decoration: line-through; }

/* Navigation par table des matieres */
.trail_table { line-height: 30px;}
.trail_button { color: #993333; }

/* Page absentes */
span.missingpage {display:inline;}

/* previsualisation page */
.page_preview { background-color: #FFFFBF; padding: 10px; border: 1px inset; border-bottom: none; }
.prev_alert { background-color: red; color: white; font-size: 1.7em; font-weight: bold; margin-bottom: 5px; }

/* Divers mise en forme */
.code { background: #FFFFFF; border: solid #888888 2px; font-family: 'Courier New', Courier; width: 100%; height: 400px; overflow: scroll; padding: 3px; }
.revisioninfo { color: #AAAAAA; padding-bottom: 20px; }
.searchbox { background: #FFFFF8; border: 0px; border-bottom: 1px solid #CCCCAA; padding: 0px; margin: 0px; }
.debug { font-size: 11px; color: #888888; }
/* Fin divers mise en forme */

/* Inclusion de page */
.include_right { float: right; width: 17%; } /* bloc flotant a  droite */
.include_left { float: left; width: 17%; } /* bloc flotant  a gauche */
.include_solid_border { border: solid; padding: 2px; } /* encadre noir */
.include_gray_background { background-color: #DDDDDD; } /* fond gris */
.include_small_fonts { font-size: 0.8em; } /* petites polices */
.include_big_fonts { font-size: 1.2em; } /* grandes polices */
.include_height10em { height: 10em; overflow: scroll; } /* boite de 10em de hauteur, avec ascenseur */
.include_height15em { height: 15em; overflow: scroll; }
.include_height30em { height: 30em; overflow: scroll; }
.include_height60em { height: 60em; overflow: scroll; }
.include_editlink { float: right; } /* bloc flotant a droite */
.include_editlink { display:none; } /* Inhibe l'affichage du bloc "include_editlink" */
.include:hover .include_editlink { display: block; } /* Au passage de la souris sur le bloc "include", affiche le bloc "include_editlink" */
/* fin inclusion de page */

/* fenetres d'overlay et bouton de fermeture */
.yeswiki-overlay {display:none;	background:#FFF; padding:25px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:10px 10px 20px rgba(100,100,100,.75);
-webkit-box-shadow:10px 10px 20px rgba(100,100,100,.75);
box-shadow:10px 10px 20px rgba(100,100,100,.75);
font-size:15px;
}
.yeswiki-overlay .close {
background-image:url("../images/overlay_close.png");
cursor:pointer;
height:35px;
position:absolute;
right:-15px;
top:-15px;
width:35px;
margin:0;
}
/* fin fenetres d'overlay */

/* fichiers attachés */
.attach_left { 
float:left; 
margin:0 10px 0 0; 
} 
.attach_right { 
float:right; 
margin:0 0 0 10px; 
}  
.attach_center { 
display:block; 
width:100%; 
text-align:center; 
margin:0 auto; 
} 
/* fin fichiers attachés */

.left {
float:left;
}

.right {
float:right;
}

.center {
clear:both;
display:block;
width:100%;
text-align:center;
margin:10px auto;
}

.search-form {
background-color:white;
background-image:url("../images/search-fade.png");
background-position:left top;
background-repeat:repeat-x;
border:1px solid #AAAAAA;
margin:3px 10px 3px 0;
min-height:1px;
position:relative;
width:120px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}
.search_input {
background-color:transparent;
border-width:0;
margin:0;
padding:4px 0 0 3px;
vertical-align:top;
width:84px;
font-size:11px;
}
.search_input:focus {
background-color:transparent;
}
.search_button {
background-color:transparent;
border:medium none;
cursor:pointer;
font-size:x-small;
margin:3px 5px 0 5px;
padding:0;
}

.info_box {
background:#FBF9EE url(../images/info.png) no-repeat 3px center;
border:1px solid #FCEFA1;
color:#444;
font-size:0.9em;
margin:10px 0 5px;
padding:7px 7px 6px 36px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}
.error, .error_box {
background:#FEF1EC url(../images/error.png) no-repeat 3px center;
border:1px solid #CD0A0A;
color:#CD0A0A;
font-size:0.9em;
margin:10px 0 5px;
padding:7px 7px 6px 36px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}

/* 
 * print styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  nav, footer, header, .menu-fixe, .footer {display:none;}
}



@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 

}

/** diaporama **/
.slide_show_container {
margin:0 auto;
position: relative;
}

.slide_show {
position:relative;
height:545px;
overflow:hidden;
margin:10px auto 0 auto;
padding:0;
font-size:1.3em;
}

.grid_12 .slide_show {
width:940px;
}
.grid_9 .slide_show {
width:700px;
}

.slides {
width:99999em;
position:absolute;
height:540px;
}

.slide_show h1 {
color: #000;
margin:0;
padding:5px 0 0;
font-size:29px;
}

.slide_show ul {
margin:0;
padding:0;
}

.slide_show li {
margin:10px 0 10px 20px;
padding:0;
list-style-type:disc;
}

.slide {
float:left;
height:498px;
overflow:auto;
margin:0 5px 5px 0;
padding:20px;
border: 1px solid #808080;
background:#F2F2F2;
color:#000;
}
.grid_12 .slide {
width:895px;
}
.grid_9 .slide {
width:655px;
}

.borderradius .slide { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.boxshadow.rgba .slide { -moz-box-shadow:2px 2px 2px rgba(100,100,100,.75); -webkit-box-shadow:2px 2px 2px rgba(100,100,100,.75); box-shadow:2px 2px 2px rgba(100,100,100,.75); }

.slide-header {margin:-20px -20px 10px -20px;padding:20px;}
.borderradius .slide-header { -moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;}
.cssgradients .slide-header { background-image:-moz-linear-gradient(0% 22px 90deg, #CCC, #EFEFEF); background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#EFEFEF), to(#CCC)); }
.no-cssgradients .slide-header  {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#CCCCCC); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#CCCCCC)"; }


.slide-navigation {
margin:10px auto 0 auto;
}
.grid_12 .slide-navigation {
width:935px;
}
.grid_9 .slide-navigation {
width:695px;
}

.t {
display:inline-block;
margin:0 auto;
text-align:center;
}
.grid_12 .t {
width:755px;
}
.grid_9 .t {
width:515px;
}

.slide_show_container a.prev {
position:absolute;
top:250px;
left:-50px;
background:transparent url(../images/slider_left_control.png) no-repeat top left;
display:block;
height:50px;
width:50px;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}

.slide_show_container a.next {
position:absolute;
top:250px;
//right:-50px;
background:transparent url(../images/slider_right_control.png) no-repeat top left;
display:block;
height:50px;
width:50px;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}

.t {
padding:0 !important;
border:0 !important;
}

.t a {
padding:0 7px;
margin:0 2px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
border: 1px solid #808080;
background:#FFF;
text-decoration:none;
-moz-box-shadow:2px 2px 2px rgba(100, 100, 100, 0.75);
-webkit-box-shadow:2px 2px 2px rgba(100, 100, 100, 0.75);
font-size:12px;
}

.t a:hover, .t a.button-begin:hover, .slide-button:hover {text-decoration:none;background:#CCC;}

a.button-begin {
color:#000;
background:#EEE;
padding:1px 5px;
font-weight:normal;
text-align:center;
font-size:11px;
font-weight:normal;
line-height:1.6em;
}
.cssgradients a.button-begin { background-image:-moz-linear-gradient(0% 22px 90deg, #CCC, #EFEFEF); background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#EFEFEF), to(#CCC)); }

.t a.active, .t a.button-begin.active {
cursor:default !important;
background:#860B0B;;
color:#FFF;
}

.buttons-action {
position:absolute;
top:10px;right:10px;
}
	
a.button-quit, a.button-edit {
color:#FFF;
background:#860B0B;
border:0;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
padding:0 10px;
display:inline-block;
-moz-box-shadow:2px 2px 2px rgba(100, 100, 100, 0.75);
-webkit-box-shadow:2px 2px 2px rgba(100, 100, 100, 0.75);
text-align:center;
font-size:11px;
font-weight:normal;
line-height:1.6em;
}

a.button-quit:hover, a.button-edit:hover {text-decoration:none; background:#971C1C}

.tooltip-slideshow {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
padding:5px;
color:#000;
background:#CCC;
border: 1px solid #808080;
}
