<form class="form-horizontal file_dialog">
	<input type="hidden" value="" name="filename" class="filename" />
	
	<div class="control-group">
		<label class="control-label">Texte du lien de t&eacute;l&eacute;chargement</label>
		<div class="controls">
		  <input type="text" name="attach_alt" value="" class="attach_alt" class="input-xlarge">
		</div>
    </div>

	<div class="form-actions">
		<button name="insert" class="btn btn-primary btn-insert-upload">Ins&eacute;rer</button>&nbsp;
		<button name="cancel" class="btn btn-cancel-upload">Annuler cet envoi</button>
	</div>
</form>