<form class="overlay_attach_form file_dialog">
<input type="hidden" value="" name="filename" class="filename" />

<label class="label_text" for="attach_alt">Texte du lien de t&eacute;l&eacute;chargement</label>
<input type="text" value="" name="attach_alt" class="input_text attach_alt" /><br />

<div class="groupebouton">
	<button type="button" name="insert" class="btn bouton_sauver">Ins&eacute;rer</button>&nbsp;
	<button type="button" name="annuler" class="btn bouton_annuler">Annuler</button>
</div>
</form>