<label class="label_text" for="attach_align">Alignement de l'image</label>
<input type="radio" value="none" id="image-align-none" name="attach_align" class="input_radio">
<label class="label_radio" for="image-align-none">Aucun</label>
<input type="radio" checked="checked" value="left" id="image-align-left" name="attach_align" class="input_radio">
<label class="label_radio" for="image-align-left">Gauche</label>
<input type="radio" value="center" id="image-align-center" name="attach_align" class="input_radio">
<label class="label_radio" for="image-align-center">Centre</label>
<input type="radio" value="right" id="image-align-right" name="attach_align" class="input_radio">
<label class="label_radio" for="image-align-right">Droite</label><br />

<label class="label_text" for="attach_imagesize">Taille de l'image</label>
<input type="radio" value="small" id="image-size-small" name="attach_imagesize" class="input_radio">
<label class="label_radio" for="image-size-small">Miniature&nbsp;(150×150)</label>
<input type="radio" checked="checked" value="medium" id="image-size-medium" name="attach_imagesize" class="input_radio">
<label class="label_radio" for="image-size-medium">Moyenne&nbsp;(234×300)</label><br />
<label class="label_text_vide">&nbsp;</label>
<input type="radio" value="big" id="image-size-big" name="attach_imagesize" class="input_radio">
<label class="label_radio" for="image-size-big">Large&nbsp;(500×500)</label>
<input type="radio" value="original" id="image-size-original" name="attach_imagesize" class="input_radio">
<label class="label_radio" for="image-size-original">Taille originale&nbsp;(780×1000)</label><br />

<label class="label_text" for="attach_alt">Texte de remplacement de l'image</label>
<input type="text" value="" name="attach_alt" id="attach_alt" class="input_text" /><br />

<label class="label_text" for="attach_link">Lien pour l'image cliquable (facultatif)</label>
<input type="text" value="" name="attach_link" class="input_text"><br />

<div class="groupebouton">
	<button type="button" name="annuler" class="btn bouton_annuler">Annuler</button>&nbsp;
	<button type="button" name="insert" class="btn bouton_sauver">Ins&eacute;rer</button>
</div>