@import "apieu.css";
/*
#menu_gauche ul>li>ul,
#menu_gauche ul,
*/
#menu_gauche ul>li { background-color:#970f01;}
#menu_gauche ul>li:hover { color: #fe9802; background-color:#582220; }
#menu_gauche ul>li:hover>a { color: #fe9802;}
#menu_gauche_suite { background:url(../images/menu_gauche_construire.png) no-repeat top left; }


#page_principale_droite h4 {
    color: #970f01;
    border-bottom: 1pt solid #52547b;
}

#page_principale_droite h5 {
    color:  #52547b;
}

#page_principale_droite li {
    list-style-image: url("../images/puce-bleue.png");
}
