
  @font-face {font-family: PopticsOne; src:url(PopticsOne.ttf);}
 /* <!--[if gte IE 6]>
  @font-face {font-family: PopticsOne; src:url(PopticsOne.eot);}
  <![endif]-->*/

#game_title {color: #D1B225; display:inline; font-size: 4em; font-family: PopticsOne, "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif; text-shadow: 0 2px 0 black, 2px 2px 0 #476871, 1px 1px 0 #476871, 3px 2px 0 #476871;}
#game_desc {display:inline; color: #D1B225;}
#nb_dice_previously_called {color: #D1B225; font-size: 4em; font-family: PopticsOne, "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif; vertical-align: middle}
#maingame {
text-align:center;
color: #0C7570;
margin: 0 5px;
}
#title_section {
text-align:center;
margin: 0 5px;
}
