body {
	margin: 0;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: .8em;
    text-align:center;
    background:#2b190f;
}

p {
	line-height: 17px;
	margin: 11px 0 10px 0;
	padding: 0;
}

h1 {
	font-size:1.7em;
	color: #000; 
	padding:5px 0 3px 25px;
	margin:0 0 15px -25px;
	background:transparent;
	border-bottom:2px solid #d1d1ad; 
}
	
h2 {
	width:100%;
	color: #d49d36;
	margin:0 0 10px 0;
	padding:0;
	background:transparent;
	font-size:1.5em;
}

h3 {
	color: #72691c; 
	margin:0 0 6px 0;
	padding:0;
	background:transparent;
	font-size:1.4em;
}

.toggler {cursor:pointer;}
.toggler:hover {background-color: #e89326;}

h4 {
	color: #000; 
	margin:0 0 3px 0;
	padding:0;
	font-size:1.3em;
	font-weight:bold;
}

h5, h5 a {
	width:100%;
	margin:0 0 2px 0;
	padding:0;
	font-size:1.1em;
	color: #9da96b;
}

a {
	color: #9da96b;
	text-decoration: none;
	font-weight:bold;
}

a:hover {
	text-decoration: underline;
}

blockquote{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}

hr {
	color: red;
	background-color: red;
	height: 2px;
	border: 0;
	width:100%;
}

img {border:0;}

input, textarea {
	margin:1px;
	font-size:1em;
}

textarea {width:100%;}
.del {text-decoration:line-through;}

/**** Main Container ***/
#conteneur {
	text-align: left;
	width: 960px;
	background:transparent url(../images/fond.jpg) no-repeat top left;
	color: #000;
	margin:0 auto;
	position:relative;
}

/**** Top ***/
#top {
	width: 960px;
	height: 239px;
	color: #000;
}

#lien_accueil { float:left; display:block; width:160px; height:160px; margin:15px 20px 3px 70px;}
#lien_accueil:hover {text-decoration:none;}
span.missingpage {display:inline;}


.attach_left {float:left; margin:0 10px 0 0;}
.attach_right {float:right; margin:0 0 0 10px;}
.attach_center {display:block; margin 0 auto; width:100%; text-align:center;}

.trail_table { line-height: 30px;}
.trail_button { color: #993333; }

/**** Menus ***/
#titre_haut {
	float:left; 
	width: 200px;
	height: 100px;
	margin:22px 0 0 0;
}

#menu_haut {
	margin:0 0 0 120px;
	background:transparent;
	width:741px;
	height:60px;
	float:left;clear:left;
	overflow:hidden;
}

#menu_haut a {color:#000;padding:8px 10px;margin:0;display:block;}
#menu_haut a:hover, #menu_haut li:hover {text-decoration:none; background:#f5f3dc;}
#menu_haut ul {margin:0; padding:0;}
#menu_haut li {list-style-type:none; margin:0; padding:0; float:left;}
#menu_haut ul ul {background:#f5f3dc; position:absolute; top:210px; left:120px; width:740px; height:25px; overflow:hidden;}
#menu_haut ul ul a {padding:5px 10px; margin:0;}
#menu_haut ul ul a:hover {color:#72691C;}

#moteur_recherche {
	position:absolute;
	right:0;
	top:5px;
	margin:0 10px 0 0;
	padding:0;
	background:transparent;
	width:140px;
	text-align:right;	
}
.titre_rechercher {display:none;}
.bouton_rech {background:#d49d36; border:1px solid #f5f3dc; color:#FFF; width:25px; margin:0;}
.input_rech {border:1px solid #f5f3dc; width:100px; margin:0;}

#identification {
	position:absolute;
	top:33px;
	right:0;
	z-index:3;
	margin:0 10px 0 0;
	padding :5px;
	background:#d49d36;
	border:1px solid #f5f3dc;
	width:120px;
}
.titre_identification {font-weight:bold; color:#f5f3dc; text-align:center; width:100%; display:block;}
.formulaire_identification {font-size:0.9em; display:none;}
#identification .input_iden {border:0; width:80px;}
#identification a {color:#f5f3dc; margin:0;}
.texte_iden {display:block;font-weight:bold;margin:10px 0 0 0;}
.label_iden {width:90px;text-align:right;display:block;float:left;}
.bouton_iden {border:0;color:#f5f3dc;background-color:#d49d36;font-weight:bold; margin:0;}
.modif_inscription_iden {display:block;}

/**** Content Container ***/
#content {
	margin:0 0 0 120px;
	padding:30px 15px;	
	background:#d49d36;
	width:711px;
	text-align:justify;
}

#fondpage {
	background:#f5f3dc;
	padding:10px 30px;
}

/**** Content ***/
#contenu ul {
	padding: 5px 0 5px 20px;
	margin:0;
	
}

#contenu li {
	margin-bottom:4px;
	padding: 0 0 0 13px;
	list-style-type:none;
	background: url(../images/puce_liste.png) no-repeat 0 5px;
}

#contenu {border:0; border-left:2px solid #d1d1ad; padding:10px;}

.commentsheader {}
.hr_clear {display:none;}

/**** Footer ***/
#footer {
	clear: both;
    margin:10px auto 0 auto;
	padding:0;
	color: #FFF;
	text-align:center;
	font-size:0.9em;
}

#footer a {color:#FFF;}

/**************************   diaporama   ******************************/
#contenu .jqGSContainer {position:relative;width:640px;}
#contenu .jqGSContainer .jqGSImgContainer{}
#contenu .jqGSContainer .jqGSImgContainer ul{padding:0;margin:0;position:relative;list-style:none;}
#contenu .jqGSContainer .jqGSImgContainer ul li{padding:0;margin:0;position:relative;margin-top:0;margin-bottom:0px;float:left;background-image:none;}
#contenu .jqGSContainer .jqGSImgContainer ul li .jqGSLoader{width:100%;height:100%;position:absolute;}
#contenu .jqGSContainer .jqGSImgContainer ul li img{border:1px solid #fff;}
#contenu .jqGSContainer .jqGSImgContainer ul li .jqGSTitle{background:#000; position:absolute; right:0; top:0px; padding:3px; color:#fff; width:200px;}


#contenu .jqGSContainer .jqGSPagination{position:relative;width:100%;height:20px;top:0;padding: 5px 0;}
#contenu .jqGSContainer .jqGSPagination ul{padding:0;margin:0;list-style:none;position:relative;float:right;}
#contenu .jqGSContainer .jqGSPagination ul li{padding:0;margin-right:1px;float:left;padding-right:1px;text-align:center;padding-bottom:1px;}
#contenu .jqGSContainer .jqGSPagination ul li a{padding:2px 0px;background:#000;border:1px solid #fff; color: #fff;text-decoration:none;display:block;width:20px;font:10px Verdana, Arial, Helvetica, sans-serif;}
#contenu .jqGSContainer .jqGSPagination ul li a.selected{background:#fff;color:#f03;border: 1px solid #eaeaea;}
#contenu .jqGSContainer .jqGSPagination ul li a:hover{background:#fff;color:#000;border:1px solid #fff;}
//#contenu .jqGSImgContainer{border:1px solid #000;}
