.backups-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

.admin-backups-container .archive-buttons {
    margin-bottom: 5px;
}
.backups-container .archive-item.archive-filename {
    word-break: break-all;
}
.backups-container .archive-item.archive-item-title {
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
}

@media(max-width: 600px){
    .backups-container .archive-item.archive-item-title .btn-wrap{
        max-width: 50px;
        overflow-x: hidden;
    }
}

.relativeSpinner {
    position: relative;
}
.admin-backups-container pre {
    color: initial;
}