.backups-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px 10px;
}

.admin-backups-container .archive-buttons {
  margin-bottom: 5px;
}

.backups-container .archive-item.archive-filename {
  word-break: break-all;
}

.backups-container .archive-item.archive-item-title {
  font-weight: bold;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
}

.btn-wrap {
  padding: 3px 15px !important;
}

@media (width <= 600px) {
  .backups-container .archive-item.archive-item-title .btn-wrap {
    max-width: 50px;
    overflow-x: hidden;
  }
}

.relativeSpinner {
  position: relative;
}

.admin-backups-container .alert pre,
.preupdate-backups-container .alert pre {
  color: initial;
}
