.my-favorites .favorite-container {
  position: relative;
  width: 0;
  height: 36px;
}

.my-favorites .favorites {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}

.my-favorites .image-container {
  display: flex;
  align-items: center;
}

.trombi-image.for-my-favorites {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
}

.trombi-container.my-favorites .bazar-entry i.icon-placeholder {
  top: initial;
  left: initial;
  font-size: 130px;
}

@media (width <= 1200px) {
  .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 114px;
  }
}

@media (width <= 900px) {
  .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 10vw;
  }
}

@media (width <= 700px) {
  .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 88px;
  }
}

@media (width >=768px) {
  .col-sm-12 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 14vw;
  }
  .col-sm-11 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 13vw;
  }
  .col-sm-10 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 12vw;
  }
  .col-sm-9 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 10vw;
  }
  .col-sm-8 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 9vw;
  }
  .col-sm-7 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 8vw;
  }
  .col-sm-6 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 7vw;
  }
  .col-sm-5 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 5.7vw;
  }
  .col-sm-4 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 4.2vw;
  }
  .col-sm-3 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 2.9vw;
  }
  .col-sm-2 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 2.2vw;
  }
  .col-sm-1 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 1.2vw;
  }
}

@media (width >=992px) {
  .col-md-12 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 14vw;
  }
  .col-md-11 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 13vw;
  }
  .col-md-10 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 12vw;
  }
  .col-md-9 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 10vw;
  }
  .col-md-8 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 9vw;
  }
  .col-md-7 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 8vw;
  }
  .col-md-6 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 7vw;
  }
  .col-md-5 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 5.7vw;
  }
  .col-md-4 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 4.2vw;
  }
  .col-md-3 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 2.9vw;
  }
  .col-md-2 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 2.2vw;
  }
  .col-md-1 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 1.2vw;
  }
}

@media (width >=1200px) {
  .col-sm-12 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-12 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 116px;
  }

  .col-sm-11 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-11 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 110px;
  }

  .col-sm-10 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-10 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 108px;
  }

  .col-sm-9 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-9 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 105px;
  }

  .col-sm-8 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-8 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 100px;
  }

  .col-sm-7 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-7 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 97px;
  }

  .col-sm-6 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-6 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 83px;
  }

  .col-sm-5 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-5 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 69px;
  }

  .col-sm-4 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-4 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 56px;
  }

  .col-sm-3 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-3 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 42px;
  }

  .col-sm-2 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-2 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 28px;
  }

  .col-sm-1 .trombi-container.my-favorites .bazar-entry i.icon-placeholder,
  .col-md-1 .trombi-container.my-favorites .bazar-entry i.icon-placeholder {
    font-size: 14px;
  }
}

/* STYLE VERTICAL */
.my-favorites .bazar-entry {
  padding: 0;
  width: 140px;
  border-radius: 6px;
  margin: 5px;
  border: 1px solid #ebebeb;
  background-color: whitesmoke;
}

.my-favorites .bazar-entry:hover .image-container {
  filter: brightness(1.05) contrast(1.05);
}

.my-favorites .bazar-entry .trombi-content {
  padding: 10px;
  text-align: left;
  word-break: break-word;
  line-height: 1;
}

.my-favorites .bazar-entry .trombi-content div.title {
  color: var(--primary-color);
  font-size: 90%;
}

@media (width <= 1200px) {
  .trombi-container.my-favorites .bazar-entry {
    width: 12vw;
  }
}

@media (width <= 1000px) {
  .trombi-container.my-favorites .bazar-entry {
    width: 120px;
  }
}

@media (width <= 900px) {
  .trombi-container.my-favorites .bazar-entry {
    width: 120px;
  }
}

@media (width <= 800px) {
  .trombi-container.my-favorites .bazar-entry {
    width: 15vw;
  }
}

@media (width <= 700px) {
  .trombi-container.my-favorites .bazar-entry {
    width: 105px;
  }
}
