{% if showCore %}
    {% include 'core.twig' %}
{% endif %}
<p>&nbsp;</p>
<!-- start of accordion -->
<div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion_update" >
{% if showThemes %}
	{% set nbMaj = 0 %}
	{% set exts = themes %}
	{% for ext in exts %}
		{% if ext.updateAvailable and ext.installed %}
			{% set nbMaj = nbMaj + 1 %}
		{% endif %}
	{% endfor %}
	<!-- start of panel -->
	{% if nbMaj > 0 %}
		<div class="panel panel-warning"  >
	{% else %}
		<div class="panel panel-default"  >
	{% endif %}
		<div class="panel-heading collapsed" role="tab" id="headingThemes" role="button" data-toggle="collapse" data-parent="#accordion_update" href="#collapseThemes" aria-expanded="false" aria-controls="collapseThemes">
			<h2 class="panel-title">Thèmes
				{% if nbMaj > 0 %}
					{% set alerte = '' %}
					{% if nbMaj > 1 %}
						{% set alerte = 'Vous avez {{nbMaj}} thèmes à mettre à jour' %}
					{% else %}
						{% set alerte = 'Vous avez 1 thème à mettre à jour' %}
					{% endif %}
					<span style="float: right;">{{alerte}}</span>
				{% endif %}
			</h2>
		</div>
		<div id="collapseThemes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThemes">
			{% set exts = themes %}
			{% include 'exts.twig' %}
		</div>
	 </div> <!-- end of panel -->
{% endif %}

{% if showTools %}
	{% set nbMaj = 0 %}
	{% set exts = tools %}
	{% for ext in exts %}
		{% if ext.updateAvailable and ext.installed %}
			{% set nbMaj = nbMaj + 1 %}
		{% endif %}
	{% endfor %}
	<!-- start of panel -->
	{% if nbMaj > 0 %}
		<div class="panel panel-warning"  >
	{% else %}
		<div class="panel panel-default"  >
	{% endif %}
		<div class="panel-heading collapsed" role="tab" id="headingTools" role="button" data-toggle="collapse" data-parent="#accordion_update" href="#collapseTools" aria-expanded="false" aria-controls="collapseTools">
			<h2 class="panel-title">Tools (extensions)
				{% if nbMaj > 0 %}
					{% set alerte = '' %}
					{% if nbMaj > 1 %}
						{% set alerte = 'Vous avez {{nbMaj}} extensions à mettre à jour' %}
					{% else %}
						{% set alerte = 'Vous avez 1 extension à mettre à jour' %}
					{% endif %}
					<span style="float: right;">{{alerte}}</span>
				{% endif %}
			</h2>
		</div>
		<div id="collapseTools" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTools">
			{% set exts = tools %}
			{% include 'exts.twig' %}
		</div>
	</div> <!-- end of panel -->
{% endif %}
</div><!-- end of accordion -->
