<div class="btn-toolbar aceditor-toolbar">
  {{ include('@aceditor/aceditor-toolbar.twig') }}
</div>

<div class="ace-editor-container">
  <pre class="ace-body"></pre>
</div>

{{ include('@aceditor/actions-builder-modal.twig') }}

{{ include_javascript('tools/aceditor/presentation/javascripts/aceditor.js', false, true) }}
{{ include_css('tools/aceditor/presentation/styles/aceditor.css') }}