{% extends "@bazar/inputs/checkbox_drag_and_drop.twig" %}

{% block link_for_entry %}
<a class="btn btn-default btn-xs view-page-item modalbox" data-size="modal-lg" title="{{ _t('BAZ_DRAG_n_DROP_CHECKBOX_SEE_ITEM') ~ " " ~ item|e }}" href="{{ attribute(options_href,item_id) }}">
	<i class="fas fa-eye"></i>
</a>
{% endblock %}
