{% extends "@bazar/inputs/checkbox.twig" %}

{% block list_options %}
	<ul class="list-bazar-entries list-unstyled group-checkbox-{{ field.propertyName }}">
        {% for key, option in options %}
        <div class="yeswiki-checkbox checkbox">
            {{ block('item_option') }}
        </div>
        {% endfor %}
		<input name="{{ field.propertyName }}[END_INDEX NO_CHANGE_IT]" value="0" checked id="{{ field.propertyName }}_hidden" type="hidden">
    </ul>
{% endblock %}

