
* {
	margin: 0;
	padding: 0;
}

body {
	background: url(../images/img01.jpg) repeat-x top left;
}

body, th, td, input, textarea {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

form {
}

fieldset {
}

input, textarea {
	font-weight: bold;
}

input.text {
	padding: 2px 5px;
	background: #F8FAEB;
	border-top: 1px solid #4D5719;
	border-left: 1px solid #4D5719;
	border-right: 1px solid #626456;
	border-bottom: 1px solid #626456;
}

input.button {
	background: #3C7BCF;
	border-top: 1px solid #3C7BCF;
	border-left: 1px solid #3C7BCF;
	border-right: 1px solid #3C7BCF;
	border-bottom: 1px solid #3C7BCF;
	color: #FFFFFF;
}

h1, h2, h3 {
	
	color: #black;
}

h1 {
	letter-spacing: -.075em;
	font-size: 3em;
}

h2 {
	letter-spacing: -.05em;
	font-size: 1.5em;
	font-weight: bold;
	color: #black;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1em;
	font-weight: bold;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 1.8em;
	font-size: 1.1em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: underline;
	color: #e93d2f;
}

a:hover {
	border: none;
}

h1 a, h2 a, h3 a {
	border: none;
	text-decoration: underline;
	color: #e93d2f;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	background: none;
	color: #e93d2f;
}

hr {
	display: none;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 976px;
	margin: 0 auto;
	background: url(../images/img02.gif) no-repeat top left;
}

#menu {
	height: 60px;
	width: 976px;
	z-index:10;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu a {
	display: block;
	float: left;
	text-align:center;
	padding: 15px 0;
	/*margin-right: 1px;*/
	letter-spacing: -1px;
	text-decoration: none;
	/*text-transform: lowercase;*/
	font-size: 20px;
	color: #e93d2f;
	min-width:180px;
}

#menu li {
	float: left; 
	min-width:180px;
}

/*apparaître second niveau lors du passage de souris*/
#menu li:hover ul,#menu li:hover li:hover ul{display:block; position:absolute; top:40px; background:#917A50;}
* html #menu li ul, * html #menu li li ul {margin-left:-180px;}
/*#menu li{-moz-border-radius:6px;background:#edf1b4;border:1px solid #b5b5bf;float:left;font-weight:100;list-style-type:none;margin:0 2px;}*/
#menu ul ul {border: 1px solid white; border-top:none;}
#menu ul ul li {
	float:none;
	display:block;
	margin:0;
	text-align:left;
	background:#917A50;
	font-size: 13px;}
#menu ul ul li a {display:block;text-align:left;font-weight:100;font-size: 15px; padding:5px; margin:0; min-width:130px;}
/*#menu li li: hover{background:#f3d366;z-index:10;}*/
/*#menu ul ul li a:hover{background:#cdccfe;z-index:10;}*/

#menu a:hover {
	color: #91BC11;
}

#menu .current_page_item a {
	color: #e93d2f;
}

#search {
	float: right;
	width: 260px;
	margin: 0px;
	padding-top: 7px;
}

#search fieldset {
	border: none;
}

#search #s {
	width: 160px;
}

#search #x {
	width: 80px;
}

/* Logo */

#logo {
	width: 974px;
	height: 198px;
	margin: 0 auto;
	background: url(../images/img03.jpg) no-repeat left top;
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 0;
}

#logo h1 {
	padding: 90px 5px 0 25px;
	font-size: 48px;
	color: #e93d2f;
}

#logo h2 {
	padding: 0px 0 0 25px;
	letter-spacing: -1px;
	font-size: 16px;
	color: #e93d2f;
}

#logo p {
	clear: left;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: normal;
	font-size: 1.2em;
	font-weight: bold;
	color: #C2C5B1;
}

#logo a {
	color: #e93d2f;
}

/* Page */

#page {
	width: 978px;
	margin: 0 auto;
	padding: 40px 0px 0 0px;
	background: #FFFFFF;
	border-top: none;
}

/* Content */

#content {
	float: left;
	width: 655px;
	padding: 0px 0px 0px 20px;
}

#content h1 {background: url(../images/puce50.gif) no-repeat left -20%;
	padding: 0px 0px 0px 55px;}

#content h2 {background: url(../images/puce25.gif) no-repeat left ;
	padding: 0px 0px 0px 30px;}

.post {
}

.post .title {
	margin: 0;
	font-weight: normal;
	background: url(../images/puce50.gif) no-repeat left -20%;
}

.post h1.title {
	padding: 5px 0  0 50px;
	height: 10px;
	font-size: 2.4em;
	text-transform: lowercase;
	border-bottom: 2px dashed #666666;
}

.post .entry {
	padding: 0 10px 30px 15px;
}

.post .meta {
	margin: 0;
	padding: 0px 0px 0px 50px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CFCFCF;
}

.post .meta a {
	color: #95CC28;
}

.post .links {
	margin: 0;
}

.post .tags {
	margin: 0;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	background: url(../images/img04.gif) repeat-x;
}

.post .links a, .post .tags a {
	border: none;
}

/* Recent Posts */

#recent-posts {
}

#recent-posts h2 {
	margin: 0;
	border-bottom: 2px dashed #666666;
	background: url(../images/puce25.gif) no-repeat left 80%;
	padding: 15px 0  0 30px;
	height: 30px;
	color: #80AB00;
}

#recent-posts h3 {
	margin: 0;
	font-size: 13px;
	padding: 15px 0  0 15px;
	background: url(../images/img04.gif) repeat-x left bottom;
}

#recent-posts p {
	margin: 0 0 10px 0;
	padding: 15px 0  0 15px;
	line-height: 22px;
	font-size: 13px;
}

/* Sidebars */

.sidebar {
	float: left;
}

.sidebar ul {
	margin: 50;
	padding: 0;
	list-style: none;
}

.sidebar li {
	margin-bottom: 5em;
	margin-top: 3em;
}

.sidebar li ul {
}

.sidebar li li {
	margin: 0;
}

.sidebar li h2 {
	margin: 0 0 1em 0;
	color: #80AB00;
}

#sidebar1 {
	width: 250px;
	padding: 0px 0px 0px 20px;
}

#sidebar2 {
	width: 260px;
	padding: 0px 20px 0px 20px;
}

#sidebar2 li h2 {
	margin: 0 0 0 0;
	background: url(../images/puce25.gif) no-repeat left 80%;
	padding: 0px 0  0 35px;
	height: 20px;
}

#sidebar2 li ul {
	line-height: normal;
	background: url(../images/img04.gif) repeat-x;
}

#sidebar2 li li {
	padding: 5px;
	background: url(../images/img04.gif) repeat-x left bottom;
	font-size: .8em;
}

#sidebar2 li a {
	border: none;
	padding-left: 10px;
}

#sidebar2 li a:hover {
	border: none;
	padding-left: 10px;
}
/* debut accordeon */

#sidebar .closed {background:transparent url(../images/puce_triangle_droit.gif) no-repeat 0 4px;}
#sidebar .opened {background:transparent url(../images/puce_triangle_bas.gif) no-repeat 0 4px;}



#sidebar a.actif {
text-decoration:underline;
}

/* fin accordeon */




/* Footer */

#footer {
	background: url(../images/img04.jpg) repeat-x top left;
	height: 97px;
	text-align: center;
}

#footer p {
	padding-top: 30px;
	text-align: center;
	font-size: 9px;
	color: #FFFFFF;
}

#footer a {
	color: #3A2905;
}
.error {
color:#C33;
font-weight:700;
}

.edit {width: 655px;}

.indent {
margin-left:40px;
}

.additions {
color:#080;
}

.deletions {
color:#800;
}

.add {
color:#c00;
font-weight:700;
text-decoration:underline;
}

.del {
color:#c00;
font-style:italic;
text-decoration:line-through;
}

.prev_alert {
background-color:#b4d627;
color:#FFF;
font-size:1.7em;
font-weight:700;
margin-bottom:5px;
}

.code {
background:#FFF;
border:solid #888 2px;
font-family:'Courier New', Courier;
height:400px;
overflow:scroll;
padding:3px;
width:100%;
}

.revisioninfo {
color:#AAA;
padding-bottom:20px;
}

.footer { background-color: #DDDDDD; padding: 5px 10px; border: 1px inset; border-top: none; border-top: 1px solid #CCCCCC }


.hr_clear,.commentsheader {
display:none;
}
/*disparaitre second niveau*/
#menu ul ul,#menu li:hover ul ul {display:none;} 
