#imageflow img { 
	position:absolute; 
	top:0px;
	border:none;
}
.clear{
	clear:both;
}
#images{
	visibility:hidden;
}
#loading{
	margin-top:50px;
	text-align:center;
	width:100%;
}
#loading img{
	margin-top:10px;
	position:relative; 
}
#captions{
	color:#000;
	font-weight:bold;
	position:relative;
	top:7px; 
	text-align:center;
	z-index:10000;
}
#scrollbar{
	visibility:hidden;
	position:relative; 
	border-bottom:1px solid #b3b3b3;
	z-index:10001;
}
#slider{
	position:absolute;
	margin-top:-7px;
	margin-left:-7px;
	z-index:10002;
	background-image:url(slider.png);
	background-repeat:no-repeat;
	width:14px;
	height:14px;	
}
#imageflow{
	margin:0;
	width:100%;
	text-align:left;
}
