<?php
use YesWiki\Core\Service\QrCodeService;

$i = 0;
if (count($fiches)>0) : ?>
<div class="badge-container">
    <?php foreach($fiches as $fiche): $i = $i+1; ?>
          <div class="qrbadge bazar-entry" <?php echo $fiche['html_data'];?>>
            <?php
            $fiche = array_map(
              function($a) {
                  if (is_array($a)) {
                    return array_map('trim', $a);
                  } else {
                    return trim($a);
                  }
              },
              $fiche
            );

            $qrcode = 'BEGIN:VCARD'."\n";
            $qrcode .= 'VERSION:2.1'."\n";
            $qrcode .= 'FN:'.$fiche['bf_titre']."\n";
            $qrcode .= 'N:'.$fiche['bf_titre']."\n";
            if (!empty($fiche['bf_telephone'])) {
              $qrcode .= 'TEL;HOME;VOICE:'.$fiche['bf_telephone']."\n";
            }
            if (!empty($fiche['bf_mail'])) {
              $qrcode .= 'EMAIL;HOME;INTERNET:'.$fiche['bf_mail']."\n";
            }
            $qrcode .= 'URL:'.$GLOBALS['wiki']->href('', $fiche['tag'])."\n";
            $qrcode .= 'ADR:;;'.$fiche['bf_adresse'].';'.$fiche['bf_ville'].';;'.$fiche['bf_code_postal']."\n";
            if (!empty($fiche['bf_structure'])) {
              $qrcode .= 'ORG:'.$fiche['bf_structure']."\n";
            }
            $qrcode .= 'END:VCARD'."\n";

            $cacheImage = 'cache'.DIRECTORY_SEPARATOR.'qrcode-'.$GLOBALS['wiki']->getPageTag().'-'.md5($qrcode).'.svg';
            if (!file_exists($cacheImage) || (!empty($_GET['refresh']) && $_GET['refresh']=='1')) {
                $GLOBALS['wiki']->services->get(QrCodeService::class)->generateToFile($qrcode, $cacheImage);
            }
            ?>
          <div class="badge-info">
            <h4 class="badge-title"><?php echo $fiche['bf_titre']; ?></h4>

            <?php if (!empty($fiche['bf_structure'])) : ?><div class="badge-organisation"><?php echo $fiche['bf_structure']; ?></div><?php endif; ?>
            <?php if (!empty($fiche['bf_fonction'])) : ?><div class="badge-occupation"><?php echo $fiche['bf_fonction']; ?></div><?php endif; ?>
          </div>
          <img class="img-qrcode" src="<?php echo $cacheImage; ?>" alt="qrcode" />
        </div>
        <?php if (($i % 4 == 0)) { echo '<div class="break"></div>'; } ?>
    <?php endforeach; ?>
  </div>
  <style>
  .badge-container {width:210mm;margin:0 auto;}
  .qrbadge {
    border:1px solid #ddd;
    margin: 30mm 9mm 9mm 9mm; 
    padding: 2mm;
    display: inline-block;
    width: 85mm;
    height: 108mm;
    overflow:hidden;
    position: relative;
    font-size: 10pt;
  }
  .badge-info {text-align: left;}
  .badge-title { font-size: 16pt; color:#61b32e !important; margin: 3mm 0mm; }
  .badge-organisation {margin-bottom:2em; font-weight: bold;}
  .img-qrcode {position: absolute; width:60mm; height:60mm; bottom: 5mm; left: 12mm;}

  @media print {
     #yw-header, #yw-footer, #yw-topnav, .footer, #search-form, .export-links { display:none; }
     .page, #yw-container, .badge-container {padding:0;width:100%;margin:0;}
     <?php if (isset($_GET['border']) && $_GET['border'] == "0") : ?>.qrbadge { border:none;}<?php endif; ?>
     .break {
        page-break-after: always;
        page-break-inside: avoid;
        break-after: always;
      }
  }
  </style>
<?php endif;