{% extends "@bazar/fields/checkbox.twig" %}

{% block value_item -%}
	<a href="{{ value.href|e }}" class="modalbox" title="Voir la fiche {{ value.value|e }}">
	{{- value.value -}}
	</a>
{%- endblock %}
