{% extends "@bazar/fields/checkbox.twig" %}

{% block value_item -%}
	<a href="{{ value.href|e ~ (field.isDistantJson ? '/iframe') }}"
	class="modalbox" 
			data-size="modal-lg"
			{{ field.isDistantJson ? 'data-iframe="1"' }}
			title="Voir la fiche {{ value.value|striptags }}">
	{{- value.value|raw -}}
	</a>
{%- endblock %}
