{% if moveSubmitButtonToLastTab %}
  {{ include_javascript('tools/bazar/presentation/javascripts/bazar-edit-tabs-field.js') }}
{% endif %}
{% if titles is not empty %}
  <ul class="nav {{ field.tabsClass }}" role="tablist">
    {% for title in titles %}
      <li role="presentation"{%if loop.first %} class="active"{% endif %}>
        <a 
          href="#menu{{ loop.index }}" 
          role="tab" 
          data-toggle="tab" 
          onclick="window.dispatchEvent(new Event('resize'));" {# needed to refresh map for geolocalization#}
        >
          {{ title }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    <!--ouvre l'onglet n°1 -->
    <div role="tabpanel" class="with-padding tab-pane active" id="menu1">
{% endif %}