{% if titles is not empty %}
  <ul class="nav nav-tabs" role="tablist">
    {% for title in titles %}
      <li role="presentation"{%if loop.first %} class="active"{% endif %}>
        <a 
          href="#menu{{ prefix ~ loop.index }}" 
          role="tab" 
          data-toggle="tab" 
          onclick="window.dispatchEvent(new Event('resize'));" {# needed to refresh map for geolocalization#}
        >
          {{ title }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    <!-- first tab -->
    <div role="tabpanel" class="with-padding tab-pane active" id="menu{{ prefix }}1">
{% endif %}