.mf{color:#000}
.mf.load {
	background:#000 url(white-skin/ajax_loader.gif) no-repeat 50%;
}
.mf * {
	outline-color:invert;
	outline-style:none;
	outline-width:medium;
	-moz-user-select: none;
	border:none;
	padding:0;
	margin:0
}
.mf a.show {
	position:absolute;
	margin-left:-16px;
	width:32px;
	height:32px;
	top:0;
	z-index:1;
	cursor:pointer;
}
.mf a.show.image{
	background:url(white-skin/open_image.png) no-repeat 50%;
}
.mf a.show.viewerload{
	background:url(white-skin/loader.gif) no-repeat 50%;
}
.mf a.show.link{
	background:url(white-skin/open_link.png) no-repeat 50%;
}
.mf div.tooltip{
	background:url(white-skin/tooltip.png) no-repeat 50%;
	width:262px;
	margin-left:-151px;
	height:70px;
	padding:20px;
	position:absolute;
	z-index:2;
	top:0;
	text-align:center;
}
.mf div.loader{
	position:absolute;
	text-align:center;
	z-index:10000;
	margin:1em auto;
	top:55%;
	width:100%;
}
.mf div.caption {
	position:absolute;
	text-align:center;
	z-index:10000;
	margin:1em auto;
	bottom:50px;
	width:100%;
}
.mf div.MooFlowNav{
	position:absolute;
	z-index:10001;
	margin:0 auto;
	text-align:center;
	width:100%;
	bottom:20px;
	font-size:1px;
	line-height:1px;
	width:100%;
}
.mf div.autoPlayCon{
	float:left;
	width:10%;
	padding-left:3%;
	height:32px;
}
.mf a.play, .mf a.stop{
	width:34px;
	height:32px;
	float:left;
	cursor:pointer;
}
.mf a.play{
	background:url(white-skin/play.gif) no-repeat;
}
.mf a.stop{
	background:url(white-skin/stop.gif) no-repeat;
}
.mf div.sliderCon{
	float:left;
	width:74%;
}
.mf a.sliderNext{
	background:url(white-skin/left.gif) no-repeat;
}
.mf a.sliderPrev{
	background:url(white-skin/right.gif) no-repeat;
}
.mf a.sliderNext, .mf a.sliderPrev{
	text-decoration:none;
	width:31px;
	height:31px;
	cursor:pointer;
	float:left;
}
.mf div.resizeCon{
	float:right;
	width:10%;
	padding-right:3%;
	height:32px;
}
.mf a.resize{
	width:32px;
	height:32px;
	float:right;
	cursor:pointer;
	background:url(white-skin/resize.gif) no-repeat;
}
.mf div.slider{
	background:url(white-skin/middle.gif) repeat-x;
	height:31px;
	position:relative;
	text-align:left;
	float:left;
}
.mf div.knob{
	margin-top:5px;
	height:21px;
	background:url(white-skin/middle-slider.gif) repeat-x right center;
}
.mf div.knobleft{
	background:url(white-skin/left-slider.gif) left;
	width:3px;
	height:21px;
}