<?php
if (!function_exists('formatEndDate')) {
  function formatEndDate($date) {
    // Fixs bug, when no time is specified, is the event is on multiple day, calendJs show it like
    // it end one day earlier
    if (strlen($date) <= 10) {
      $dateObject = new DateTime($date);
      $dateObject = $dateObject->modify('+1 day');
      $date = $dateObject->format("Y-m-d");
    }
    return $date;
  }
}

if(count($fiches)>0) {
  $js = '';
  foreach ($fiches as $fiche) {
      // couleur de marqueur
      $color = getCustomValueForEntry($param['color'], $param['colorfield'], $fiche, null);

      // icone
      $icon = getCustomValueForEntry(
        $param['icon'],
        $param['iconfield'],
        $fiche,
        ''
      );
      $titleprefix = '';
      if (!empty($icon)) {
        $titleprefix .= '<i class="fa fa-'.$icon.'"></i> ';
      }

      if (isset($fiche['bf_date_debut_evenement']) && isset($fiche['bf_date_fin_evenement'])) {
          $js .= '        {
                      id: "'.$fiche['id_fiche'].'",
                      title: "'.addslashes($titleprefix.$fiche['bf_titre']).'",
                      start:"'. $fiche['bf_date_debut_evenement'].'",
                      end:"'. formatEndDate($fiche['bf_date_fin_evenement']).'",
                      url:"'.$fiche['url'].(isset($fiche['external-data']) ? '/iframe':'').'",
                      allDay: '.((strlen($fiche['bf_date_debut_evenement'])>10) ? 'false':'true').',
                      className: "bazar-entry modalbox",
                      backgroundColor: "'.$color.'",
                      htmlattributes: "'.addslashes($fiche['html_data'].
                        (isset($fiche['external-data']) ? ' data-iframe="1"':'')).'"
          },';
      }
  }
  if (!empty($js)) {
      $js = substr($js, 0, -1);
  }

  $script = "$(document).ready(function() {
      var allEvents =  [".$js."];
      function initCal(selector, allEvents) {
        $(selector).fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            events: allEvents,
            eventRender: function(event, element, view) {
                element.find('.fc-title').html(event.title);
                $.each($('<div '+ event.htmlattributes + '>').data(), function (index, value) {
                  element.attr('data-'+index, value);
                })
            },
            locale: '".$GLOBALS['prefered_language']."',
            buttonText: {
                prev: ' ◄ ',
                next: ' ► ',
                prevYear: ' << ',
                nextYear: ' >> ',
                today: ".json_encode(_t('BAZ_TODAY')).",
                month: ".json_encode(_t('BAZ_MONTH')).",
                week: ".json_encode(_t('BAZ_WEEK')).",
                day: ".json_encode(_t('BAZ_DAY'))."
            },
            firstDay : 1,
            themeSystem: 'bootstrap3',
            timeFormat: 'HH:mm',
            eventLimit: true, // allow more link when too many events
        })
      }
      initCal('#calendar".$param['nbbazarliste']."', allEvents);
      $('body').on( 'updatefilters', function( event, elements ) {
        //$('#calendar".$param['nbbazarliste']."').fullCalendar('removeEvents');
        var newEvents = new Array();
        $.each(elements, function (index, value) {
          $(value).parents('.bazar-entry').show();
          var idx = $.map(
            allEvents,
            function(item, i) {
              if (item.id==$(value).data('id_fiche'))
                  return item;
            }
          )[0];
          newEvents.push(idx)
        });
        initCal('#calendar".$param['nbbazarliste']."', newEvents);
      });
  });\n";

  if (!empty($params['minical']) && $params['minical']==1) {
      $script .= '
      function init_calendar_tooltip() {
          $(".fc-event-title").each(function() {
              texte = $(this).html();
              $(this).parents(\'.fc-event\').tooltip({\'title\':texte, \'html\':true});
          });
      }
      setTimeout(init_calendar_tooltip,2000);';
  }
  $GLOBALS['wiki']->AddCSSFile('styles/vendor/fullcalendar-jquery-v3.10.0/fullcalendar.min.css');
  $GLOBALS['wiki']->AddJavascriptFile('javascripts/vendor/moment/moment-with-locales.min.js');
  $GLOBALS['wiki']->AddJavascriptFile('javascripts/vendor/fullcalendar-jquery-v3.10.0/fullcalendar.min.js');
  $GLOBALS['wiki']->AddJavascriptFile('javascripts/vendor/fullcalendar-jquery-v3.10.0/locale-all.min.js');
  $GLOBALS['wiki']->AddJavascript($script);
  echo '<div id="calendar'.$param['nbbazarliste'].'" class="no-dblclick '.$param['class'].'"></div>'."\n";
}
