<div class="row row-fluid yeswiki-checkbox checkbox">
	<div class="col-lg-4 export-table-container">
		<h4><?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_AVAILABLE_ITEM'); ?></h4>
		<div class="alert alert-info">
			<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_ITEM_INFO'); ?><div class="btn btn-default btn-success btn-mini btn-xs"><i class="fas fa-plus"></i></div>.
		</div>
		<div class="input-group input-prepend input-append">
			<span class="input-group-addon add-on"><i class="fas fa-filter"></i></span>
			<input class="checkbox-filter-input form-control input-sm" type="text" id="filter-<?php echo $id; ?>" value="" placeholder="<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_FILTER_ITEM'); ?>" style="background: var(--neutral-light-color);;"/>
			<span class="input-group-btn add-on">
				<button class="btn btn-default btn-sm btn-erase-filter" type="button">&times;</button>
			</span>
		</div><!-- /input-group -->
		<span class="checkbox-filter-count help-block align-right"></span>
	<h5><?php echo $form_name; ?>
		<a class="pull-right btn btn-xs btn-success checkbox-select-all" title="<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_ADD_ALL'); ?>" href="#">
		  <i class="fas fa-plus"></i> <?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_ADD_ALL'); ?>
		</a>
	</h5>
	<div class="clearfix"></div>
	  <div style="max-height:<?php echo (!empty($height)) ? $height : 300 ; ?>px;overflow:auto;">
		<ul class="list-entries-to-export list-group group-<?php echo $id; ?>" data-group="<?php echo $id; ?>">
			<?php foreach($entries as $item_id => $item) : ?>
				<?php if(!in_array($item_id,array_keys($selected_entries))) : ?>
					<li class="list-group-item">
						<a class="pull-right btn btn-xs btn-success select-page-item" title="<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_SELECT_ITEM'); ?> <?php echo htmlentities($item['name']); ?> <?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_FOR_THE_LIST'); ?>" href="#">
							<i class="fas fa-plus"></i>
						</a>
						<a class="hide pull-right btn btn-xs btn-danger remove-page-item" title="<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_DELETE_ITEM'); ?> <?php echo htmlentities($item['name']); ?> <?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_FROM_THE_LIST'); ?>" href="#">
							<i class="fas fa-minus"></i>
						</a>
						<span class="pull-left hide movable"><i class="fas fa-arrows-alt-v"></i></span>
						<?php if ($item['type'] != 'list') : ?>
							<a class="pull-left btn btn-default btn-xs view-page-item modalbox" data-size="modal-lg" title="<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_SEE_ITEM'); ?> <?php echo htmlentities($item['name']); ?>" href="<?php echo $GLOBALS['wiki']->href('html', $item_id); ?>">
								<i class="fas fa-eye"></i>
							</a>
						<?php endif ; // if ($item['type'] != 'list') : ?> 
						<input type="checkbox" id="<?php echo $id . '_' . $item_id; ?>" value="1" name="<?php echo $id; ?>[<?php echo $item_id; ?>]" class="element_checkbox hide"><span style="display:none;"></span>
						&nbsp;<?php echo ' '.$item['name']; ?>
					</li>
				<?php endif; // if(!in_array($item['id_fiche'],$selected_entries_names)) ?>
			<?php endforeach; //foreach($entries as $item) ?>
			<li class="list-group-item empty-list" style="display:none;"><?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_EMPTY_LIST'); ?></li>
		</ul>
	  </div>
	</div><!-- /.col-lg-4.export-table-container -->

	<div class="col-lg-8 import-table-container">
		<h4><?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_YOUR').' '.strtolower($name); ?><a class="pull-right btn btn-xs btn-danger checkbox-remove-all" title="<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_REMOVE_ALL'); ?>" href="#">
		  <i class="fas fa-minus"></i> <?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_REMOVE_ALL'); ?>
		</a></h4>
		<div class="alert alert-info">
			<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_ORDER_ITEM_INFO'); ?>
		</div>
		<div class="clearfix"></div>
		<div class="well" style="max-height:<?php echo (!empty($height)) ? $height + 80 : 380 ; ?>px;overflow:auto;">
			<ul class="checkbox-selection-container list-group group-<?php echo $id; ?>" data-group="<?php echo $id; ?>">
			<?php foreach($selected_entries as $item_id => $item) : ?>
				<li class="list-group-item">
					<a class="hide pull-right btn btn-xs btn-success select-page-item" title="<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_SELECT_ITEM'); ?> <?php echo htmlentities($item['name']); ?> <?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_FOR_THE_LIST'); ?>" href="#">
						<i class="fas fa-plus"></i>
					</a>
					<a class="pull-right btn btn-xs btn-danger remove-page-item" title="<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_DELETE_ITEM'); ?> <?php echo htmlentities($item['name']); ?> <?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_FROM_THE_LIST'); ?>" href="#" data-group="<?php echo $nb; ?>">
						<i class="fas fa-minus"></i>
					</a>
					<span class="pull-left movable"><i class="fas fa-arrows-alt-v"></i></span>
					<?php if ($item['type'] != 'list') : ?>
						<a class="pull-left btn btn-default btn-xs view-page-item modalbox" data-size="modal-lg" title="<?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_SEE_ITEM'); ?> <?php echo htmlentities($item['name']); ?>" href="<?php echo $GLOBALS['wiki']->href('html', $item_id); ?>">
							<i class="fas fa-eye"></i>
						</a>
					<?php endif ; // if ($item['type'] != 'list') : ?> 
					<input type="checkbox" id="<?php echo $id . '_' . $item_id; ?>" value="1" name="<?php echo $id; ?>[<?php echo $item_id; ?>]" class="element_checkbox hide" checked><span style="display:none;"></span>
					&nbsp;<?php echo ' '.$item['name']; ?>
				</li>
			<?php endforeach; ?>
			<li class="list-group-item empty-list" <?php echo (count($selected_entries)>0) ? 'style="display:none;"' :'' ; ?>><?php echo _t('BAZ_DRAG_n_DROP_CHECKBOX_EMPTY_LIST'); ?></li>
			</ul>
			<input name="<?php echo $id; ?>[]" value="0" checked id="<?php echo $id . '_hidden' ; ?>" type="hidden">
		</div>
	</div> <!-- /.col-lg-8. publication-selection-container -->
</div> <!-- /.row -->
<?php
  	$GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/vendor/jquery-ui-sortable/jquery-ui.min.js');
	$GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/vendor/jquery.fastLiveFilter.js');
  	$GLOBALS['wiki']->AddJavascriptFile('tools/bazar/presentation/javascripts/checkbox-drag-and-drop.js');
	
?>
