<?php
// Variables disponibles :
// $content : liste des fiches en html
// $filters : liste des valeurs filtrables, pour les facettes
// $nbfiches : nombre totale de fiches disponibles
// $params : ensemble des parametre passés a l'action

// calcul de la largeur de la colonne pour les resultats, en fonction de la taille des filtres
$resultcolsize = 12 - intval($params['filtercolsize']);
if ($resultcolsize == 0) {
  $resultcolsize = 12;
}
?>
<div class="facette-container row">
  <?php if ($params['filterposition'] == 'right') : ?>
  <div class="results-col col-sm-<?php echo $resultcolsize; ?>">
    <div class="results">
      <?php echo $content;?>
    </div> <!-- /.results -->
  </div> <!-- /.col-xs-<?php echo $resultcolsize; ?> -->
  <?php endif; ?>

  <div class="filters-col col-sm-<?php echo $params['filtercolsize'];?>">
    <div class="filters no-dblclick <?php echo $params['filterposition']; ?>">
      <div class="results-info text-info">
        <span class="nb-results"><?php echo $nbfiches; ?></span>
        <?php echo ($nbfiches > 1) ? _t('BAZ_FICHES_CORRESPONDANTES_FILTRES') : _t('BAZ_FICHE_CORRESPONDANT_FILTRES'); ?>
      </div>
      <?php if ($params['filtertext'] == true) : ?>
      <div class="input-group filtertext">
        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
        <input type="text" class="form-control filter-bazar" id="inputBazarFilter<?php echo $params['nbbazarliste']; ?>" placeholder="<?php echo _t('BAZAR_FILTER'); ?>" data-target="bazar-list-<?php echo $params['nbbazarliste']; ?>" />
      </div>
      <?php endif; ?>
      <div class="results-container">
      <?php foreach($filters as $idkey => $val) : ?>
        <?php $panelId = "collapse" . $GLOBALS['_BAZAR_']['nbbazarliste'] . "_" . $idkey ?>
        <div class="filter-box panel panel-default <?php echo $idkey; ?>" data-id="<?php echo $idkey; ?>">
          <div class="panel-heading <?php echo $val['collapsed']; ?>" data-toggle="collapse" data-target="#<?php echo $panelId ?>" aria-expanded="true">
            <?php echo $val['icon'].$val['title']; ?>
          </div>

          <div class="panel-collapse collapse in"
               id="<?php echo $panelId ?>">
            <?php foreach($val['list'] as $list) : ?>
            <div class="checkbox">
              <label for="<?php echo $list['id']; ?>">
                <input class="filter-checkbox" type="checkbox" id="<?php echo $list['id']; ?>" name="<?php echo $list['name']; ?>"
                value="<?php echo $list['value']; ?>">
                <span>
                  <?php echo $list['checked']; ?>
                  <?php echo $list['label']; ?> (<span class="nb"><?php echo $list['nb']; ?></span>)
                </span>
              </label>
            </div><!-- /.checkbox -->
            <?php endforeach; ?>
          </div><!-- /.panel-body -->
        </div><!-- /.filter-box -->
        <?php endforeach; ?>
      </div><!-- /.results-container -->
    </div> <!-- /.filters -->
  </div> <!-- /.col-xs-<?php echo $params['filtercolsize'];?> -->

  <?php if ($params['filterposition'] != 'right') : ?>
  <div class="results-col col-sm-<?php echo $resultcolsize; ?>">
    <div class="results">
      <?php echo $content;?>
    </div> <!-- /.results -->
  </div> <!-- /.col-xs-<?php echo $resultcolsize; ?> -->
  <?php endif; ?>
</div><!-- /.facette-container.row -->
