<form action="<?php echo $url ?>&amp;action=<?php
   if (isset($conditions)) {
     echo !empty($idfiche) ? BAZ_ACTION_MODIFIER : BAZ_ACTION_NOUVEAU;
   } else {
     echo !empty($idfiche) ? BAZ_ACTION_MODIFIER_V : BAZ_ACTION_NOUVEAU_V;
   }
   ?>" method="post" name="formulaire" id="formulaire" enctype="multipart/form-data" class="form-horizontal" <?php if (!isset($conditions)) : ?>novalidate<?php endif; ?>>
    <?php echo $content; ?>
    <div class="form-actions form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-success"><?php echo _t('BAZ_VALIDER'); ?></button>
          <a class="btn btn-xs btn-danger" href="<?php echo $url ?>"><?php echo _t('BAZ_ANNULER'); ?></a>
        </div>
    </div>
    <input name="antispam" value="0" type="hidden">
    <input name="id_typeannonce" value="<?php echo $idtypeannonce; ?>" type="hidden">
    <?php if (!empty($idfiche)) : ?>
    <input name="id_fiche" value="<?php echo $idfiche; ?>" type="hidden">
    <?php endif; ?>
    <?php if (!empty($passwordforediting)) : ?>
    <input name="password_for_editing" value="<?php echo $passwordforediting; ?>" type="hidden">
    <?php endif; ?>
</form>
