<!--
  This Template use the GoGoCartoJs Library : https://gitlab.adullact.net/pixelhumain/GoGoCartoJs
  Documentation cna be found here https://pixelhumain.github.io/GoGoCartoJs/docs/configuration.html
  If you want to change something in the configuration, let's say the menu width, add a new parameter to bazarlist :
  {{ bazarliste id="2" template="gogomap.tpl.html" menuwidth="500"}}
  Then you need to add this new menuwidth parameter to function getAllParameters_carto in bazar.fonct.php
  So it will be available in this template with the code param['menuwidth']

  Then, find in gogocartoJs configuration how the property is defined. Here it's
  {
    menu: { width: 500 }
  }
  So edit, at the bottom of this file, the configuration given to GoGoCarto

  carto = goGoCarto('#osmmap1', {
    ....
    menu: { width: param['menuwidth'] }
    ...
  });

  Alternatively, for developers, they could provide a json configuration object url inside the "jsonconfurl" attribute, for example
  {{ bazarliste id="2" template="gogomap.tpl.html" jsonconf="http://mysite/myCartoConf.json" }}
  This jsonconf will be merged with the template configuration (providing data, taxonomy etc...)
-->


<?php
  $GLOBALS['wiki']->AddJavascriptFile('tools/bazar/presentation/javascripts/gogocarto.min.js', true);
  $GLOBALS['wiki']->AddCSSFile('tools/bazar/presentation/styles/gogocarto.min.css');
?>

<div id="gogo-map<?php echo $param['nbbazarliste']; ?>"
         class="no-dblclick"
         style="<?php echo 'width:'.$param['width'].'; height:'.$param['height']; ?>"></div>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<script>
  // wiki data to display
  var data = <?php echo json_encode($fiches) ?>;
  // All param attached in bazarlist action
  var param = <?php echo json_encode($param) ?>;
  // Url to get the wiki categories
  var categoriesUrl = "<?php echo $GLOBALS['wiki']->href('json', 'BazaR', 'demand=lists', false) ?>";

  var gogoConf = {};

  // re format wiki data to better fit gogocarto ontology.
  data = data.map(function(el) {
    el.taxonomy = []
    for(var i = 0; i < param['groups'].length; i++)
    {
      var value = el[param['groups'][i]];
      if (value) el.taxonomy.push(value);
    }

    el.name = el.bf_titre;
    el.bf_titre = null;
    var result = {}
    for (var key in el)
    {
      var value = el[key]
      // remove attribute with empty value
      if (value)
      {
        // remove bf_ prefix
        if (key.indexOf('bf_') > -1) {
          var newkey = key.replace('bf_', '');
          result[newkey] = value;
        } else {
          result[key] = value;
        }
      }
    }
    return result
  });

  var wikiCategoryNameMapping = {}
  for(var i = 0; i < param['groups'].length; i++)
  {
    let catId = param['groups'][i].replace('checkbox', '')
    wikiCategoryNameMapping[catId] = param['titles'][i];
  }

  console.log('data', data, param);
  document.addEventListener("DOMContentLoaded",function() {

    // fix conflict bootstrap and materialize sue same function name
    $.fn.tooltip = function (options) { }
    $.fn.velocity = function (options) { }

    $.get(categoriesUrl, function(wikiTaxo) {
      // Transform wikiTaxo into gogocartoTaxo
      var gogoTaxo = [];
      for(var categoryId in wikiTaxo)
      {
        var wikiCat = wikiTaxo[categoryId];
        console.log(wikiCategoryNameMapping, categoryId)
        var gogoCat = {
          "name":  wikiCategoryNameMapping[categoryId] || wikiCat.titre_liste,
          "options":[]
        }
        for(var wikiOptionId in wikiCat.label)
        {
          var gogoOption = {
            id: wikiOptionId,
            name: wikiCat.label[wikiOptionId]
          }
          if (('checkbox' + categoryId) == param['iconfield']) gogoOption.icon = param['iconprefix'] + param['icon'][wikiOptionId]
          if (('checkbox' + categoryId) == param['colorfield']) gogoOption.color = param['color'][wikiOptionId]
          gogoCat.options.push(gogoOption);
        }
        gogoTaxo.push(gogoCat);
      }

      gogoConf = {
        general: { activateHistoryStateAndRouting: false },
        language: 'fr',
        theme: 'default',
        map: {
          defaultTileLayer: 'wikimedia',
        },
        data: {
          taxonomy: gogoTaxo,
          elements: data
        }
      }

      if (param['jsonconfurl']) {
        $.get(param['jsonconfurl'], function(distantConf) {
          gogoConf = { ...distantConf, ...gogoConf }
          initializeGoGoCarto();
        });
      } else {
        initializeGoGoCarto();
      }

      // carto.app.map().setView(new L.LatLng(param['latitude'], param['longitude']), param['zoom']);
    })
  });

  function initializeGoGoCarto()
  {
    carto = goGoCarto('#gogo-map1', gogoConf)
  }

</script>

<style>
  /* increase root font-size because gogocarto use rem, so it's based on root font-size */
  html { font-size: 14px; }
  /* hide facettes cuase we are using GoGoCarto facette equivalent*/
  .facette-container .filters { display: none; }
  .facette-container > .col-xs-9 { width: 100%; }
  /* Fixs some style conflict */
  .gogo-load-css .gogo-theme-transiscope .iconInsideMarker-wrapper {
    background-color: transparent !important;
  }
  .gogo-load-css .subcategory-item.expanded .name-wrapper .arrow-after {
    border-color: transparent transparent #494745 transparent !important;
  }
</style>