<!--
  This Template use the GoGoCartoJs Library : https://gitlab.adullact.net/pixelhumain/GoGoCartoJs
  Documentation cna be found here https://pixelhumain.github.io/GoGoCartoJs/docs/configuration.html
  
  If you want to change something in the configuration, let's say the menu width, add a new parameter to bazarlist :
  {{ bazarliste id="2" template="gogocarto.tpl.html" menuwidth="500"}}
  Then you may to format or set defaults this new menuwidth parameter in BazarCarto::formatArguments
  So it will be available in this template with the code param['menuwidth']

  Then, find in gogocartoJs configuration how the property is defined. Here it's
  {
    menu: { width: 500 }
  }
  So edit, at the bottom of this file, the configuration given to GoGoCarto

  carto = goGoCarto('#gogo-map', {
    ....
    menu: { width: param['menuwidth'] }
    ...
  });

  Alternatively, for developers, they could provide a json configuration object url inside the "jsonconfurl" attribute, for example
  {{ bazarliste id="2" template="gogocarto.tpl.html" jsonconf="http://mysite/myCartoConf.json" }}
  This jsonconf will be merged with the template configuration (providing data, taxonomy etc...)

  TODO
  handle other params already used in map template : provider, latitude, longitude, zoom etc...
-->


<?php
  $GLOBALS['wiki']->AddCSSFile('styles/vendor/gogocarto/gogocarto.css', true);
?>

<div id="gogo-map<?php echo $param['nbbazarliste']; ?>"
         class="no-dblclick"
         style="<?php echo 'width:'.$param['width'].'; height:'.$param['height']; ?>"></div>

<script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.min.js"></script>

<script>
  // wiki data to display
  var data = <?php echo json_encode($fiches) ?>;
  // All param attached in bazarlist action
  var param = <?php echo json_encode($param) ?>;
  // facettes filters
  var filters = <?php echo json_encode($filters) ?>;

  // ----------------------------------------------------
  // Transform wiki data to better fit gogocarto ontology.
  // ----------------------------------------------------
  data = data.map(function(el) {
    el.taxonomy = []
    for(var i = 0; i < param['groups'].length; i++) {
      var value = el[param['groups'][i]];
      if (value) el.taxonomy = el.taxonomy.concat(value.split(','))
    }

    el.name = el.bf_titre;
    el.bf_titre = null;
    var result = {}
    for (var key in el) {
      var value = el[key]
      // remove attribute with empty value
      if (value) {
        // remove bf_ prefix
        if (key.indexOf('bf_') > -1) {
          var newkey = key.replace('bf_', '');
          result[newkey] = value;
        } else {
          result[key] = value;
        }
      }
    }
    return result
  });

  // -------------------------------------
  // Transform wikiTaxo into gogocartoTaxo
  // -------------------------------------
  var gogoTaxo = [];
  for (var categoryId in filters) {
    var wikiCat = filters[categoryId];
    let useIconForMarker = categoryId == param['iconfield']
    let useColorForMarker = categoryId == param['colorfield']
    var gogoCat = {
      name:  wikiCat.title,
      isMandatory: false,
      showExpanded: !wikiCat.collapsed,
      useIconForMarker: useIconForMarker,
      useColorForMarker: useColorForMarker,
      options: wikiCat.list.map(wikiOption => {
        let gogoOption = {
          name: wikiOption.label,
          id: wikiOption.value
        }
        if (useIconForMarker) gogoOption.icon = param['iconprefix'] + param['icon'][gogoOption.id]
        if (useColorForMarker) gogoOption.color = param['color'][gogoOption.id]
        return gogoOption;
      })
    }
    gogoTaxo.push(gogoCat);
  }

  // -------------------
  // Loads Configuration
  // -------------------
  var confReady = false; // sometime we need to download distant configuration
  gogoConf = {
    general: { activateHistoryStateAndRouting: false },
    language: 'fr',
    theme: 'flat',
    map: {
      defaultTileLayer: 'wikimedia',
    },
    data: {
      taxonomy: gogoTaxo,
      elements: data
    },
    fonts: {
      mainFont: 'Nunito'
    },
    features: {
      layers: {},
      mapdefaultview: {},
      searchCategories: {},
      searchElements: {},
      searchGeolocate: {},
      searchPlace: {}
    }
  }
  if (param['jsonconfurl']) {
    $.get(param['jsonconfurl'], function(distantConf) {
      gogoConf = { ...distantConf, ...gogoConf }
      confReady = true;
    });
  } else {
    confReady = true;
  }

  document.addEventListener("DOMContentLoaded",function() {
    // fix conflict bootstrap and materialize sue same function name
    $.fn.tooltip = function (options) { }
    $.fn.velocity = function (options) { }

    // Load gogocartoJs now (after jquery and bootstrap are already loaded) so there is no conflict
    var jsElm = document.createElement("script");
    jsElm.type = "application/javascript";
    jsElm.src = window.location.origin + window.location.pathname + "javascripts/vendor/gogocarto/gogocarto.js";
    document.body.appendChild(jsElm);

    // When everything is ready, starts gogocarto
    interval = setInterval(function() {
      if (goGoCarto != undefined && confReady) {
        carto = goGoCarto('#gogo-map<?php echo $param['nbbazarliste']; ?>', gogoConf)
        clearInterval(interval);
      }
    },100)
  })
</script>

<style>
  /* hide facettes cuase we are using GoGoCarto facette equivalent*/
  .facette-container .filters-col { display: none; }
  .facette-container .results-col { width: 100%; padding: 0 15px; }
  /* Fixs some style conflict */
  .gogo-load-css .gogo-theme-transiscope .iconInsideMarker-wrapper {
    background-color: transparent !important;
  }
  .gogo-load-css .subcategory-item.expanded .name-wrapper .arrow-after {
    border-color: transparent transparent #494745 transparent !important;
  }
  .gogo-load-css .subcategory-item:not(.expanded) .name-wrapper .arrow-after {
    border-color: #494745 transparent transparent transparent !important;
  }
  .gogo-load-css .gogocarto-container .subcategorie-option-item .icon:not(.fa) {
    line-height: 1.5;
  }
  .gogo-load-css .gogocarto-container .search-bar-autocomplete-results-container .label {
    display: inherit;
    padding: inherit;
    font-size: inherit ;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: inherit;
  }
</style>
