<form class="formulaire_identification" action="<?= $urldepart; ?>" method="post">
<input type="hidden" name="action" value="login" />
<input type="hidden" name="urldepart" value="<?= $urldepart; ?>" />
<span class="inscription_iden"><a href="<?= $urllogin; ?>&amp;vue=saisir" title="S'inscrire">> S'inscrire</a></span>
<span class="titre_identification">&nbsp;S'identifier</span>
<input name="name" class="input_iden" size="7" value="<?php if($name) : ?><?= htmlspecialchars($name) ?><?php endif; ?>" />&nbsp;
<input type="password" name="password" class="input_iden" size="7" />&nbsp;
<input type="hidden" name="remember" value="0" />
<input type="checkbox" id="remember" name="remember" value="1" />
<label for="remember">Retenir</label>
<input type="submit" class="bouton_iden" value="OK" />
</form>