<?php echo $info_res; ?>
<?php if (count($fiches)>0) : ?>
    <?php echo $pager_links;?>
    <div class="panel-group accordion-group no-dblclick" id="accordion<?php echo $param['nbbazarliste']; ?>">
    <?php
    foreach($fiches as $fiche): ?>
        <div class="bazar-entry panel panel-default collapsed" <?php echo $fiche['html_data'];?>>
          <button class="panel-heading collapsed" aria-expanded="false"
            data-target="#collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_typeannonce']; ?>_<?php echo $fiche['id_fiche']; ?>"
            data-toggle="collapse">
            <h4 class="panel-title">
              <?php
              $style = '';
              $color = getCustomValueForEntry(
                $param['color'],
                $param['colorfield'],
                $fiche,
                ''
              );
              if (!empty($color)) {
                echo '<span class="pellet" style="background-color:'.$color.';"></span> ';
              }
              $icon = getCustomValueForEntry(
                $param['icon'],
                $param['iconfield'],
                $fiche,
                ''
              );
              if (!empty($icon)) {
                echo '<i class="'.$icon.'"></i> ';
              } ?>

              <?php echo $fiche['bf_titre'];?> </h4>
              <?php if (isset($fiche['soustitre']) && !empty($fiche['soustitre'])) :
                  // format the text but remove tags except <br>
                  $soustitre = strip_tags($GLOBALS['wiki']->format($fiche['soustitre']), '<br>');
                  // if any <br> at the beginning, remove it
                  $soustitre = preg_replace('!^\s*<br */?>!i', '', $soustitre);
                  // replace the consecutives <br> by one
                  $soustitre = preg_replace('#(<br */?>\s*)+#i', '<br />', $soustitre); ?>
                  <small class='accordion-subtitle'>
                    <?php echo substr($soustitre, 0, 280) . (strlen($soustitre) > 280 ? '...' : ''); ?>
                  </small>
              <?php else : ?>
              <?php endif; ?>
          </button>
          <div id="collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_typeannonce']; ?>_<?php echo $fiche['id_fiche']; ?>" class="panel-collapse collapse">
            <div class="panel-body">
              <?php echo baz_voir_fiche($param['barregestion'], $fiche); ?>
            </div>
          </div>
        </div>
        <?php
    endforeach; ?>
    </div>
    <?php echo $pager_links; ?>
    <?php
endif;
