<?php echo $info_res; ?>
<?php if (count($fiches)>0) : ?>
    <?php echo $pager_links;?>
    <div class="panel-group accordion-group no-dblclick" id="accordion<?php echo $param['nbbazarliste']; ?>">
    <?php
    foreach($fiches as $fiche): ?>
        <div class="bazar-entry panel panel-default" <?php echo $fiche['html_data'];?>>
          <div class="panel-heading collapsed"
            data-target="#collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_fiche']; ?>"
            data-toggle="collapse">
            <h4 class="panel-title">
              <?php echo $fiche['bf_titre']; ?>
            </h4>
          </div>
          <div id="collapse<?php echo $param['nbbazarliste']; ?>_<?php echo $fiche['id_fiche']; ?>" class="panel-collapse collapse">
            <div class="panel-body">
              <?php echo baz_voir_fiche(true, $fiche); ?>
            </div>
          </div>
        </div>
        <?php
    endforeach; ?>
    </div>
    <?php echo $pager_links; ?>
    <?php
endif;
