<?php
$GLOBALS['js'] = ((isset($GLOBALS['js'])) ? $GLOBALS['js'] : '').  "<script type=\"text/javascript\" src=\"tools/bazar/libs/vendor/mixitup/jquery.mixitup.js\"></script> <script type=\"text/javascript\" src=\"tools/bazar/presentation/javascripts/facette.js\"></script>
<style>
.BAZ_cadre_map .BAZ_rubrique {
    display:none;
}
.BAZ_cadre_map .BAZ_titre {
    display:none;
}
#Grid {
    text-align: justify;
}
#Grid:after {
    content: \"\";
    display: inline-block;
    width: 100%;
}
#Grid .mix {
    display: none;
    margin-bottom: 20px;
    opacity: 0;
    width: 100%;
}
#Grid .gap {
    display: inline-block;
    width: 200px;
}


.drop_down ul {

}
.drop_down:hover ul {
    opacity: 1;
}



}
.controls {
    display: inline-block;
    margin: 0 0 30px;
    vertical-align: top;
}
.controls li {
    cursor: pointer;
    list-style-type: square;
    margin-left: 20px;
}
.controls li.active {
    font-weight: 700;
}
.group {
    display: inline-block;
}
.just {
    text-align: justify;
}
</style>
";


?>




<div class="span9">

<?php
if (!function_exists ('date_compare') ){
 function date_compare($a, $b)
  {
      $t1 = strtotime($a['date_maj_fiche']);
      $t2 = strtotime($b['date_maj_fiche']);
      return $t2 - $t1;
  }    
}

?>

<?php 



//print_r($GLOBALS['wiki']->GetParameter("groups"));
//exit;

// TODO recuperer les parametres automatiquement.


echo $GLOBALS['wiki']->Format("{{bazarcarto barregestion=\"false\" spider=\"true\" idtypeannonce=\"".$GLOBALS['wiki']->GetParameter('idtypeannonce')."\"  height=\"".$GLOBALS['wiki']->GetParameter('height')."\" zoom=\"".$GLOBALS['wiki']->GetParameter('zoom')."\" lat=\"".$GLOBALS['wiki']->GetParameter('lat')."\" lon=\"".$GLOBALS['wiki']->GetParameter('lon')."\"  liste=\"false\" titles=\"".$GLOBALS['wiki']->GetParameter('titles')."\" groups=\"".$GLOBALS['wiki']->GetParameter('groups')."\" facette=\"true\"}}"); ?>
</div>

<div class="span2">

    <div class="controls just">
      <div id="Filters" class="group">
       
          <?php if( count($filters)>0 ) :?>
          <?php $it=0; ?>
          <?php foreach($filters as $filter): ?>
          <div class="drop_down">
            <span>
            <?php echo $titles[$it]; ?>
            </span>        
            <ul>
            <?php // // echo "<li data-dimension =\"".$groups[$it]."\" data-filter=\"all\">"."Tout"."</li>"; ?>
            
            <?php foreach($filter as $filter_key=>$filter_value): ?>
                    <?php echo "<li data-dimension =\"".$groups[$it]."\" data-filter=\"".trim(preg_replace('/\W+/','',strtolower(strip_tags($filter_key))))."\">".$filter_key." (".$filter_value.")"."</li>"; ?>
            <?php endforeach; ?>
            </ul>
          </div>
            <?php $it++; ?>
          <?php endforeach; ?>
          <?php endif; ?>
      </div>
    </div>
</div>




<ul id="Grid">
<?php $i=0;?>
<?php if( count($fiches)>0 ) : ?>
        <?php foreach($fiches as $fiche): ?>
          <?php echo "<li style=\"opacity: 0;\" id=\"marker".$i."\" class=\"mix ".$fiche['categorie']."\">"; ?>
                  <div class="tabbable">
                     <ul class="nav nav-tabs">
           
                     <li class="active"><a href="#<?php echo $fiche['id_fiche']?>" data-toggle="tab">
                    <?php
                     //echo $fiche['bf_titre']; 
                      echo "Le site"; 
                     ?>
                     </a></li>

                     <?php if (count($fiche['ficheliees'])>0 ) { ?>
                   

                         <?php $disciplines= liste_to_array("ListeDisciplines");  ?>
                         <?php foreach ($fiche['ficheliees'] as $ficheliees) { ?>                        
                                    <?php 
                                    if ($disciplines[$ficheliees['listeListeDisciplines']]!="") { ?>
                                      <li><a href="#<?php echo $ficheliees['id_fiche']?>" data-toggle="tab">
                                      <?php
                                      echo $disciplines[$ficheliees['listeListeDisciplines']]; ?>
                                      </a></li>
                                      <?php
                                    }
                                    ?>
                                    
                        <?php } ?>    
                        

                                    <li><a href="#<?php echo $fiche['id_fiche']?>evenenements" data-toggle="tab">Observations ponctuelles</a>
                                    </li>
                    <?php } ?>         
                    </ul> 


                        <div class="tab-content">
                             <div class="tab-pane active" id="<?php echo $fiche['id_fiche']?>">
                                            <?php echo $fiche['html']; ?>
                             </div>
                              <?php if( count($fiche['ficheliees'])>0 ) { ?>
                                 <?php foreach ($fiche['ficheliees'] as $ficheliees) { ?>

                                      <?php if ($disciplines[$ficheliees['listeListeDisciplines']]!="") { ?>
                                      <div class="tab-pane" id="<?php echo $ficheliees['id_fiche']?>">
                                                    <?php echo $ficheliees['html']; ?>
                                                    
                                      </div>
                                        <?php } ?>   
                                  <?php } 
                                   usort($fiche['ficheliees'], 'date_compare');// antechronologique
                                   ?>   
                                     <div class="tab-pane" id="<?php echo $fiche['id_fiche']?>evenenements">

                                   <?php $cpt=0; ?>

                                   <?php foreach ($fiche['ficheliees'] as $ficheliees) { ?>

                                      <?php if ($ficheliees['listeListeDisciplines']=="") { ?>
                                                    <?php echo $ficheliees['html'];?>
                                            <?php 
                                            $cpt++;
                                            if ($cpt>="3") {
                                                    break;
                                            }
                                            ?>

                                      <?php } ?>   
                                    
                                   <?php } ?>   
                                   </div>
                                   
  
                                     
                                 
                             <?php } ?>               
                        </div>
                </div> <!-- /.tabbable --> 
         <?php echo "</li>";?>
         <?php $i++; ?>
        <?php endforeach; ?>
<?php endif; ?>
</ul>
