<?php if( count($fiches)>0 ) : ?>
<div>
<?php foreach($fiches as $fiche): ?>
<div class="bulle">
<a href="<?php echo $fiche['valeurs_fiche']["url"];?>" onclick="window.open(this.href); return false;" title="Aller sur le site" class="agauche"><img src="http://www.robothumb.com/src/<?php echo $fiche['valeurs_fiche']["url"];?>@180x135" width="180" height="135" alt="vignette du site" /></a>
<a href="<?php echo $fiche['valeurs_fiche']["url"];?>" onclick="window.open(this.href); return false;" class="titre_lien" title="Aller sur le site"><?php echo $fiche['valeurs_fiche']["bf_titre"];?></a>
<?php echo $fiche['valeurs_fiche']["description"];?><br />
<span style="font-weight:bold;">Mot cl&eacute;s : </span><?php echo $fiche['valeurs_fiche']['tags'];?><br />
<span class="liens_titre_accordeon">
<?php echo $fiche['lien_voir'];?>
<?php if( isset($fiche['lien_edition']) ) : ?><?php echo $fiche['lien_edition'];?><?php endif; ?>
<?php if( isset($fiche['lien_suppression']) ) : ?><?php echo $fiche['lien_suppression'];?><?php endif; ?>
</span>
<div class="alaligne"></div>
</div>
<?php endforeach; ?>
<a href="http://www.robothumb.com" style="display:block;margin:10px 0;font-size:.8em;color:#BBB;">Vignettes g&eacute;n&eacute;r&eacute;es par Robothumb</a>
</div>
<?php endif; ?>
