<?php
$GLOBALS['js'] = ((isset($GLOBALS['js'])) ? $GLOBALS['js'] : '').  "<script type=\"text/javascript\" src=\"tools/bazar/libs/vendor/mixitup/jquery.mixitup.min.js\"></script> <script type=\"text/javascript\" src=\"tools/bazar/presentation/javascripts/facette.js\"></script>
<style>
#Grid {
    font-size: 0.1px;
    text-align: justify;
    width: 640px;
}
#Grid:after {
    content: \"\";
    display: inline-block;
    width: 100%;
}
#Grid .mix {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #FFFFFF;
    display: none;
    font-size: 30px;
    margin-bottom: 20px;
    opacity: 0;
    text-align: center;
    vertical-align: top;
    width: 200px;
}
#Grid .gap {
    display: inline-block;
    width: 200px;
}
.drop_down {
    background: none repeat scroll 0 0 #C3BDB8;
    border-radius: 3px 3px 3px 3px;
    color: #F9F6F0;
    cursor: pointer;
   // display: inline-block;
    height: 31px;
    line-height: 30px;
    margin-right: 10px;
    padding: 0 8px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 107px;
}
.drop_down {
    width: 200px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #C3BDB8;
    letter-spacing: 2px;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
    z-index: 999;
}
.drop_down span {
    padding-right: 20px;
    position: relative;
}
.drop_down span:after, .drop_down span:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C3BDB8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 7px 6px 6px;
    content: \"\";
    display: block;
    position: absolute;
    right: 3px;
    top: 8px;
}
.drop_down span:before {
    border-top-color: #F9F6F0;
    top: 6px;
    z-index: 10;
}
.drop_down:hover span:after {
    border-top-color: #333333;
}
.drop_down ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 0;
    min-width: 200px;
    opacity: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: -3px;
    text-align: right;
}
.drop_down:hover ul {
    max-height: 300px;
    opacity: 1;
}
.drop_down:hover span {
    color: #333333;
}
.drop_down li {
    color: #808080;
    display: block;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: none;
    transition: all 150ms ease 0s;
}

.drop_down li:after {
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    content: \"\";
    display: inline-block;
    height: 10px;
    margin-left: 6px;
    position: relative;
    top: 1px;
    width: 10px;
}
.drop_down li:last-of-type {
    margin: 0;
}
.drop_down li:hover {
    color: #59514C;
}
.drop_down li.active {
    color: #E96D51;
    font-weight: 400;
}
.drop_down li.active:after {
    background: none repeat scroll 0 0 #E96D51;
    border-color: #E96D51;
}
.controls {
    display: inline-block;
    margin: 0 0 30px;
    vertical-align: top;
}
.controls li {
    cursor: pointer;
    list-style-type: square;
    margin-left: 20px;
}
.controls li.active {
    font-weight: 700;
}
.group {
    display: inline-block;
}
.just {
    text-align: justify;
}
</style>
";


?>



<div class="controls just">
  <div id="Filters" class="group">
   
      <?php if( count($filters)>0 ) :?>
      <?php $it=0; ?>
      <?php foreach($filters as $filter): ?>
      <div class="drop_down">
        <span>
        <?php echo $titles[$it]; ?>
        </span>
        <ul>
        <?php foreach($filter as $filter_key=>$filter_value): ?>
                <?php echo "<li data-dimension =\"".$groups[$it]."\" data-filter=\"".preg_replace('/\W+/','',strtolower(strip_tags($filter_key)))."\">".$filter_key." (".$filter_value.")"."</li>"; ?>
        <?php endforeach; ?>
        </ul>
      </div>
        <?php $it++; ?>
      <?php endforeach; ?>
  </div>
</div>


<?php 



echo $GLOBALS['wiki']->Format("{{bazarcarto height=\"".$GLOBALS['wiki']->GetParameter('height')."\" zoom=\"".$GLOBALS['wiki']->GetParameter('zoom')."\" lat=\"".$GLOBALS['wiki']->GetParameter('lat')."\" lon=\"".$GLOBALS['wiki']->GetParameter('lon')."\"  liste=\"false\" titles=\"".$GLOBALS['wiki']->GetParameter('titles')."\" groups=\"".$GLOBALS['wiki']->GetParameter('groups')."\"}}"); ?>

<ul id="Grid">
<?php echo $info_res;?>
<?php $i=0; ?>
<?php if( count($fiches)>0 ) : ?>
      <div class="accordion">                                                         
  <?php foreach($fiches as $fiche): ?>
              <?php echo "<li id=\"marker".$i."\" class=\"mix ".$fiche['categorie']."\">"; ?>
                                                                                                 
<h2 class="titre_accordeon">
  <?=$fiche['bf_titre'];?>
  <span class="liens_titre_accordeon">
    <?=$fiche['lien_voir'];?>
  </span>
</h2>
<div class="pane">
<?=$fiche['html'];?>
<div class="clear"></div>
              <?php echo "</li>";?>

   <?php $i++; ?>
  <?php endforeach; ?>
  </div>
<?php echo $pager_links;?>
<?php endif; ?>
</ul>
</div>
	
    
<?php endif; ?>