<?php
if(count($fiches)>0) : ?>
    <?php echo $info_res;?>
    <?php echo $pager_links;?>
    <ul class="BAZ_liste">
    <?php
    foreach($fiches as $fiche): ?>
        <li class="bazar-entry" <?php echo $fiche['html_data'];?>>
          <a href="<?php echo $GLOBALS['wiki']->href('', $fiche['id_fiche']); ?>">
            <?php echo $fiche['bf_titre']; ?>
          </a>
          <?php 
        if ($GLOBALS['wiki']->HasAccess("write")) : ?>
            <a href="<?php echo $GLOBALS['wiki']->href('edit', $fiche['id_fiche']); ?>"
               class="btn btn-default btn-xs btn-mini">
              <i class="glyphicon glyphicon-pencil icon-pencil"></i>
            </a>
            <?php
        endif; ?>
        <?php
        if ($GLOBALS['wiki']->UserIsAdmin() || $GLOBALS['wiki']->UserIsOwner()) : ?>
            <a href="<?php echo $GLOBALS['wiki']->href('deletepage', $fiche['id_fiche']); ?>"
               class="btn btn-danger btn-xs btn-mini">
              <i class="glyphicon glyphicon-trash icon-trash icon-white"></i>
            </a>
            <?php
        endif; ?>
        <?php
    endforeach; ?>
    </ul>
    <?php echo $pager_links;?>
    <?php
endif;
