<div class="row row-fluid">
	<div class="span3 col-md-3">
	<?php echo $open;?>

	<?php if( count($checkboxes)>0 ) :?>
		<button class="btn btn-success" value=\"Go\"><?php echo _t('BAZ_RECHERCHER'); ?></button>
		<?php foreach($checkboxes as $checkbox): ?>
			<?php foreach($checkbox as $element_checkbox): ?>
				<?php if (isset($element_checkbox['title']) ) : ?>
					<h5> <?php echo $element_checkbox['title'];?>:</h5>	 
				<?php else: ?>
					<?php echo $element_checkbox['content'];?> 
					<br/>
				<?php endif; ?>	
			<?php endforeach; ?>
		<?php endforeach; ?>
		<br/>
		<button class="btn btn-success" value=\"Go\"><?php echo _t('BAZ_RECHERCHER'); ?></button>
	<?php endif; ?>
	<?php echo $close;?>
	</div> <!-- /.span3 -->
	<div class="span9 col-md-9">
		<?php echo $info_res;?>
		<?php if (isset($fiches) && count($fiches)>0 ) : ?>
			<?php if( isset($GLOBALS['numaccordion'])) { $GLOBALS['numaccordion']++; } else { $GLOBALS['numaccordion'] = 1; }; ?>
			<div id="accordion<?php echo $GLOBALS['numaccordion'];?>" class="accordion">
			<?php foreach($fiches as $fiche): ?>
				<div class="accordion-group">
				  <div class="accordion-heading">
				    <a href="#collapse<?php echo $fiche['id_fiche']; ?>" data-toggle="collapse" class="accordion-toggle">
				      <?php echo $fiche['bf_titre']; ?>
				    </a>
				  </div> <!-- /.accordion-heading -->
				  <div class="accordion-body collapse" id="collapse<?php echo $fiche['id_fiche']; ?>">
				    <div class="accordion-inner">
				      	<?php echo $fiche['html'];?>
				      	<div class="footer-buttons">
							<a href="<?php echo $GLOBALS['wiki']->href('',$fiche['id_fiche']);?>" class="btn btn-primary"><i class="icon-eye-open icon-white"></i>&nbsp;<?php echo _t('TEMPLATE_VIEW_PAGE');?></a>
							<div class="pull-right">
								<?php if ($GLOBALS['wiki']->HasAccess("write")) : ?>
								<a href="<?php echo $GLOBALS['wiki']->href('edit', $fiche['id_fiche']); ?>" class="btn btn-default"><i class="icon-pencil"></i></a>
								<?php endif; ?>
								<?php if ($GLOBALS['wiki']->UserIsAdmin() || $GLOBALS['wiki']->UserIsOwner()) : ?>
								<a href="<?php echo $GLOBALS['wiki']->href('deletepage', $fiche['id_fiche']); ?>" class="btn btn-danger"><i class="icon-trash icon-white"></i></a>
								<?php endif; ?>
							</div>
							<div class="clearfix"></div>
				        </div> <!-- /.footer-buttons -->
				    </div> <!-- /.accordion-inner -->
				  </div> <!-- /.accordion-body -->
				</div> <!-- /.accordion-group -->
			<?php endforeach; ?>
			</div> <!-- /#accordion<?php echo $GLOBALS['numaccordion'];?> -->
			<?php echo $pager_links;?>
		<?php endif; ?>
	</div>  <!-- /.span9 -->	
</div> <!-- /.row -->
