<?php echo $info_res; ?>
<?php
if (count($fiches)>0) :
    echo $pager_links;
    $GLOBALS['wiki']->AddCSSFile('tools/bazar/libs/vendor/leaflet/leaflet.css');
    $GLOBALS['wiki']->AddCSSFile('tools/bazar/libs/vendor/leaflet/leaflet.ie.css', '<!--[if lte IE 8]>', '<![endif]-->');
    ?>

    <div id="osmmap<?php echo $GLOBALS['nbbazarliste']; ?>"
         class="no-dblclick"
         style="<?php echo 'width:'.$param['width'].'; height:'.$param['height']; ?>"></div>
    <?php
    $tablinktitle = array();
    $markersjs = '';
    $i = 0;
    foreach ($fiches as $fiche) :?>
        <?php

        // couleur de marqueur
        $markercolor = getCustomValueForEntry($param['markercolor'], $param['markercolorfield'], $fiche, BAZ_MARKER_COLOR);
        
        //icone de marqueur
        $markericon = $param['markericonprefix']
            .getCustomValueForEntry($param['markericon'], $param['markericonfield'], $fiche, BAZ_MARKER_ICON);

        $tab = explode('|', $fiche['carte_google']);
        if (count($tab)>1 && $tab[0]!='' && $tab[1]!='' && is_numeric($tab[0]) && is_numeric($tab[1])) {
            // on genere le point marqueur sur la carte
            $markersjs .= '
            i++;
            var markerLocation = new L.LatLng('.$tab[0].', '.$tab[1].');
            marker[i] = new L.Marker(
                markerLocation,
                {
                    icon: L.divIcon({
                        iconSize: '.$param['iconSize'].',
                        iconAnchor: '.$param['iconAnchor'].',
                        popupAnchor: '.$param['popupAnchor'].',
                        className: \'bazar-marker'.$param['smallmarker'].'\',
                        html: \'<div class="bazar-entry icon-'.$markercolor.'" '
                        .$fiche['html_data'].'>'
                        .(!empty($markericon) ? '<i class="'.$markericon.'"></i>' : '')
                        .'</div>\'
                    }),
                    title: \''.addslashes($fiche['bf_titre']).'\'
                });
            map.addLayer(marker[i]);
            marker[i].bindPopup(\''.preg_replace("(\r\n|\n|\r|)", '', addslashes($fiche['html'])).'\');
            ';
            $i++;
        }
    endforeach; ?>
    <?php
    $GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/bazar.js');
    $GLOBALS['wiki']->AddJavascriptFile('tools/bazar/libs/vendor/leaflet/leaflet.js');
    $GLOBALS['wiki']->AddJavascript(
        '// Init leaflet map
    var map = new L.Map(\'osmmap'.$GLOBALS['nbbazarliste'].'\', {
        scrollWheelZoom:'.$param['zoom_molette'].',
        zoomControl:'.$param['navigation'].',
        iconAnchor:   [6, 20]
    });

    var OsmLayer = new L.TileLayer(\'http://{s}.tile.osm.org/{z}/{x}/{y}.png\', {maxZoom: 18, attribution: \'\'});
    map.setView(new L.LatLng('.$param['latitude'].', '.$param['longitude'].'), '.$param['zoom'].').addLayer(OsmLayer);

    var i = 0;
    var marker = Array();
    '.$markersjs
    );
    echo $pager_links;
    ?>
    <?php
endif;
