<?php $GLOBALS['wiki']->AddCSSFile('tools/bazar/presentation/styles/trombinoscope.css'); ?>
<?php if (count($fiches)>0) : ?>
	<div class="trombi-container">
  <?php foreach ($fiches as $fiche) : ?>
    <a class="bazar-entry modalbox" <?php echo $fiche['html_data'];?>
       href="<?php echo $fiche['url']
        // add /iframe only for external YesWiki entries
        .(
          (isset($fiche['external-data']))
          ? '/iframe" data-iframe="1"' // title used by iframe
          : '"'
        ); ?>
       title="<?php echo htmlentities($fiche['bf_titre']);?>">

      <div class="image-container">
        <?php if (isset($fiche['imagebf_image']) && $fiche['imagebf_image']!='') : ?>
          <img class="trombi-image" alt="<?php echo htmlentities($fiche['bf_titre']);?>"
               src="<?php echo (isset($fiche['external-data']))
                    ? $fiche['external-data']['baseUrl'] . 'cache/image_300_300_'.$fiche['imagebf_image']
                    : redimensionner_image(
                    'files/'.$fiche['imagebf_image'],
                    'cache/image_300_300_'.$fiche['imagebf_image'],
                     300, 300, 'crop'); ?>" <?php echo (isset($fiche['external-data']))
                ? 'onerror="this.src=\''.$fiche['external-data']['baseUrl'].'files/'.$fiche['imagebf_image'].'\'"'
                : ''
              ;?>>
        <?php else : ?>
          <img class="trombi-image img-placeholder"
               src="tools/bazar/libs/vendor/placeholder.php?size=300x300&amp;bg=efefef&amp;text=">
          <i class="trombi-image icon-placeholder fa fa-user-circle"></i>
        <?php endif; ?>
      </div>

      <div class="caption trombi-content">
        <span class="title"><?php echo $fiche['bf_titre'];?></span>
      </div>
		</a> <!-- / bazar-entry -->
  <?php endforeach; ?>
  </div> <!-- / trombi-container -->
<?php endif; ?>
<?php echo $pager_links;?>