.bazar-date,
.bazar-date.yw-input {
  width: 133px;
}

.yw-form-group.input-listedatedeb .controls,
.yw-form-group.input-listedatefin .controls,
.yw-form-group.input-jour .controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
}

.yw-form-group.input-listedatedeb .select-time,
.yw-form-group.input-listedatefin .select-time,
.yw-form-group.input-jour .select-time {
  margin-left: 0 !important;
}

@media (width <= 600px) {
  .yw-form-group.input-listedatedeb .select-time,
  .yw-form-group.input-listedatefin .select-time,
  .yw-form-group.input-jour .select-time {
    width: 100%;
    margin: 0;
  }
}

.select-hour,
.select-minutes {
  width: 76px !important;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='date']::input-placeholder {
  visibility: hidden !important;
}

.input-group.date .input-group-addon {
  cursor: pointer;
}
.input-daterange {
  width: 100%;
}
.input-daterange input {
  text-align: center;
}
.input-daterange input:first-child {
  border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
  border-radius: 0 3px 3px 0;
}
.input-daterange .input-group-addon {
  width: auto;
  min-width: 16px;
  padding: 4px 5px;
  line-height: 1.42857143;
  text-shadow: 0 1px 0 #fff;
  border-width: 1px 0;
  margin-left: -5px;
  margin-right: -5px;
}

/* -------------------------------------------------------------------------- */
/*                               DATE RECURRENT                               */
/* -------------------------------------------------------------------------- */
div.yw-input.for-selector-is-recurrent {
  height: auto;
  max-width: 100%;
}

div.yw-input.for-selector-is-recurrent > .input-prepend.input-group {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.yw-form-group.input-listedatedeb .specific-for-recurrence,
.yw-form-group.input-listedatefin
  .specific-for-recurrence
  .yw-form-group.input-jour
  .specific-for-recurrence {
  align-self: flex-start;
}

.yw-form-group.input-listedatedeb
  .specific-for-recurrence
  span.add-on.input-group-addon,
.yw-form-group.input-listedatefin
  .specific-for-recurrence
  span.add-on.input-group-addon,
.yw-form-group.input-jour
  .specific-for-recurrence
  span.add-on.input-group-addon {
  width: auto;
  display: flex;
}

.input-recur-date .specific-for-recurrence {
  max-width: 100%;
}

.input-recur-date.yw-form-group > .controls {
  gap: 1rem 1rem;
  flex-wrap: wrap;
}

.input-recur-date.yw-form-group .for-selector-is-recurrent > .input-group {
  flex-wrap: wrap;
}

.input-recur-date.yw-form-group
  .for-selector-is-recurrent
  > .input-group
  select.yw-input {
  max-width: 80%;
  width: auto;
}

.input-recur-date:not(.ready) .specific-for-recurrence,
.input-recur-date:not(.ready) .event-container-for-datepicker {
  display: none !important;
}

.input-recur-date .event-container-for-datepicker {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.input-recur-date .event-container-for-datepicker .limit-date-hint {
  max-width: 250px;
}
