{% block pagination %}
  <ul class="pagination" v-if="params.pagination && entriesToDisplay.length > 0 && pages.length > 1">
    <li @click="currentPage = 0" :class="{disabled: currentPage == 0}">
      <i class="fa fa-chevron-left"></i>
    </li>
    <template v-for="page in pages">
      <li v-if="page == 'divider'">...</li>
      <li v-else :class="{active: currentPage == page}" @click="currentPage = page">
        {{"{{ page + 1 }}"}}
      </li>
    </template>          
    <li @click="currentPage = pages.length - 1" :class="{disabled: currentPage == pages.length - 1}">
      <i class="fa fa-chevron-right"></i>
    </li>
  </ul>
{% endblock %}