.type-modif-container label {
  display: block;
}

td > label {
  line-height: 0;
  vertical-align: middle;
  padding-left: 10px;
  margin: 0;
  width: 20px;
}

input[name=theme_modifier], input[name=geredroits_modifier] {
  width: 100%;
  display: block;
}

.btn-edit-group, .btn-create-group {
  margin-left: 10px;
}

label.edit-group strong {
  text-transform: uppercase;
  color: var(--primary-color);
}