pre.precsv {
  height: 140px;
  white-space: pre;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#btn-import-forms, #btn-import-lists {
  height: 2.7rem;
  padding: 0 14px;
  border: none;
  margin-left: -5px;
}

/* display fiche */

.BAZ_fiche_titre {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}
.BAZ_fiche_titre:after {
  content: "";
  background-color: var(--primary-color);
  content: "";
  flex: 1;
  height: 12px;
  border-radius: 12px;
  margin-left: 2rem;
}

.BAZ_label {
  color: var(--primary-color);
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: 600 !important;
}
.panel-body .BAZ_label {
  color: var(--neutral-color);
  margin: 0;
  font-size: 1rem;
  font-weight: bold !important;
}
.BAZ_cadre_fiche a[data-id=bf_image] {
  float: right;
  padding: 0 0 20px 20px;
  width: 30%;
}
.BAZ_cadre_fiche a[data-id=bf_image] img {
  width: 100%;
}