/*
 * Webfont
 */
 /* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../../fonts/nunito-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/nunito-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-600 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
       url('../../fonts/nunito-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/nunito-v11-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* nunito-800 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
       url('../../fonts/nunito-v11-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/nunito-v11-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*
* Main styles
*/

html, body { /* define also html so we can use rem */
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: var(--main-text-fontsize);
  font-family: var(--main-text-fontfamily);
}

/* background color of selected text */
*::selection {
   background: var(--main-selected-text-bg);
}
*::-moz-selection {
   background: var(--main-selected-text-bg);
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin-bottom: .5em;
  margin-top: .5em;
  font-weight: 800;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: -.5px;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

br + h1, br + h2 {
  margin-top: .2em;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
}
a:focus, a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
a.yeswiki-editable .icon-edit {
  font-size: .8rem;
  margin-left: 2px;
}
pre {
  color: inherit;
}
img {
  border-radius: 3px;
}