/* Conteneur principal de la page Wiki */

#yw-container {
  background-color: var(--main-container-bg-color);
  margin: var(--main-container-margin);
  -moz-border-radius: var(--main-container-border-radius);
  -webkit-border-radius: var(--main-container-border-radius);
  border-radius: var(--main-container-border-radius);
  width: var(--main-container-width);
  -moz-box-shadow: var(--main-container-box-shadow);
  -webkit-box-shadow: var(--main-container-box-shadow);
  box-shadow: var(--main-container-box-shadow);
}

#yw-container .container {
  max-width: var(--main-container-width);
}

.page .background-image {
  position: relative;
  left: var(--section-background-image-position);
  right: var(--section-background-image-position);
  width:var(--section-background-image-width);
  margin-left: var(--section-background-image-margin);
  margin-right: var(--section-background-image-margin);
}


/* Partie centrale de la page Wiki */
#yw-main {
  padding-top: 1.5rem;
  position: relative;
  min-height: 400px;
}
#yw-main .container {
  max-width: var(--main-container-text-width);
}
@media (max-width: 992px) {
  #yw-main .container { width: 100% !important; }
  #yw-main { padding-top: 1rem; }
}

