.day, .day_name, table.cal_content th {
	border: solid 1px white;
	font-size: 12px;
	height: 30px;
	background: url(../images/blanc.png) repeat;
	vertical-align: middle;
	text-align: center;
}
.day_name {
	font-weight:bold;
}

.day.evday {
	background: url(../images/bleu.png) repeat;
	color: white;
	}
	
.day.today {
	background: url(../images/rouge.png) repeat;
	color: white;
	}

.day:hover {
	background-color: black;
	color: white;
}

.title, .title a {
	font-size: 110%;
	font-weight: bold;
	color: black;
	background : url(../images/blanc.png) repeat;		
}

.calendar {
	width: 224px;
	font-size: 11px;
	background-color: #A3C437;
	border: 0px solid #787878;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 4px;
	padding-bottom: 15px;
	margin: auto;
	color: black;	
}

table.cal_content {
	width: 100%;
}

table.cal_content th{
	text-align: center;
}

.events {
	max-width: 224px;
	display: none;
	color: black;
	
}

.day:hover .events {
	position: absolute;
	display: block;
	color: white;
	margin-left: 10px;
	padding: 0px 10px;
	background: #A3C437 repeat url(../images/blanc.png);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 1Opx;
	border: 1px solid black;
	
}

.events p {
	float: none;
}

.event_title  {
	text-align: left;
	font-weight: bold;
	color: black;
}

.event_info {
	color: black;
	float: left;
}

.cal_now {
	color: black;
}

.cal_prev {
	color: black;
}

.cal_next {
color: black;
}

.cal_entete {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	width: auto;
	height: 20px;
	background: url(../images/blanc.png) repeat;
	position: relative;
}

.cal_contenu {
	width: 100%;
}

ul.select {
	display: none;
	list-style: none;
}

li.list:hover ul.select {
	display: block;
	position: absolute;
	color: black;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.select a {
	color: black;
}

.select a:hover {
	color: black;
	text-decoration: none;
}

.select li {
	padding-left: 5px;
	padding-right: 5px;
	list-style: none;
}

.select li:hover {
	background: url(../images/blanc.png) repeat;
}

.select_item {
	list-style: none;	
}

.select_date {
	list-style: none;
	width: 140px;
	display: block;
	margin: 0 auto;
	padding: 4px O O O;
}

.select {
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
}

.list { float: left; padding: 0px 2px; list-style: none;}

.list li { float: none; clear: left;}

