<head>
  <meta name="viewport" content="width=device-width" />

  <title>Documentation</title>

  <link rel="stylesheet" href='styles/vendor/docsify/vue.min.css'>
  <link rel="stylesheet" href='styles/documentation.css'>
</head>

<body>
  <div id="app"></div>

  <script>
    var locale = "{{ config.default_language }}";
    var baseUrl = "{{ config.base_url }}";
    var i18n = {{ i18n|raw }};
  </script>

  <script src="javascripts/vendor/docsify/docsify.min.js"></script>
  <script src="javascripts/documentation.js"></script>
  <script src="javascripts/vendor/docsify/plugins/search.min.js"></script>
  <script src="javascripts/vendor/docsify/plugins/zoom-image.min.js"></script>
  <script src="javascripts/vendor/docsify/plugins/docsify-copy-code.min.js"></script>
</body>
</html>
