<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width" />

  <title>Documentation</title>

  <link rel="stylesheet" href='styles/vendor/docsify/vue-theme-modified.min.css'>
  <link rel="stylesheet" href='styles/documentation.css'>
</head>

<body>
  <div id="app"></div>

  <script>
    var locale = {{ locale|json_encode|raw }};
    var baseUrl = {{ config.base_url|json_encode|raw }};
    var i18n = {{ i18n|json_encode|raw }};
    var extensions = {{ extensions|json_encode|raw }};
  </script>

  <script src="javascripts/vendor/docsify/docsify.min.js"></script>
  <script src="javascripts/vendor/lazysizes/lazysizes.min.js"></script>
  <script src="javascripts/documentation.js"></script>
  <script src="javascripts/vendor/docsify/plugins/search.js"></script>
  <script src="javascripts/vendor/docsify/plugins/zoom-image.min.js"></script>
  <script src="javascripts/vendor/docsify/plugins/docsify-copy-code.min.js"></script>
</body>
</html>
