body {
	margin: 0;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: .8em;
	text-align:center;
	background:#FFF;
}


p {
	line-height: 17px;
	margin: 11px 0 10px 0;
	padding: 0;
}

h1,h2,h3,h4,h5 {clear:both;}

h1 {
	background:transparent url(../images/puce_titre1.png) no-repeat top left;
	color: #a8c62a;
	margin:0 0 14px 0;
	padding:10px 0 10px 60px;
	font-size:1.7em;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

h2 {
	background: #5fafc8;
	color: #FFF;
	margin:0 0 10px 0;
	padding:2px 6px;
	font-size:1.4em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

h3 {
	font-size:1.4em;
	color: #dd4715;
	padding:13px 0 3px 0;
	margin:0 0 15px 0;

	border-bottom:2px solid #dd4715;
}

.toggler {cursor:pointer;}
.toggler:hover {background-color: #e89326;}

h4 {
	color: #a8c62a;
	margin:0 0 3px 0;
	padding:0;
	font-size:1.3em;
	font-weight:bold;
}

h5, h5 a {
	width:100%;
	margin:0 0 2px 0;
	padding:0;
	font-size:1.2em;
	color: #000;
}

a {
	color: #dd4715;
	text-decoration: none;
	font-weight:bold;
}

a:hover {
	text-decoration: underline;
}

hr {
	clear:both;
	margin:5px 0;
	color: #FFF;
	background-color: transparent;
	height: 1px;
	border: 0;
	width:100%;
}

img {border:0;}

input, textarea {
	margin:1px;
	font-size:1em;
}

textarea {width:100%;}
.colonnemilieu textarea {width:490px;}
.del {text-decoration:line-through;}
.attach_left {float:left; margin:0 10px 0 0;}
.attach_right {float:right; margin:0 0 0 10px;}
.attach_center {display:block; margin: 0 auto; width:100%; text-align:center;}
.trail_table { line-height: 30px;}
.trail_button { color: #993333; }
.commentsheader {display:none;}
.hr_clear {display:none;}
.footer {margin:0 0 0 220px; text-align:left;}
.footer input {width:50px; border:1px solid #931157;}
span.missingpage {display:inline;}

/**** Main Container ***/
#conteneur {
	text-align: left;
	width: 959px;
	background:#FFF;
	border: 1px solid #000;
	color: #000;
	margin:20px auto;
	position:relative;
}

/**** Top ***/
#top {background:#FFF url(../images/fond_haut_page.png) repeat-y top left; display:block; height:185px; width:959px;}

#titre_banniere {z-index:20; position:absolute; top:10px; right:30px; background:transparent url(../images/orblr-titre.gif) no-repeat top left; width:466px; height:30px;}
#banniere {
	float: right;
	width: 700px;
	height: 150px;
	color: #000;
	background:#FFF;
}

#banniere img {
    position:absolute;
    top:0;
    right:0;
    z-index:8;
    opacity:0.0;
}

#banniere img.active {
    z-index:10;
    opacity:1.0;
}

#banniere img.last-active {
    z-index:9;
}

#logo {float:left; display:block; width:236px; height:165px; margin:0 0 10px 0; background:url(../images/logo.png) no-repeat top left; }
#logo:hover {text-decoration:none;}

#recherche {float:right; text-align:right; margin:8px 20px 0 0; width:220px; color:#FFF;}
#recherche form {display:inline;}
.titre_rechercher {font-size:1em;font-weight:bold;display:inline;}
.input_rech {width:90px;border:1px solid #e3c2d3;font-size:.9em;}
.bouton_rech {background:#dc4818; color:#FFF; border:0; width:25px; font-weight:bold; font-size:.9em; text-transform:uppercase;}

#menu_haut {
	float:right;
	color:#FFF;
	font-weight:bold;
	text-align:right;
	margin:9px 10px 0 0;
	padding:0;
	background:transparent;
}
#menu_haut a {color:#FFF; font-weight:bold; font-size:1em;}
#menu_haut ul {margin:0; padding:0;}
#menu_haut li {margin:0 6px; padding:0; display:block; float:left;}
#menu_haut ul ul {display:none;}

/**** colonne gauche ***/
#colonne_gauche {
	width:194px;
	float:left;
}

#menu_gauche {
	color:#000;
	margin:20px 0;
	padding:10px 0;
	width:194px;
	background:#a8c62a;
}
#menu_gauche a {color:#47221a; margin:0; padding:7px 0 7px 10px; width:184px; display:block; }
#menu_gauche a:hover {text-decoration:none; background:#dd4715; color:#000;}
#menu_gauche ul {margin:0; padding:0;}
#menu_gauche li {list-style-type:none; margin:0; padding:0;}
#menu_gauche ul ul {position:relative;height:101%;background:#dd4715; margin:0; padding:0;}
#menu_gauche ul ul a {margin:0; padding:7px 0 7px 20px; width:174px; color:#FFF;}
#menu_gauche ul ul a:hover, #menu_gauche ul ul li:hover {background:#5fafc8; color:#000;}
#menu_gauche ul ul ul {position:absolute; z-index:99; display:block; left:194px; background:#5fafc8; margin:-30px 0 0 0; padding:0; color:#FFF;}

#identification {
	margin:20px 0;
	padding:10px;
	background:#e5eebf;
	width:174px;
}
.inscription_iden {display:block;}
.titre_identification {display:block; color:#dd4715; font-weight:bold; margin:10px 0 0 0;}
.input_iden {font-size:.8em; border:1px solid #dd4715; width:80px;}
.bouton_iden {font-size:.8em; border:1px solid #FFF; background:#dd4715; color:#e5eebf;}

#nuage {
	margin:20px 0;
	background:#FFF;
	border:1px solid #e5eebf;
	border-left:0;
	width:193px;
}

#nuage h3 {margin:0 10px 10px 10px; text-align:center;}

/**** Content Container ***/
#content {
clear:right;
float:right;
margin:0 10px 0 0;
padding:10px;
position:relative;
text-align:justify;
width:720px;
}

#fiche {
background:#e0eff4;
-moz-border-radius:15px;
-webkit-border-radius:15px;
padding:0;
margin:0 0 30px 0;
}

#fiche h2 {background:#5fafc8;color:#FFF; margin:0; padding:4px 10px;
-moz-border-radius:0;
-webkit-border-radius:0;
-khtml-border-radius:0;
-moz-border-radius-topleft:15px;
-moz-border-radius-topright:15px;
-webkit-border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-khtml-border-top-left-radius:15px;
-khtml-border-top-right-radius:15px;
}
#fiche h3 {background:#5fafc8;color:#000; margin:20px 0 0 0; padding:2px; border:0; font-size:.9em;}

#ficheverte {
background:#e5eebf;
-moz-border-radius:15px;
-webkit-border-radius:15px;
padding:0;
margin:0 0 30px 0;
}

#ficheverte h2 {background:#a7c62a;color:#FFF; margin:0; padding:4px 10px;
-moz-border-radius:0;
-webkit-border-radius:0;
-khtml-border-radius:0;
-moz-border-radius-topleft:15px;
-moz-border-radius-topright:15px;
-webkit-border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-khtml-border-top-left-radius:15px;
-khtml-border-top-right-radius:15px;
}
#ficheverte h3 {background:#a7c62a;color:#000; margin:20px 0 0 0; padding:2px; border:0; font-size:.9em;}

ul {
	padding: 5px 0 5px 20px;
	margin:0;

}

ul li {
	margin-bottom:4px;
	padding: 0;
	list-style-type:disc;

}

/**** Footer ***/
#footer {
	clear: both;
	margin:0;
	padding:100px 0 0;
	color: #000;
	text-align:right;
	width:959px;
	background:url(../images/bas_page.png) no-repeat bottom left;
	font-size:0.9em;
}

#footer a {color:#000;}
#financeurs {margin:30px 0 30px 200px;}
#financeurs ul {margin:0;padding:0}
#financeurs li {list-style-type:none; float:left; margin:0 10px; padding:0}
#copyright {text-align:left; color:#FFF; margin:10px 0 0 10px;}
#copyright a {color:#FFF;}
.texte_iden, .rss_site_titre {display:none;}
