body,html {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100%;
	width: 100%;
	background:#28475D;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}

.titreaccordeon{
cursor: hand;
cursor: pointer;
padding: 2px 5px;
font-size:16px;
}
.corpsaccordeon {font-size:13px;}
.open{margin:0 0 0 30px;}

#container {margin:30px auto; padding:0; width:980px; height:580px;}
#pagecourante {width:600px; height:570px; margin:0; padding:0; float:left;}
#content {overflow:auto; width:560px; height:420px; background-color:transparent; text-align:justify; margin:0; padding:20px;}
#menu { padding: 0; margin:0; float:right; width:350px; }
#menu ul {padding:0; margin:0;}
#menu li {width:350px; height:90px; margin:0 0 30px 0; padding:0; list-style: none;}
#menu a {display:block; text-align:center; width:100%; height:100%; margin:0; padding:0;}

#bouton_esprit {border:none; background:url(../images/bouton_esprit.jpg) no-repeat top left;margin:0 0 30px 0;}
#bouton_amenagement {border:none; background:url(../images/bouton_amenagement.jpg) no-repeat top left;margin:0 0 30px 0;}
#bouton_toiture {border:none; background:url(../images/bouton_toiture.jpg) no-repeat top left;margin:0 0 30px 0;}
#bouton_creations {border:none; background:url(../images/bouton_creations.jpg) no-repeat top left;margin:0 0 30px 0;}
#bouton_contact {border:none; background:url(../images/bouton_contact.jpg) no-repeat top left;margin:0 0 30px 0;}
#bouton_esprit a, #bouton_amenagement a, #bouton_toiture a, #bouton_creations a, #bouton_contact a {text-decoration:none; border:none;}

.EspriT {background:url(../images/fond_esprit.jpg) repeat-y top left;}
.AmenagemenT {background:url(../images/fond_amenagement.jpg) repeat-y top left;}
.ToitureVegetalisee {background:url(../images/fond_toiture.jpg) repeat-y top left;}
.CreationS {background:url(../images/fond_creations.jpg) repeat-y top left;}
.ContacT {background:url(../images/fond_contact.jpg) repeat-y top left;}

.commentsheader , .hr_clear {display:none;}
