<form method="post" action="{$formlink.url}">
			
			{$lang.enter_game_form_choose_total_player_nb} <strong>{$lang.enter_game_form_player}</strong> <select name="nbjoueur">
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
			</select><br>
			{$lang.enter_game_form_choose_the_computer_nb} <strong>{$lang.enter_game_form_computer_player}</strong> 
				<select name="nbbot">
				<option value="0">0</option>
				<option value="1">1</option>
				</select><br>
			<input type="submit" value="{$lang.start_game}" />
</form>
