#faqSection{
	padding:20px 90px 60px 60px;
	border:1px solid white;
	text-shadow:1px 1px 0 #eee;
}

.buttonfaq {float:right;}

/* Definition Lists */

#faqSection dt{
	/*color:#8F9AA3;*/
	font-size:25px;
	margin-top:30px;
	padding-left:25px;
	position:relative;
	cursor:pointer;
	border:1px solid transparent;
}

#faqSection dt:hover{ color:#5f6a73;}

#faqSection dt .icon{
	background:url('images/bullets.png') no-repeat;
	height:12px;
	left:0;
	position:absolute;
	top:11px;
	width:12px;
}

#faqSection dt.opened .icon{ background-position:left bottom;}

#faqSection dd{
	font-size:14px;
	/*color:#717f89;*/
	line-height:1.5;
	padding:20px 0 0 25px;
	width:580px;
	display:none;
}
