<div class="footer-hidden">
<?php if (isset($time)) : ?><a title="<?php echo TEMPLATE_CLICK_TO_SEE_REVISIONS;?>" href="<?php echo $linkrevisions;?>" class="link-revisions" rel="#overlay-link"><i class="icon-calendar"></i><?php echo TEMPLATE_LAST_UPDATE;?> : <?php echo $time;?></a>&nbsp;<?php endif; ?>
<?php if (isset($linkedit)) : ?><a title="<?php echo TEMPLATE_CLICK_TO_EDIT;?>" href="<?php echo $linkedit;?>" class="link-edit"><i class="icon-pencil"></i><?php echo TEMPLATE_EDIT;?></a>&nbsp;<?php endif; ?>
<?php if (isset($linkdeletepage)) : ?><a href="<?php echo $linkdeletepage;?>" class="link-deletepage"><i class="icon-trash"></i><?php echo TEMPLATE_DELETE;?></a>&nbsp;<?php endif; ?>
</div> <!-- /.footer-hidden -->