<div class="<?php echo $class;?>">
<?php if (isset($linkedit)) : ?>
	<a title="<?php echo _t('TEMPLATE_EDIT_THIS_PAGE').' '.$page;?>" href="<?php echo $linkedit;?>" class="link-edit">
		<i class="fa fa-pencil-alt"></i><span><?php echo _t('TEMPLATE_EDIT_THIS_PAGE');?></span>
	</a>
<?php endif; ?>
<?php if (isset($linkdeletepage)) : ?>
	<a href="<?php echo $linkdeletepage;?>" class="link-deletepage modalbox" title="<?php echo _t('TEMPLATE_DELETE_PAGE').' '.$page;?>">
		<i class="fa fa-trash"></i><span><?php echo _t('TEMPLATE_DELETE');?></span>
	</a>
<?php endif; ?>
<?php if (isset($time)) : ?>
	<a title="<?php echo _t('TEMPLATE_CLICK_TO_SEE_REVISIONS').' '.$page;?>" href="<?php echo $linkrevisions;?>" class="link-revisions">
		<i class="fa fa-history"></i><span><?php echo _t('TEMPLATE_LAST_UPDATE');?> <?php echo $time;?></span>
	</a>
<?php endif; ?>
<?php if (isset($linkacls)) : ?>
	<a class="link-acls<?php if (substr($linkacls, -4) == 'acls') : ?> modalbox<?php endif; ?>" href="<?php echo $linkacls;?>" title="<?php echo _t('TEMPLATE_CLICK_TO_CHANGE_PERMISSIONS').' '.$page;?>">
		<i class="fa fa-unlock-alt"></i><span><?php if (isset($owner)) : ?><?php echo $owner;?><?php endif; ?></span>
	</a>
<?php endif; ?>
	<a title="<?php echo _t('TEMPLATE_SEE_SHARING_OPTIONS').' '.$page;?>" href="<?php echo $linkshare;?>" class="link-share modalbox">
		<i class="fa fa-share-alt"></i><span><?php echo _t('TEMPLATE_SHARE');?></span>
	</a>
</div>
