<div class="<?php echo $class;?>">
<?php if (isset($linkedit)) : ?>
	<a title="<?php echo _t('TEMPLATE_EDIT_THIS_PAGE').' '.$page;?>" href="<?php echo $linkedit;?>" class="link-edit">
		<i class="fa fa-pencil-alt"></i><span><?php echo _t('TEMPLATE_EDIT_THIS_PAGE');?></span>
	</a>
<?php endif; ?>
<?php if (isset($linkdeletepage)) : ?>
	<a href="<?php echo $linkdeletepage;?>" class="link-deletepage modalbox" title="<?php echo _t('TEMPLATE_DELETE_PAGE').' '.$page;?>">
		<i class="fa fa-trash"></i><span><?php echo _t('TEMPLATE_DELETE');?></span>
	</a>
<?php endif; ?>
<?php if (isset($time)) : ?>
	<a title="<?php echo _t('TEMPLATE_CLICK_TO_SEE_REVISIONS').' '.$page;?>" href="<?php echo $linkrevisions;?>" class="link-revisions">
		<i class="fa fa-history"></i><span><?php echo _t('TEMPLATE_LAST_UPDATE');?> <?php echo $time;?></span>
	</a>
<?php endif; ?>
<?php if (isset($linkacls)) : ?>
	<a class="link-acls<?php if (substr($linkacls, -4) == 'acls') : ?> modalbox<?php endif; ?>" href="<?php echo $linkacls;?>" title="<?php echo _t('TEMPLATE_CLICK_TO_CHANGE_PERMISSIONS').' '.$page;?>">
		<i class="fa fa-unlock-alt"></i><span><?php if (isset($owner)) : ?><?php echo $owner;?><?php endif; ?></span>
	</a>
<?php endif; ?>
<?php if (isset($linkclosecomments)) : ?>
	<a class="link-comments" href="<?php echo $linkclosecomments;?>" title="<?php echo _t('TEMPLATE_CLICK_TO_CLOSE_COMMENTS');?>">
		<i class="fas fa-comment-slash"></i><span> <?php echo _T('TEMPLATE_CLOSE_COMMENTS'); ?></span>
	</a>
<?php endif; ?>
<?php if (isset($linkopencomments)) : ?>
  <span class="dropup">
    <a class="link-comments dropdown-toggle" type="button" id="opencommentsdropup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-comment"></i> <span><?php echo _T('TEMPLATE_OPEN_COMMENTS'); ?></span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="opencommentsdropup">
      <li><a href="<?php echo $linkopencomments.'&list='.urlencode('+'); ?>"><?php echo _T('TEMPLATE_FOR_CONNECTED_PEOPLE'); ?></a></li>
      <?php foreach($wikigroups as $g) : ?>
      <li><a href="<?php echo $linkopencomments.'&list='.$g;?>"><?php echo _T('TEMPLATE_FOR_MEMBERS_OF_GROUP'); ?> @<?php echo $g; ?></a></li>
      <?php endforeach; ?>
    </ul>
  </span>
<?php endif; ?>
	<a title="<?php echo _t('TEMPLATE_SEE_SHARING_OPTIONS').' '.$page;?>" href="<?php echo $linkshare;?>" class="link-share modalbox">
		<i class="fa fa-share-alt"></i><span><?php echo _t('TEMPLATE_SHARE');?></span>
	</a>
</div>
