<div id="slide_show_container_<?php echo $pagetag;?>" class="slide_show_container <?php echo $class;?>">
	<?php echo $buttons;?>
	<a class="slide-button custom prev"></a>
	<div id="slide_show_<?php echo $pagetag;?>" class="slide_show">
		<div id="slides_<?php echo $pagetag;?>" class="slides">
			<?php foreach($slides as $slide): ?>
			    <div class="slide">
			    	<?php echo $slide;?>
				</div><!-- end div.slide -->
			<?php endforeach; ?>
		</div><!-- end div.slides -->
	</div><!-- end div.slide_show -->
	<div class="slide-navigation">
		<div class="t" id="thumbs_<?php echo $pagetag;?>">
			<div class="navi">
				<?php foreach($titles as $key => $title): ?>
					<?php if ($key==0) : ?>
						<a id="t<?php echo $key;?>" class="button-begin" title="<?php echo $title;?>" href="#slide<?php echo $key;?>">D&eacute;but</a>
					<?php else : ?>
						<a id="t<?php echo $key;?>" title="<?php echo $title;?>" href="#slide<?php echo $key;?>"></a>
					<?php endif; ?>					
				<?php endforeach; ?>
			</div><!-- end div.navi -->
		</div><!-- end div.t -->
		
	</div><!-- end div.slide-navigation -->
	<a class="slide-button custom next disabled"></a>
</div><!-- end div.slide_show_container -->