<div id="slide_show_container_<?=$pagetag;?>" class="slide_show_container <?=$class;?>">
	<?=$buttons;?>
	<a class="slide-button custom prev"></a>
	<div id="slide_show_<?=$pagetag;?>" class="slide_show">
		<div id="slides_<?=$pagetag;?>" class="slides">
			<?php foreach($slides as $slide): ?>
			    <div class="slide">
			    	<?=$slide;?>
				</div><!-- end div.slide -->
			<?php endforeach; ?>
		</div><!-- end div.slides -->
	</div><!-- end div.slide_show -->
	<div class="slide-navigation">
		<div class="t" id="thumbs_<?=$pagetag;?>">
			<div class="navi">
				<?php foreach($titles as $key => $title): ?>
					<?php if ($key==0) : ?>
						<a id="t<?=$key;?>" class="button-begin" title="<?=$title;?>" href="#slide<?=$key;?>">D&eacute;but</a>
					<?php else : ?>
						<a id="t<?=$key;?>" title="<?=$title;?>" href="#slide<?=$key;?>"></a>
					<?php endif; ?>					
				<?php endforeach; ?>
			</div><!-- end div.navi -->
		</div><!-- end div.t -->
		
	</div><!-- end div.slide-navigation -->
	<a class="slide-button custom next disabled"></a>
</div><!-- end div.slide_show_container -->