<form class="yeswiki-search-form navbar-search navbar-form <?php echo $class;?>" method="get" action="<?php echo $url;?>" role="search">
	<div class="form-group">
		<div class="input-group input-append">    
		    <input type="text" class="search-query form-control" placeholder="<?php echo _t('TEMPLATE_SEARCH_PLACEHOLDER');?>" value="<?php echo $phrase;?>" title="<?php echo _t('TEMPLATE_SEARCH_INPUT_TITLE');?>" accesskey="C" tabindex="1" name="phrase">
		    <span class="input-group-btn"><button type="submit" class="btn btn-default btn-search search-btn" title="<?php echo _t('TEMPLATE_SEARCH_BUTTON_TITLE');?>"><i class="glyphicon glyphicon-search icon-search"></i></button></span>
	    </div>
	</div>          
	<input type="hidden" value="RechercheTexte" name="wiki">
</form> <!-- /.yeswiki-search-form -->