<p>Le thème par défault est utilisé pour les pages qui n'ont aucun thème défini (les lignes vides dans le tableau ci dessus)</p>
<form method='post' class='form-horizontal'>
  <input class='hidden' name='action' value='setTemplate'>

  <div class='control-group form-group'>
    <label class="control-label col-lg-4"><?php print(_t('TEMPLATE_THEME')); ?></label>
    <div class="controls col-lg-4">
      <select id="themeSelect" name='wdtTheme' class="form-control">
        <?php
          foreach (array_keys($themes) as $theme) {
            if ($theme === $defTheme) {
              print("<option value='$theme' selected >$theme</option>");
              continue;
            }
            print("<option value='$theme'>$theme</option>");
          }
        ?>
      </select>
    </div>
  </div>

  <div class='control-group form-group'>
    <label class="control-label col-lg-4"><?php print(_t('TEMPLATE_SQUELETTE')); ?></label>
    <div class="controls col-lg-4">
      <select id='squeletteSelect' name='wdtSquelette' class="form-control">
        <?php
          foreach ($themes[$defTheme]['squelettes'] as $squelette) {
            if ($squelette === $defSquelette) {
              print("<option value='$squelette' selected >$squelette</option>");
              continue;
            }
            print("<option value='$squelette'>$squelette</option>");
          }
        ?>
      </select>
    </div>
  </div>

  <div class='control-group form-group'>
    <label class="control-label col-lg-4"><?php print(_t('TEMPLATE_STYLE')); ?></label>
    <div class="controls col-lg-4">
      <select id='styleSelect' name='wdtStyle' class="form-control">
        <?php
          foreach ($themes[$defTheme]['styles'] as $style) {

            if ($style === $defStyle) {
              print("<option value='$style' selected >$style</option>");
              continue;
            }
            print("<option value='$style'>$style</option>");
          }
        ?>
      </select>
    </div>
  </div>

  <div class='control-group form-group'>
    <div class="controls col-lg-4 col-lg-offset-4">
      <input type='submit' class="btn btn-primary" value='<?php print(_t('TEMPLATE_APPLY')); ?>'/>
    </div>
  </div>
</form>

<?php
$js =
  'var themeSelect = document.getElementById(\'themeSelect\');

  function clearOption(element)
  {
    element.innerHTML = \'\';
  }

  function addOption(element, optionValue)
  {
    var option = document.createElement("option");
    option.value = optionValue;
    option.text = optionValue;
    element.add(option);
  }

  function updateStyle(themeName) {
    var styleSelect = document.getElementById(\'styleSelect\');
    clearOption(styleSelect);
    switch(themeName) {
      ';

foreach($themes as $themeName => $theme) {
    $js .= "case '$themeName' :\n";
    foreach($theme['styles'] as $style) {
        $js .= "\taddOption(styleSelect, '$style');\n";
    }
    $js .= "\tbreak;\n";
}
$js .='
    }
  }

  function updateSquelette(themeName) {
    var styleSelect = document.getElementById(\'squeletteSelect\');
    clearOption(squeletteSelect);
    switch(themeName) {
';

foreach($themes as $themeName => $theme) {
    $js .= "case '$themeName' :\n";
    foreach($theme['squelettes'] as $squelette) {
        $js .= "\taddOption(squeletteSelect, '$squelette');\n";
    }
    $js .= "\tbreak;\n";
}
$js .='
    }
  }

  themeSelect.onchange = function() {
    updateStyle(themeSelect.value);
    updateSquelette(themeSelect.value);
  }';
$GLOBALS['wiki']->addJavascript($js);
?>
</script>
