<form class="<?php echo $class; ?>" id="<?php echo $id; ?>">
  <div class="control-group form-group">
    <label class="control-label"><?php echo _t('TEMPLATE_THEME'); ?></label>
    <div class="controls">
      <select class="form-control" id="changetheme" name="theme">
        <?php foreach ($themeNames as $key => $value) : ?>
          <?php if ($value !== $favoriteTheme) : ?>
          <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
          <?php else : ?>
          <option value="<?php echo $value; ?>" selected="selected"><?php echo $value; ?></option>
          <?php endif; ?>
        <?php endforeach; ?>
      </select>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label"><?php echo _t('TEMPLATE_SQUELETTE'); ?></label>
    <div class="controls">
      <select class="form-control" id="changesquelette" name="squelette">
        <?php foreach ($themes[$favoriteTheme]['squelette'] as $key => $value) : ?>
          <?php if ($value !== $favoriteSquelette) : ?>
          <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
          <?php else : ?>
          <option value="<?php echo $favoriteSquelette; ?>" selected="selected"><?php echo $value; ?></option>
          <?php endif; ?>
        <?php endforeach; ?>
      </select>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label"><?php echo _t('TEMPLATE_STYLE'); ?></label>
    <div class="controls">
      <select class="form-control" id="changestyle" name="style">
        <?php foreach ($themes[$favoriteTheme]['style'] as $key => $value) : ?>
          <?php if ($value !== $favoriteStyle) : ?>
          <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
          <?php else : ?>
          <option value="<?php echo $favoriteStyle; ?>" selected="selected"><?php echo $value; ?></option>
          <?php endif; ?>
        <?php endforeach; ?>
      </select>
    </div>
  </div>

  <?php if (!empty($themes[$favoriteTheme]['presets'])) : ?>
    <?php if ($mode == 'edit') : ?>
      <div class="control-group form-group">
        <label class="control-label"><?php echo _t('TEMPLATE_PRESET'); ?></label>
        <div class="controls">
          <select class="form-control" id="changestyle" name="favorite_preset">
            <option value="" <?php echo empty($wiki->page["metadatas"]['favorite_preset']) ? ' selected="selected"' :''; ?>>
              <?php echo _t('TEMPLATE_DEFAULT_PRESET') . (empty($wiki->page["metadatas"]['favorite_preset']) ? ' ('.str_replace('.css', '', $selectedPresetName.$selectedCustomPresetName).')':''); ?>
            </option>
            <?php foreach ($themes[$favoriteTheme]['presets'] as $key => $value) : ?>
              <option value="<?php echo $key; ?>" <?php echo ($key == $selectedPresetName && !empty($wiki->page["metadatas"]['favorite_preset'])) ? ' selected="selected"' :'' ; ?>>
                <?php echo str_replace('.css', '', $key); ?>
              </option>
            <?php endforeach; ?>
            <?php foreach ($customCSSPresets as $key => $value) : ?>
              <option value="<?php echo YesWiki\Core\Service\ThemeManager::CUSTOM_CSS_PRESETS_PREFIX . $key; ?>" <?php echo ($key == $selectedCustomPresetName  && !empty($wiki->page["metadatas"]['favorite_preset'])) ? ' selected="selected"' :'' ; ?>>
                <?php echo str_replace('.css', '', $key); ?>
              </option>
            <?php endforeach; ?>
          </select>
        </div>
      </div>
    <?php else : ?>
      <div class="preset-settings-container">
        <h4><?php echo _t('TEMPLATE_PRESETS'); ?></h4>
        <ul class="css-preset-list list-inline">
        <?php foreach ($themes[$favoriteTheme]['presets'] as $key => $value) : ?>
          <li>
            <a class="css-preset<?php echo ($key == $selectedPresetName) ? ' active' :'' ;?>" href="themes/<?php echo $favoriteTheme.'/presets/'.$key; ?>"
              data-key="<?php echo $key ;?>"
              <?php echo $dataHtmlForPresets[$key] ;?>>
            <?php echo str_replace('.css', '', $key); ?>
            </a>
          </li>
        <?php endforeach; ?>
        <?php foreach ($customCSSPresets as $key => $value) : ?>
          <li>
            <a class="css-preset custom<?php echo ($key == $selectedCustomPresetName) ? ' active' :'' ;?>" href="<?php echo YesWiki\Core\Service\ThemeManager::CUSTOM_CSS_PRESETS_PATH.'/'.$key; ?>"
              data-key="<?php echo $key ;?>"
              <?php echo $dataHtmlForCustomCSSPresets[$key] ;?>>
            <?php echo str_replace('.css', '', $key); ?>
            </a>
            <?php if ($showAdminActions) :?>
              <button class="btn btn-default btn-xs"
                data-key="<?php echo $key ;?>"
                onclick="javascript:deleteCSSPreset(this,'<?php echo _t('TEMPLATE_DELETE_CSS_PRESET').' '.$key.' ?' ;?>',
                  '<?php echo $wiki->Href('templates/custom-presets/'.$key,($wiki->config['rewrite_mode'] ? '?':'').'api');?>');">
                <i class="fas fa-trash"></i>
              </button>
            <?php endif; ?>  
          </li>
        <?php endforeach; ?>
        </ul>
        <a class="btn btn-xs btn-primary btn-block btn-new-preset" href="javascript:void(0)" onclick="openNav()">
          </i><?php echo _t('TEMPLATE_CREATE_PRESET'); ?>
        </a>
      </div>
    <?php endif; ?>
  <?php endif; ?>
  <?php if ($mode != 'edit' && $showAdminActions) : ?>
    <button class="btn btn-success btn-block " type="button" onclick="saveTheme('<?php echo $wiki->Href('');?>')">
      <?php print(_t('TEMPLATE_APPLY_ALL')); ?>
    </button>    
  <?php endif; ?>

  <?php echo $bgselector; ?>

  <?php if ($mode == 'edit') : ?>

  <div><a title="<?php echo _t('SEE_THE_ADVANCED_PARAMETERS'); ?>" href="#avanced-page-settings" data-toggle="collapse" class="btn btn-default"><?php echo _t('ADVANCED_PARAMETERS'); ?></a></div>
  <div id="avanced-page-settings" class="collapse">
    <hr>
    <div class="control-group form-group">
      <label class="control-label"><?php echo _t('PAGE_LANGUAGE'); ?></label>
      <div class="controls">
        <select class="form-control" name="lang">
          <?php foreach ($GLOBALS['available_languages'] as $value) : ?>
            <option value="<?php echo $value; ?>"<?php echo ($value == $GLOBALS['prefered_language'] ? ' selected="selected"' : ''); ?>>
            <?php echo ucfirst(
              htmlentities($GLOBALS['languages_list'][$value]['nativeName'], ENT_COMPAT | ENT_HTML401, 'UTF-8')
            ); ?></option>
          <?php endforeach; ?>
        </select>
      </div>
    </div>

    <fieldset>
      <h4><?php echo _t('CHOOSE_PAGE_FOR'); ?>: </h4>
      <div class="control-group form-group">
        <label class="control-label"><?php echo _t('HORIZONTAL_MENU_PAGE'); ?></label>
        <div class="controls">
          <input class="form-control typeahead" type="text" autocomplete="off" name="PageMenuHaut" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page["metadatas"]['PageMenuHaut']) ? $wiki->page["metadatas"]['PageMenuHaut'] : 'PageMenuHaut'); ?>" />
        </div>
      </div>

      <div class="control-group form-group">
        <label class="control-label"><?php echo _t('FAST_ACCESS_RIGHT_PAGE'); ?></label>
        <div class="controls">
          <input class="form-control typeahead" type="text" autocomplete="off" name="PageRapideHaut" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page[" metadatas"]['PageRapideHaut']) ?
            $wiki->page["metadatas"]['PageRapideHaut'] : 'PageRapideHaut'); ?>" />
        </div>
      </div>

      <div class="control-group form-group">
        <label class="control-label"><?php echo _t('HEADER_PAGE'); ?></label>
        <div class="controls">
          <input class="form-control typeahead" type="text" autocomplete="off" name="PageHeader" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page["metadatas"]['PageHeader']) ? $wiki->page["metadatas"]['PageHeader'] : 'PageHeader'); ?>" />
        </div>
      </div>

      <div class="control-group form-group">
        <label class="control-label"><?php echo _t('FOOTER_PAGE'); ?></label>
        <div class="controls">
          <input class="form-control typeahead" type="text" autocomplete="off" name="PageFooter" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page["metadatas"]['PageFooter']) ? $wiki->page["metadatas"]['PageFooter'] : 'PageFooter'); ?>" />
        </div>
      </div>
       <div class="control-group form-group">
        <label class="control-label"><?php echo _t('VERTICAL_MENU_PAGE'); ?></label>
        <div class="controls">
          <input class="form-control typeahead" type="text" autocomplete="off" name="PageMenu" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page["metadatas"]['PageMenu']) ? $wiki->page["metadatas"]['PageMenu'] : 'PageMenu'); ?>" />
        </div>
      </div>
    </fieldset>
  </div> <!-- /#avanced-page-settings -->
<?php endif; ?>
</form>

<?php if ($mode != 'edit') : ?>
<?php // do not display this part in edit mode because handler edit__ is called after generation of .js and .css html ?>
<div id="preset-sidenav" class="sidenav">

  <form id="preset-form" action="#" method="post">
    <h4>
      <?php echo _t('TEMPLATE_CUSTOMIZE_PRESET'); ?>
      <span class="closebtn" onclick="closeNav()">&times;</span>
    </h4>
    <?php
    $GLOBALS['wiki']->addJavascriptFile('javascripts/vendor/spectrum-colorpicker2/spectrum.min.js');
    $GLOBALS['wiki']->addJavascriptFile('tools/templates/libs/vendor/jquery.fontselect.js');
    $GLOBALS['wiki']->addJavascriptFile('tools/templates/presentation/javascripts/preset-sidenav.js');
    $GLOBALS['wiki']->addCSSFile('styles/vendor/spectrum-colorpicker2/spectrum.min.css');
    $GLOBALS['wiki']->addCSSFile('tools/templates/presentation/styles/preset-sidenav.css');
    ?>
    <div class="form-group">
      <input class="form-input colorpicker" type="color" name="primary-color"
      value="<?php echo $currentCSSValues['primary-color'] ??'#1A89A0';?>" />
      <label><?php echo _t('TEMPLATE_PRIMARY_COLOR'); ?></label>
    </div>
    <div class="form-group">
      <input class="form-input colorpicker" type="color" name="secondary-color-1"
      value="<?php echo $currentCSSValues['secondary-color-1'] ??'#d8604c';?>" />
      <label><?php echo _t('TEMPLATE_SECONDARY_COLOR_1'); ?></label>
    </div>
    <div class="form-group">
      <input class="form-input colorpicker" type="color" name="secondary-color-2"
      value="<?php echo $currentCSSValues['secondary-color-2'] ??'#D78958';?>" />
      <label><?php echo _t('TEMPLATE_SECONDARY_COLOR_2'); ?></label>
    </div>
    <div class="form-group">
      <input class="form-input colorpicker" type="color" name="neutral-color"
      value="<?php echo $currentCSSValues['neutral-color'] ??'#4E5056';?>" />
      <label><?php echo _t('TEMPLATE_NEUTRAL_COLOR'); ?></label>
    </div>
    <div class="form-group">
      <input class="form-input colorpicker" type="color" name="neutral-soft-color"
      value="<?php echo $currentCSSValues['neutral-soft-color'] ??'#b0b1b3';?>" />
      <label><?php echo _t('TEMPLATE_SOFT_COLOR'); ?></label>
    </div>
    <div class="form-group">
      <input class="form-input colorpicker" type="color" name="neutral-light-color"
      value="<?php echo $currentCSSValues['neutral-light-color'] ??'#ffffff';?>" />
      <label><?php echo _t('TEMPLATE_LIGHT_COLOR'); ?></label>
    </div>
    <div class="form-group">
      <label><?php echo _t('TEMPLATE_MAIN_TEXT_SIZE'); ?></label>
      <input class="form-input range" type="range" min="9" max="34" step="1" name="main-text-fontsize"
        value="<?php echo (isset($currentCSSValues['main-text-fontsize'])) ? explode('px',$currentCSSValues['main-text-fontsize'])[0] : '17';?>" />
    </div>
    <div class="form-group">
      <label><?php echo _t('TEMPLATE_MAIN_TEXT_FONT'); ?></label>
      <input class="form-input fontpicker" type="text" name="main-text-fontfamily"
        value="<?php echo $currentCSSValues['main-text-fontfamily'] ?? 'Nunito';?>" />
    </div>
    <div class="form-group">
      <label><?php echo _t('TEMPLATE_MAIN_TITLE_FONT'); ?></label>
      <input class="form-input fontpicker" type="text" name="main-title-fontfamily"
        value="<?php echo $currentCSSValues['main-title-fontfamily'] ?? 'Nunito';?>" />
    </div>
    <?php if ($wiki->GetUser()) : ?>
      <div class="form-group">
        <label><?php echo _t('TEMPLATE_PRESET_FILENAME'); ?></label>
        <input class="form-input form-control" type="text" name="filename"
          value="<?php echo (!empty($selectedPresetName) 
              ? substr($selectedPresetName,0,-4)
              : (
                !empty($selectedCustomPresetName)
                ? substr($selectedCustomPresetName,0,-4)
                : 'custom-'.date('Y-m-d_H-i')
              )) ;?>" />
      </div>
      <button type="button" class="btn btn-primary btn-block"
        onclick="javascript:saveCSSPreset(this,
          '<?php echo $wiki->Href('templates/custom-presets/', ($wiki->config['rewrite_mode'] ? '?':'').'api').'\','.($wiki->config['rewrite_mode'] ? '1':'0');?>);">
        <?php echo _t('TEMPLATE_SAVE'); ?>
      </button>
    <?php endif ; ?>
  </form>
</div>
<?php endif; ?>
<script>
  var themeSelectorTranslation = {
    'TEMPLATE_CHOOSE_FONT': '<?php echo _t('TEMPLATE_CHOOSE_FONT'); ?>',
    'TEMPLATE_SEARCH_POINTS': '<?php echo _t('TEMPLATE_SEARCH_POINTS'); ?>',
    'TEMPLATE_APPLY': "<?php echo _t('TEMPLATE_APPLY');?>",
    'TEMPLATE_CANCEL': "<?php echo _t('TEMPLATE_CANCEL');?>",
    'TEMPLATE_THEME_NOT_SAVE': "<?php echo _t('TEMPLATE_THEME_NOT_SAVE');?>",
    'TEMPLATE_FILE_NOT_ADDED': "<?php echo _t('TEMPLATE_FILE_NOT_ADDED');?>",
    'TEMPLATE_FILE_NOT_DELETED': "<?php echo _t('TEMPLATE_FILE_NOT_DELETED');?>",
    'TEMPLATE_FILE_ALREADY_EXISTING': "<?php echo addslashes(_t('TEMPLATE_FILE_ALREADY_EXISTING'));?>",
    'TEMPLATE_PRESET_ERROR': "<?php echo _t('TEMPLATE_PRESET_ERROR');?>",
  };
  var customCSSPresetsPrefix = '<?php echo YesWiki\Core\Service\ThemeManager::CUSTOM_CSS_PRESETS_PREFIX ;?>';
</script>