<form class="<?php echo $class; ?>" id="<?php echo $id; ?>">
  <div class="control-group form-group">
    <label class="control-label"><?php echo _t('TEMPLATE_THEME'); ?></label>
    <div class="controls">
      <select class="form-control" id="changetheme" name="theme">
        <?php foreach ($themeNames as $key => $value) : ?>
          <?php if ($value !== $wiki->config['favorite_theme']) : ?>
          <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
          <?php else : ?>
          <option value="<?php echo $value; ?>" selected="selected"><?php echo $value; ?></option>
          <?php endif; ?>
        <?php endforeach; ?>
      </select>
    </div>
  </div>

  <div class="control-group form-group">
    <label class="control-label"><?php echo _t('TEMPLATE_SQUELETTE'); ?></label>
    <div class="controls">
      <select class="form-control" id="changesquelette" name="squelette">
        <?php foreach ($themes[$wiki->config['favorite_theme']]['squelette'] as $key => $value) : ?>
          <?php if ($value !== $wiki->config['favorite_squelette']) : ?>
          <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
          <?php else : ?>
          <option value="<?php echo $wiki->config['favorite_squelette']; ?>" selected="selected"><?php echo $value; ?></option>
          <?php endif; ?>
        <?php endforeach; ?>
      </select>
    </div>
  </div>
  
  <div class="control-group form-group">
    <label class="control-label"><?php echo _t('TEMPLATE_STYLE'); ?></label>
    <div class="controls">
      <select class="form-control" id="changestyle" name="style">
        <?php foreach ($themes[$wiki->config['favorite_theme']]['style'] as $key => $value) : ?>
          <?php if ($value !== $wiki->config['favorite_style']) : ?>
          <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
          <?php else : ?>
          <option value="<?php echo $wiki->config['favorite_style']; ?>" selected="selected"><?php echo $value; ?></option>
          <?php endif; ?>
        <?php endforeach; ?>
      </select>
    </div>
  </div>
  <?php if (!empty($themes[$wiki->config['favorite_theme']]['presets'])) : ?>
    <h4><?php echo _t('TEMPLATE_PRESETS'); ?></h4>
    <ul class="css-preset-list list-inline">
    <?php foreach ($themes[$wiki->config['favorite_theme']]['presets'] as $key => $value) : ?>
      <li>
        <a class="css-preset" href="javascript:void(0)"
          data-variables="<?php echo htmlspecialchars(json_encode($value['variables'])); ?>">
        <?php echo (!empty($value['title'][$GLOBALS['prefered_language']]) ? $value['title'][$GLOBALS['prefered_language']] : $value['title']['fr']); ?>
        </a>
      </li>
    <?php endforeach; ?>
    </ul>
    <a class="btn btn-xs btn-primary btn-new-preset" href="javascript:void(0)" onclick="openNav()"><i
        class="fa fa-plus"></i>
      <?php echo _t('TEMPLATE_CREATE_PRESET'); ?></a>
  <?php endif; ?>
  <?php echo $bgselector; ?>

  <?php if ($mode == 'edit') : ?>
  
  <div class="panel-group accordion" id="accordion-avanced-page-settings">
    <div class="panel panel-default accordion-group">
      <div class="panel-heading accordion-heading">
        <h4 class="panel-title accordion-trigger" data-parent="#accordion-avanced-page-settings"
          href="#avanced-page-settings" data-target="#avanced-page-settings" data-toggle="collapse"
          title="<?php echo _t('SEE_THE_ADVANCED_PARAMETERS'); ?>"><?php echo _t('ADVANCED_PARAMETERS'); ?></h4>
      </div>
      <div id="avanced-page-settings" class="panel-collapse accordion-body collapse">
        <div class="panel-body accordion-inner">
          <div class="control-group form-group">
            <label class="control-label"><?php echo _t('PAGE_LANGUAGE'); ?></label>
            <div class="controls">
              <select class="form-control" name="lang">
                <?php foreach ($GLOBALS['available_languages'] as $value) : ?>
                  <option value="<?php echo $value; ?>"<?php echo ($value == $GLOBALS['prefered_language'] ? ' selected="selected"' : ''); ?>>
                  <?php echo ucfirst(
                    htmlentities($GLOBALS['languages_list'][$value]['nativeName'], ENT_COMPAT | ENT_HTML401, 'UTF-8')
                  ); ?></option>
                <?php endforeach; ?>
              </select>
            </div>
          </div>

           <fieldset>
            <legend><?php echo _t('CHOOSE_PAGE_FOR'); ?>: </legend>
            <div class="control-group form-group">
              <label class="control-label"><?php echo _t('HORIZONTAL_MENU_PAGE'); ?></label>
              <div class="controls">
                <input class="form-control typeahead" type="text" autocomplete="off" name="PageMenuHaut" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page["metadatas"]['PageMenuHaut']) ? $wiki->page["metadatas"]['PageMenuHaut'] : 'PageMenuHaut'); ?>" />
              </div>
            </div>
            
            <div class="control-group form-group">
              <label class="control-label"><?php echo _t('FAST_ACCESS_RIGHT_PAGE'); ?></label>
              <div class="controls">
                <input class="form-control typeahead" type="text" autocomplete="off" name="PageRapideHaut" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page[" metadatas"]['PageRapideHaut']) ?
                  $wiki->page["metadatas"]['PageRapideHaut'] : 'PageRapideHaut'); ?>" />
              </div>
            </div>
            
            <div class="control-group form-group">
              <label class="control-label"><?php echo _t('HEADER_PAGE'); ?></label>
              <div class="controls">
                <input class="form-control typeahead" type="text" autocomplete="off" name="PageHeader" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page["metadatas"]['PageHeader']) ? $wiki->page["metadatas"]['PageHeader'] : 'PageHeader'); ?>" />
              </div>
            </div>
            
            <div class="control-group form-group">
              <label class="control-label"><?php echo _t('FOOTER_PAGE'); ?></label>
              <div class="controls">
                <input class="form-control typeahead" type="text" autocomplete="off" name="PageFooter" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page["metadatas"]['PageFooter']) ? $wiki->page["metadatas"]['PageFooter'] : 'PageFooter'); ?>" />
              </div>
            </div>
             <div class="control-group form-group">
              <label class="control-label"><?php echo _t('VERTICAL_MENU_PAGE'); ?></label>
              <div class="controls">
                <input class="form-control typeahead" type="text" autocomplete="off" name="PageMenu" data-provide="typeahead" data-items="5" data-source='<?php echo $listWikinames; ?>' value="<?php echo (isset($wiki->page["metadatas"]['PageMenu']) ? $wiki->page["metadatas"]['PageMenu'] : 'PageMenu'); ?>" />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div> <!-- /#avanced-page-settings -->
<?php endif; ?>
</form>

<div id="preset-sidenav" class="sidenav">
  <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
  <form id="preset-form" action="#" method="post">
    <h4><?php echo _t('TEMPLATE_CUSTOMIZE_PRESET'); ?></h4>
    <?php 
    // TODO : don't use CDN trackers are bad
    $GLOBALS['wiki']->addJavascriptFile('https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js');
    $GLOBALS['wiki']->addJavascriptFile('https://av01d.github.io/fontselect-jquery-plugin/jquery.fontselect.js');
    foreach ($themes[$wiki->config['favorite_theme']]['presets']['default.json']['variables'] as $varcss) : ?>
    
    <?php if ($varcss['type'] == 'color') : ?>
    <div class="form-group">
      <input class="form-input colorpicker" type="color" name="<?php echo $varcss['name']; ?>"
      value="<?php echo $varcss['value']; ?>" />
      <label><?php echo (!empty($varcss['label'][$GLOBALS['prefered_language']]) ?
        $varcss['label'][$GLOBALS['prefered_language']] : $varcss['label']['fr']); ?></label>
    </div>
    <?php endif; ?>
    
    <?php if ($varcss['type'] == 'font') : ?>
    <div class="form-group">
      <label><?php echo (!empty($varcss['label'][$GLOBALS['prefered_language']]) ?
        $varcss['label'][$GLOBALS['prefered_language']] : $varcss['label']['fr']); ?></label>
      <input class="form-input fontpicker" type="text" name="<?php echo $varcss['name']; ?>"
        value="<?php echo $varcss['value']; ?>" />
    </div>
    <?php endif; ?>

    <?php endforeach; ?>
  </form>
</div>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
<style>
  /* The side navigation menu */
  #preset-sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    top: 0;
    right: 0;
    background-color: var(--neutral-color);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    z-index: 2000;
    padding-top: 4em;
    /* Place content under menu */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #preset-form {
    margin: 0 1em;
  }
  #preset-form label {
    color: var(--neutral-light-color);
    font-size:13px;
  }

  /* The navigation menu links */
  #preset-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  #preset-sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  #preset-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side
  navigation */
  #yw-container {
    transition: padding-right .5s;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller
  font size) */
  @media screen and (max-height: 450px) {
    #preset-sidenav {
      padding-top: 15px;
    }

    #preset-sidenav a {
      font-size: 18px;
    }
  }


  /* FONT PICKER */
  .font-select * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

  .font-select {
  font-size: 16px;
  width:100%;
  position: relative;
  display: inline-block;
  }

  .font-select .fs-drop {
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 999;
  background: #fff;
  color: #000;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  box-shadow: 0 4px 5px rgba(0,0,0,.15);
  border-radius: 0 0 4px 4px;
  }

  .font-select > span {
  outline: 0;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 38px;
  line-height: 32px;
  padding: 3px 8px 3px 8px;
  color: #444;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23303030' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

  .font-select-active > span {
  background-color: #eee;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
  }

  .font-select .fs-results {
  max-height: 190px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  }

  .font-select .fs-results li {
  line-height: 80%;
  padding: 8px;
  margin: 0;
  list-style: none;
  font-size: 18px;
  white-space: nowrap;
  }

  .font-select .fs-results li.active {
  background-color: #3875d7;
  color: #fff;
  cursor: pointer;
  }

  .font-select .fs-search {
  border-bottom: 1px solid #aaa;
  padding: 4px;
  }

  .font-select .fs-search input {
  padding: 7px;
  width: 100%;
  border: 1px solid #aaa;
  font: 16px Helvetica, Sans-serif;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
  border-radius: .1875rem;
  }

</style>
<script>
  function openNav() {
    // si c'est déja ouvert, on ferme
    if (document.getElementById("preset-sidenav").style.width == "250px") {
      closeNav()
    } else {
      document.getElementById("preset-sidenav").style.width = "250px";
      document.getElementById("yw-container").style.paddingRight = "250px";
    }
    return false;
  }

  function closeNav() {
    document.getElementById("preset-sidenav").style.width = "0";
    document.getElementById("yw-container").style.paddingRight = "0";
    return false;
  }
  document.addEventListener('DOMContentLoaded', function(){
    $('.colorpicker').spectrum({
      showPalette:true,
      showAlpha: true,
      showInput: true,
      clickoutFiresChange: true,
      showInitial: true,
      chooseText: "Sauver",
      cancelText: "Annuler",
      change: function(color) {
        document.documentElement.style.setProperty('--'+$(this).attr('name'), color.toRgbString());
      },
      hide: function(color) {
        document.documentElement.style.setProperty('--'+$(this).attr('name'), color.toRgbString());
      },
      move: function(color) {
        document.documentElement.style.setProperty('--'+$(this).attr('name'), color.toRgbString());
      },
      palette: [
        [
          getComputedStyle(document.documentElement).getPropertyValue('--primary-color'),
          getComputedStyle(document.documentElement).getPropertyValue('--secondary-color-1'),
          getComputedStyle(document.documentElement).getPropertyValue('--secondary-color-2')
        ],
        [
          getComputedStyle(document.documentElement).getPropertyValue('--neutral-light-color'),
          getComputedStyle(document.documentElement).getPropertyValue('--neutral-soft-color'),
          getComputedStyle(document.documentElement).getPropertyValue('--neutral-color')
        ]
      ]
    })

    $('.fontpicker')
    .fontselect({
      placeholder: 'Choisir une police',
      placeholderSearch: 'Chercher...',
    })
    .on('change', function() {
      // Replace + signs with spaces for css
      var font = this.value.replace(/\+/g, ' ');

      // Split font into family and weight
      font = font.split(':');

      var fontFamily = font[0];
      var fontWeight = font[1] || 400;

      document.documentElement.style.setProperty('--'+$(this).attr('name'), "'"+fontFamily+"'");
    });
  }, false);
</script>
