.agenda-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.agenda-entry {
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  color: #fff;
  float: left;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  text-align: left;
  height: 100%;
  width: 100%;
  background-color: #efefef;
}

.agenda-entry img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  transition: transform 0.2s;
}

.agenda-entry fig-caption {
  padding: 1.2rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.agenda-entry fig-caption::before {
  position: absolute;
  inset: 0;
  content: '';
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.agenda-entry fig-caption h5 {
  color: white;
}

.agenda-entry .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.agenda-entry .date span {
  display: block;
  line-height: 14px;
}

.agenda-entry .date .month {
  font-size: 11px;
}

.agenda-entry h3,
.agenda-entry h5,
.agenda-entry p {
  margin: 0;
  padding: 0;
}

.agenda-entry h5 {
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
}

@media (width <= 900px) {
  .agenda-entry h5 {
    font-size: 1.1rem;
  }
}

.agenda-entry p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0;
}

.agenda-entry a {
  inset: 0;
  position: absolute;
  z-index: 1;
}

.agenda-entry:hover img,
.agenda-entry.hover img {
  transform: scale(1.1);
}
