.bazar-list-dynamic-container:not(.mounted) {
  opacity: 0;
}

/* PAGINATION */
.bazar-list-dynamic-container .pagination {
  display: flex;
  justify-content: center;
}
.bazar-list-dynamic-container .pagination > li {
  margin: 0 .2rem;
  padding: 0 .5rem;
  cursor: pointer;
  border-radius: 3px;
}
.bazar-list-dynamic-container .pagination > li:hover {
  font-weight: bold;
}
.bazar-list-dynamic-container .pagination > li.active {
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  font-weight: bold;
}
.bazar-list-dynamic-container .pagination > li i {
  color: var(--primary-color);
}
.bazar-list-dynamic-container .pagination > li.disabled {
  opacity: .6;
}

/* ENTRY */
.entry-container.modal-body {
  padding-top: 1rem;
}
.entry-container .btn-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 7rem;
  width: 7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}
.entry-container .btn-close i {
  padding: 2rem;
  cursor: pointer;
  background-color: var(--neutral-light-color);
}
.entry-container .btn-close i:hover {
  font-size: 1.2em;
}