.yeswiki-checkbox .btn-success.checkbox-select-all{
    color: var(--success-color) ;
    background-color: transparent ;
}

.yeswiki-checkbox .btn-danger.checkbox-remove-all{
    color: var(--danger-color) ;
    background-color: transparent ;
}

@media(max-width: 1200px){
   .movable-h {
      display:none;
   }
}

.checkbox-icon-column {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.list-group-item {
    display :flex;
}
