.form-builder-label {
  display: none;
}

#form-builder-container {
  height: auto !important;
  padding: 0 0 1px !important;
}

#form-builder-container .form-control {
  background-color: white;
  border: 1px solid #ccc;
}

#form-builder-container .form-elements {
  padding: 1rem;
}

#form-builder-container .form-elements .form-group {
  margin: 0 0 5px;
}

#form-builder-container .form-elements .form-group label {
  font-size: 0.8em;
  width: auto !important;
  text-align: left;
  float: none;
  padding: 0;
  overflow: revert;
  text-transform: none;
}

#form-builder-container .form-wrap.form-builder .stage-wrap {
  width: 74%;
}

#form-builder-container .form-wrap.form-builder .frmb-control li {
  border-radius: 0;
  border-right: none;
}

#form-builder-container .form-wrap.form-builder .frmb li {
  background-color: transparent;
  border-radius: 0;
  transition: background-color 0.3s;
}

#form-builder-container .form-wrap.form-builder .frmb {
  margin: 0;
}

#form-builder-container
  .form-wrap.form-builder
  .frmb
  .form-elements
  .input-wrap {
  float: none;
  margin-left: 0;
  width: 100%;
}

#form-builder-container .form-wrap.form-builder .frmb > li:hover {
  background-color: var(--neutral-light-color);
  border: none;
  box-shadow: none;
}

#form-builder-container
  .form-wrap.form-builder
  .frmb
  .form-elements
  .input-wrap
  > input[type='checkbox'] {
  margin: 0;
}

/* Remove checkbox style inside form-builder */
#form-builder-container [type='checkbox']:not(:checked),
#form-builder-container [type='checkbox']:checked {
  position: relative;
  opacity: 1;
  pointer-events: initial;
}

/* Advanced Attributes */
#form-builder-container
  .form-field:not(.show-advanced-attributes)
  .form-group.advanced {
  display: none !important;
}

#form-builder-container .form-field .form-group.advanced {
  order: 200 !important;
}

#form-builder-container .show-advanced-attributes-btn {
  order: 199;
  margin: 0.5rem 0 1rem;
}

/* Attributes */
#form-builder-container .required-wrap {
  display: flex;
  align-items: center;
}

#form-builder-container .required-wrap label {
  order: 2;
}

#form-builder-container .required-wrap .input-wrap {
  margin-right: 0.5rem;
  order: 1;
  width: auto !important;
}

.form-field {
  overflow: hidden;
}

#form-builder-container .listeOrFormId-wrap .input-wrap {
  display: flex;
}

#form-builder-container
  .listeOrFormId-wrap:not([data-source='list'])
  .edit-list-btn,
#form-builder-container
  .listeOrFormId-wrap:not([data-source='list'])
  .add-list-btn {
  display: none !important;
}

/* Order of the field attributes */
.form-wrap.form-builder .frmb .form-elements {
  display: flex;
  flex-direction: column;
}
.form-wrap.form-builder .frmb .form-field .form-group {
  order: 100;
}
.required-wrap {
  order: 0 !important;
}
.name-wrap {
  order: 1 !important;
}
.label-wrap {
  order: 2 !important;
}
.subtype-wrap {
  order: 3 !important;
}

.separator-wrap {
  order: 50 !important;
  margin-top: 10px;
  border-top: 1px dashed grey;
  padding-top: 10px;
}
.access-wrap {
  order: 110 !important;
}

.separator-field label,
.separator-field .copy-button,
.separator-field .toggle-form {
  display: none !important;
}
.separator-wrap label,
.separator-wrap .input-wrap {
  display: none !important;
}

.separator-wrap {
  order: 50 !important;
  margin-top: 10px;
  border-top: 1px dashed grey;
  padding-top: 10px;
}

.titre-field .required-wrap,
.titre-field .name-wrap {
  display: none !important;
}

.map-field .label-wrap,
.map-field .value-wrap,
.map-field .name-wrap {
  display: none !important;
}

.date-field .value-wrap {
  display: none !important;
}

.image-field .value-wrap,
.image-field .name-wrap {
  display: none !important;
}
.image-field .name2-wrap {
  order: 1 !important;
}

.select-field .field-options,
.radio-group-field .field-options,
.checkbox-group-field .field-options {
  display: none !important;
}

.form-wrap.form-builder .frmb .form-elements .false-label:first-child,
.form-wrap.form-builder .frmb .form-elements label:first-child {
  white-space: normal;
  text-overflow: initial;
}

.form-wrap.form-builder .form-elements .form-group > label {
  white-space: normal !important;
}

.listId-wrap,
.formId-wrap {
  display: none !important;
}

.textarea-field .maxlength-wrap,
.textarea-field .subtype-wrap {
  display: none !important;
}

.file-field .subtype-wrap {
  display: none !important;
}

.inscriptionliste-field .required-wrap,
.inscriptionliste-field .name-wrap,
.inscriptionliste-field .value-wrap {
  display: none !important;
}

.labelhtml-field .required-wrap,
.labelhtml-field .name-wrap,
.labelhtml-field .value-wrap,
.labelhtml-field .label-wrap {
  display: none !important;
}

.utilisateur_wikini-field .required-wrap,
.utilisateur_wikini-field .name-wrap,
.utilisateur_wikini-field .value-wrap,
.utilisateur_wikini-field .label-wrap {
  display: none !important;
}

.metadatas-field .required-wrap,
.metadatas-field .name-wrap,
.metadatas-field .value-wrap,
.metadatas-field .label-wrap {
  display: none !important;
}

.bookmarklet-field .required-wrap {
  display: none !important;
}

.custom-field .required-wrap,
.custom-field .name-wrap,
.custom-field .value-wrap,
.custom-field .label-wrap {
  display: none !important;
}

xmp {
  overflow: auto;
}

/* Redefine .fa class when icon- class exists, because redefined by form-builder.min.js */
.fa[class*=' icon-']::before,
.fa[class^='icon-']::before {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  font-variant: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: inherit;
  text-transform: inherit;
}

/* Make the list of fields smaller */
.form-wrap.form-builder .frmb li {
  padding: 5px 1rem 8px !important;
  margin: 0 !important;
}

.form-wrap.form-builder .frmb li:first-child {
  padding-top: 10px !important;
}

.form-wrap.form-builder .frmb .field-label {
  font-weight: bold;
}

.form-wrap.form-builder .frmb .prev-holder {
  font-size: 15px;
}

.form-wrap.form-builder .frmb .prev-holder input:not([type='file']),
.form-wrap.form-builder .frmb .prev-holder textarea {
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.form-group.autocomplete_other-wrap {
  display: none;
}

.btn-img-remove {
  display: block;
  position: relative;
  top: -26px;
  width: 20px;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}
