body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
img {
    /* border: 4px solid #f8f8f8; */
    padding: 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.markdown-section pre {
    background-color: #34495e;
    border-radius: 5px;
}
.markdown-section pre>code {
    color: white;
    background-color: transparent;
}

.sidebar-nav > ul > li > a {
    display: none;
}

.app-sub-sidebar li:before {
    content: none;
}

.sidebar .sidebar-nav .app-sub-sidebar {
    margin-left: 0;
}

.sidebar-nav > ul > li > .app-sub-sidebar > li {
    margin-top: 1rem;
}
.sidebar-nav > ul > li > .app-sub-sidebar > li > a {
    font-weight: bold;
}

.sidebar .sidebar-nav li {
    margin: 0;
}

.sidebar {
    background-color: #f7f7f7;
}

.app-nav #back {
    display: none;
}

#back {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.2rem 0 1.2rem 2.5rem;
    font-size: 1.2rem;
    color: var(--theme-color,#42b983) !important;
    text-decoration: none !important;
}
#back:before {
    content: "←";
    margin-right: 5px;
}

.sidebar .search {
    padding: 0;
    border: none;
}
.sidebar .search input {
    border: none;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: .3rem 1rem;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #cbcbcb;
}

footer {
    text-align: center;
}

pre .docsify-copy-code-button {
    background: #34495e;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: .9rem;
}
pre .docsify-copy-code-button.error .error, pre .docsify-copy-code-button.success .success {
    right: 0;
    opacity: 1;
    transform: translate(0,100%);
}

pre[data-lang^="yeswiki"] + .code-preview {
    margin-top: -1.7rem;
}
.markdown-section iframe {
    border: 5px solid #34495e;
    border-radius: 3px;
}