<div class="btn-group">
	<?php if ($connected) : ?>
		<button data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-user"></i>&nbsp;<?php echo $user; ?>&nbsp;<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <?php echo $PageMenuUser; ?>
		  <li><a href="<?php echo $signupurl; ?>" title="<?php echo LOGIN_MODIFY_USER; ?>"><?php echo LOGIN_MODIFY_USER; ?></a></li>
		  <li class="divider"></li>
		  <li><a href="<?php echo $incomingurl; ?>&amp;action=logout" class="login-signout-link" title="<?php echo LOGIN_LOGOUT; ?>"><?php echo LOGIN_LOGOUT; ?></a></li>
		</ul>
	<?php else : ?>
		
			<button data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-user"></i>&nbsp;<?php echo LOGIN_LOGIN; ?>&nbsp;<span class="caret"></span></button>
			<div class="dropdown-menu">
			<form class="login-form" action="<?php echo $incomingurl; ?>" method="post">
	            <div class="control-group">
	              <div class="controls">
	                <input id="inputWikiName" class="input-medium" placeholder="<?php echo LOGIN_WIKINAME; ?>" type="text" name="name" value="<?php if($user) echo htmlspecialchars($user); ?>" />
	              </div>
	            </div>
	            <div class="control-group">
	              <div class="controls">
	                <input id="inputPassword" class="input-medium" placeholder="<?php echo LOGIN_PASSWORD; ?>" name="password" type="password" />
	              </div>
	            </div>
	            <div class="control-group">
	              <div class="controls">
	                <label class="checkbox" for="remember-default">
	                  <input type="checkbox" id="remember-default" name="remember" value="1" /><?php echo LOGIN_REMEMBER_ME; ?>
	                </label>
	                <button type="submit" class="btn btn-block"><?php echo LOGIN_LOGIN; ?></button>
	              </div>
	            </div>
          
<!--
				<label class="login-label"></label>
				<input  />
				<label class="login-label"></label>
				<input type="password"  class="login-input" />
				<div class="login-label">
					<input type="checkbox"  />
					<label class="login-label-remember"></label>
				</div>
				<input type="submit" class="btn btn-primary login-button" value="" />
			 -->
			<input type="hidden" name="action" value="login" />
			<input type="hidden" name="incomingurl" value="<?php echo $userpage; ?>" />
			<input type="hidden" name="remember" value="0" />
		</form>
		</div>
	<?php endif; ?>
</div> <!-- /.btn-group -->