<?php

// backward compatibility TODO delete this file for ectoplasme

$defs = array_keys(get_defined_vars());
echo $this->render("@login/horizontal.twig",compact(array_filter([
    "connected",
    "user",
    "email",
    "incomingurl",
    "signupurl",
    "lostpasswordurl",
    "profileurl",
    "userpage",
    "PageMenuUser",
    "btnclass",
    // "class", // do not transfer class because LoginAction add it
    "nobtn",
    "error"
    ],function($i)use($defs){
        return in_array($i,$defs);
    })));