<?php if ($connected) : ?>
<a href="wakka.php?wiki=<?= $user; ?>" class="link_user">
	<img src="tools/login/presentation/images/user-icon10-black.gif" height="10" width="8" style="margin:2px 5px 0 0" alt="user" />
	<span class="connected"><?= $user; ?></span>
</a>
<form class="logout-form" style="display:inline" method="post" id="signout" action="<?= $incomingurl; ?>">
	<input type="hidden" name="incomingurl" value="<?= $incomingurl; ?>" />
	<input class="logout-button" type="button" value="D&eacute;connexion" onclick="document.location='<?= $incomingurl; ?>&amp;action=logout'" />
</form>
<?= $PageMenuUser; ?>
<?php else : ?>
<form class="login-form" action="<?= $incomingurl; ?>" method="post">
	<?php if ($error) : ?>
		<div class="error_box"><?= $error; ?></div>
	<?php endif; ?>
	<input type="hidden" name="action" value="login" />
	<input type="hidden" name="incomingurl" value="<?= $incomingurl; ?>" />
	<input type="hidden" name="remember" value="0" />
	<div class="login-row">
		<label class="login-label">NomWiki</label>
		<input name="name" class="login-input" size="7" value="<?php if($user) : ?><?= htmlspecialchars($user) ?><?php endif; ?>" />
		<div class="clear"></div>
	</div>
	<div class="login-row">
		<label class="login-label">Mot de passe</label>
		<input type="password" name="password" class="login-input" size="7" />
		<div class="clear"></div>
	</div>
	<div class="login-row">
		<input class="login-checkbox" type="checkbox" id="remember-mini" name="remember" value="1" />
		<label class="login-label-checkbox" for="remember-mini">Se souvenir de moi</label>
		<input type="submit" class="login-button" value="Connexion" />
		<div class="clear"></div>
	</div>
</form>
<?php endif; ?>
