.liste_rss {
  padding-left: 1em;
}
.liste_rss .feed-img {
  width: calc(1em * 4 / 3);
  height: 1em;
  object-fit: cover;
  margin: 0 0.1em 0 0;
  vertical-align: baseline;
}
.feed-description {
  margin-bottom: 1em;
}
.feed-description img,
.feed-description svg {
  max-width: 100% !important;
  height: auto;
}
.feed-item.with-desc {
  margin-bottom: 2em;
}
.feed-item.with-desc .feed-img {
  width: 200px;
  height: calc(200px * 3 / 4);
  object-fit: cover;
  margin: 0 1em 0.25em 0;
}
.feed-item h3 {
  margin-bottom: 0.25em;
}
.feed_syndication .bazar-entry:first-child .panel-heading.collapsed {
  padding-top: 0em;
}
.feed_syndication
  .bazar-entry:first-child
  .panel-heading.collapsed[data-toggle='collapse']::after {
  top: 0.6rem;
}
.panel-heading .feed-img {
  margin: 0 0.1em 0 0;
  width: calc(1.5em * 4 / 3);
  height: 1.5em;
  object-fit: cover;
  vertical-align: middle;
}
.bazar-actions {
  font-size: 0.7em;
  display: inline-block;
  padding: 0.25em;
}
